<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="409897c6-10ac-463f-8fc7-c40ef543a766" Alias="contacto" Level="1">
  <Info>
    <Name>Contacto</Name>
    <Icon>icon-addressbook color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="522437b1-65cb-4ad0-9178-e29ed2007917">header</Composition>
    </Compositions>
    <DefaultTemplate>Contacto</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4d99a297-0dcf-46d1-8ea2-cb3299d662ca">Contacto</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="efe8b0cf-2246-4f68-b3c3-6a4fec304302" SortOrder="0">pregunta</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e4eafe8d-f1e8-4ee4-bd90-b3247ec03b15</Key>
      <Name>Titulo1</Name>
      <Alias>titulo1</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d4729b8d-f862-4fb1-8fc3-a4ccc5c30c7e</Key>
      <Caption>General</Caption>
      <Alias>general</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>