<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b8d2c3c3-78bd-40fb-a9e5-b0cea0fc0b22" Alias="mapa" Level="1">
  <Info>
    <Name>Mapa</Name>
    <Icon>icon-map-location color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="fa4ca34b-c36c-424e-93ea-69ab1c32b5d4" SortOrder="0">pais</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>