<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="435bd384-e33b-4a07-bed6-425df30728e1" Alias="requests" Level="1">
  <Info>
    <Name>Requests</Name>
    <Icon>icon-folders color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Requests</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8068087f-d13c-454a-9fac-9fa1efdeef01">Requests</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6f4d5c32-ad02-4c11-ab61-a5242e3bd222" SortOrder="0">request</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>