<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d808182e-55ee-4357-b8d5-cef2f50b20b1" Alias="sector" Level="1">
  <Info>
    <Name>Sectores</Name>
    <Icon>icon-stacked-disks color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="522437b1-65cb-4ad0-9178-e29ed2007917">header</Composition>
    </Compositions>
    <DefaultTemplate>Sectores</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a3c06ab6-9588-4664-9968-cac82a4a4bb7">Sectores</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3cc4d140-92b4-4fd4-988a-3993cb82962d" SortOrder="0">sectores</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>