<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="95bc5863-1e9d-404f-8049-41b95c97cd98" Alias="testimonios" Level="1">
  <Info>
    <Name>Testimonios</Name>
    <Icon>icon-stacked-disks color-deep-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="522437b1-65cb-4ad0-9178-e29ed2007917">header</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="5dc67117-f26f-47cf-9986-5055dc69c7ad" SortOrder="0">testimonio</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>