@model UmbracoProject1.Models.SolicitudModel
<!-- Modal -->
<div class="modal" id="infoModal" tabindex="-1" aria-labelledby="infoModal" style="z-index:1141">
  <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card card-plain">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-azul text-center py-4">
              <h4 class="font-weight-bolder text-white mt-1">Contáctanos</h4>
            </div>
          </div>
          <div class="card-body pb-3">
              @await Html.PartialAsync("_FContacto", Model)
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>