@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage



@{
    var logo = Model.Value<IPublishedContent>("logoinicio");
    var banner = Model.Value<IPublishedContent>("imgbanner");
    var logobanner = Model.Value<IPublishedContent>("logobanner");
}

<div class="row" style="position:relative; z-index:2; margin:0">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container-fluid">
                @if (Model.Url().ToString().ToLower().Contains("/es/"))
                {
                <a href="/es/"><img class="logo-principal" src="@logo.Url()" alt="Logo SPIEX"/></a>
                }
                 @if (Model.Url().ToString().ToLower().Contains("/en-us/"))
                {
               <a href="/en-us/"><img class="logo-principal" src="@logo.Url()" alt="Logo SPIEX"/></a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        @if (Model.Url().ToString().ToLower().Contains("/es/"))
                        {
                        <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/es/inicio">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/es/por-que-nicaragua">¿Por qué Nicaragua?</a>
                        </li>
                        <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/es/sectores">Sectores</a>
                        </li>
                        <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/es/servicios">Servicios</a>
                        </li>
                         <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/es/recursos">Recursos</a>
                        </li>
                        <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/es/contacto">Contacto</a>
                        </li>
                        }


                        @if (Model.Url().ToString().ToLower().Contains("/en-us/"))
                        {
                        <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/en-us/inicio">Home</a>
                        </li>
                        <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/en-us/por-que-nicaragua">Why Nicaragua?</a>
                        </li>
                        <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/en-us/sectores">Sectors</a>
                        </li>
                        <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/en-us/servicios">Services</a>
                        </li>
                         <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/en-us/recursos">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a id="na" class="nav-link " aria-current="page" href="/en-us/contacto">Contact Us</a>
                        </li>
                        }
                        <div class="dropdown">
                          <input type="checkbox" id="dropdown" />
                          <label for="dropdown" class="dropdown-btn">
                            <span><i class="bi bi-globe" style="padding:5px"></i></span>
                            <span class="arrow"></span>
                          </label>
                          
                          <ul class="dropdown-content" role="menu">
                            <li><a id="espanol" href="#">Es</a></li>
                            <li><a id="ingles" href="#">En</a></li>
                          </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
</div>

<div id="header" class="container-fluid d-flex align-items-center" style="position: relative; background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(@banner.Url()); background-position: center center; background-size: cover; background-repeat: no-repeat; height: 70vh;margin-top: -85px;">
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto" style="z-index:1;">
                 
            </div>
        </div>
    </div>
    <div class="container-fluid mover">
        <div class="row d-flex justify-content-end">
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var ingles = document.getElementById("ingles");
        var espanol = document.getElementById("espanol");
        ingles.addEventListener("click", function() {
            var currentURL = window.location.href;
        
            if (currentURL.includes("/es/")) {
                var nuevaURL = currentURL.replace("/es/", "/en-us/");
                window.location.href = nuevaURL;
            }
            else
            {
                
            }
        });
        espanol.addEventListener("click", function() {
            var currentURL = window.location.href;
        
            if (currentURL.includes("/en-us/")) {
                var nuevaURL = currentURL.replace("/en-us/", "/es/");
                window.location.href = nuevaURL;
            }
            else
            {
                
            }
        });
    });
</script>