<div id="solicitudes" data-url="@Url.Action("Crear", "Solicitudesch")"></div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
}


@* Este tiene el id para hacer funcionar el modal *@