<?xml version="1.0" encoding="utf-8"?>
<Domain Key="ed209a25-0000-0000-0000-000000000000" Alias="/en-us/resources">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="64abb70c-0e61-497b-99c3-8d70848c8a55">/Recursos</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>