<?xml version="1.0" encoding="utf-8"?>
<Domain Key="e8f93d60-0000-0000-0000-000000000000" Alias="/en-us/noticias">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="d38c280c-5d26-4154-949f-e5314a9a64dc">/Noticias</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>