<?xml version="1.0" encoding="utf-8"?>
<Domain Key="b61c85a2-0000-0000-0000-000000000000" Alias="/en-us/sectores">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="78ac5dec-4966-4095-8ae4-48c6ddf91ed0">/Sectores</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>