<?xml version="1.0" encoding="utf-8"?>
<Domain Key="9130dada-0000-0000-0000-000000000000" Alias="/en-us/page-not-found">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="cdb6914c-b08a-4fa6-806b-b7ae25cc6528">/Error404</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>