<?xml version="1.0" encoding="utf-8"?>
<Domain Key="9e7124e4-0000-0000-0000-000000000000" Alias="/en-us/contact">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="9a628330-ee37-4956-8eac-b2f1808a5600">/Contacto</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>