<?xml version="1.0" encoding="utf-8"?>
<Domain Key="fd6b87bc-0000-0000-0000-000000000000" Alias="/en-us/services">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="0320ac25-f4ab-4d21-bf89-fd004da764f8">/Servicios</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>