<?xml version="1.0" encoding="utf-8"?>
<Domain Key="c39f92b9-0000-0000-0000-000000000000" Alias="/es/contacto">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>es-NI</Language>
    <Root Key="9a628330-ee37-4956-8eac-b2f1808a5600">/Contacto</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>