<?xml version="1.0" encoding="utf-8"?>
<Domain Key="e6224e20-0000-0000-0000-000000000000" Alias="/es/noticias">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>es-NI</Language>
    <Root Key="d38c280c-5d26-4154-949f-e5314a9a64dc">/Noticias</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>