<?xml version="1.0" encoding="utf-8"?>
<Domain Key="8e07b10c-0000-0000-0000-000000000000" Alias="/es/pagina-no-encontrada">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>es-NI</Language>
    <Root Key="cdb6914c-b08a-4fa6-806b-b7ae25cc6528">/Error404</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>