<?xml version="1.0" encoding="utf-8"?>
<Domain Key="b28fcd83-0000-0000-0000-000000000000" Alias="/es/por-que-nicaragua">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>es-NI</Language>
    <Root Key="d61903a2-dedf-4298-8940-9dd466582798">/Por qué Nicaragua</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>