<?xml version="1.0" encoding="utf-8"?>
<Domain Key="ad3825d0-0000-0000-0000-000000000000" Alias="/es/recursos">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>es-NI</Language>
    <Root Key="64abb70c-0e61-497b-99c3-8d70848c8a55">/Recursos</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>