<?xml version="1.0" encoding="utf-8"?>
<Domain Key="ee0789fb-0000-0000-0000-000000000000" Alias="/es/servicios">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>es-NI</Language>
    <Root Key="0320ac25-f4ab-4d21-bf89-fd004da764f8">/Servicios</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Domain>