<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ba70fcd-5c2a-41b9-b9da-8ffd31e4a62b" Alias="3.ENERGIA" Level="103">
  <Info>
    <Parent Key="c2b136ac-0aed-40e9-b4a9-14651cb4e505">Portadas</Parent>
    <Path>/[-21]/PorqueNicaragua/Portadas/ENERGIA</Path>
    <Trashed Parent="c2b136ac-0aed-40e9-b4a9-14651cb4e505">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:04</CreateDate>
    <NodeName Default="3.ENERGIA" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zmhlo4zk/3energia.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>