<?xml version="1.0" encoding="utf-8"?>
<Media Key="e338f6bf-b019-4f54-91d8-57d116cb0aa7" Alias="90 De Incremento En Producción Y Exportación En La Última Década" Level="103">
  <Info>
    <Parent Key="654d9d82-f8fa-4ed8-8a0b-743743704d19">Pesca y acuicultura</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/DeIncrementoEnProduccionYExportacionEnLaUltimaDecada</Path>
    <Trashed Parent="654d9d82-f8fa-4ed8-8a0b-743743704d19">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:03</CreateDate>
    <NodeName Default="90 De Incremento En Producción Y Exportación En La Última Década" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xh1dryyz/90-de-incremento-en-producción-y-exportación-en-la-última-década.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>