<?xml version="1.0" encoding="utf-8"?>
<Media Key="4af0b66d-f798-4d0d-9fec-e07c9a5313d5" Alias="A La Par Del Documento" Level="105">
  <Info>
    <Parent Key="10da1021-121f-47f7-b417-418d8b5858cd">brochure</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/PaginaInterna/brochure/ALaParDelDocumento</Path>
    <Trashed Parent="10da1021-121f-47f7-b417-418d8b5858cd">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:33:05</CreateDate>
    <NodeName Default="A La Par Del Documento" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ow1pasuy/a-la-par-del-documento.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>