<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f6b14db-d045-4c33-bfff-20b0894e8ffc" Alias="A La Par Del Documento" Level="6">
  <Info>
    <Parent Key="2303a00f-9661-49fb-af7b-0dfdbd379395">brochure</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/brochure/ALaParDelDocumento</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:38</CreateDate>
    <NodeName Default="A La Par Del Documento" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ymkgw50f/a-la-par-del-documento.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>