<?xml version="1.0" encoding="utf-8"?>
<Media Key="b675c3d6-b669-49cc-a029-e3850a970200" Alias="A La Par Del Documento" Level="6">
  <Info>
    <Parent Key="7611614d-1c2d-4d0f-98ac-1df09dd56bc4">Brochures</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/PaginasInternas/Brochures/ALaParDelDocumento</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:44</CreateDate>
    <NodeName Default="A La Par Del Documento" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z1bhlntj/a-la-par-del-documento.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>