<?xml version="1.0" encoding="utf-8"?>
<Media Key="bacbc4ed-5853-49e1-b2d4-f7237c1796a0" Alias="Acceso A Los Mercados De Estados Unidos, Canadá Y Europa" Level="5">
  <Info>
    <Parent Key="8c30ec32-a676-4809-9b71-f53010533338">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/PaginaInterna/AccesoALosMercadosDeEstadosUnidosCanadaYEuropa</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:31</CreateDate>
    <NodeName Default="Acceso A Los Mercados De Estados Unidos, Canadá Y Europa" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3pcmxost/acceso-a-los-mercados-de-estados-unidos-canadá-y-europa.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>