<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccb377ff-cd6c-4c66-a45d-38ddf7971496" Alias="Acuerdo Regional De Integración" Level="103">
  <Info>
    <Parent Key="e329b467-e8df-4721-b503-2910e8fb64f3">Tratados comerciales</Parent>
    <Path>/[-21]/PorqueNicaragua/TratadosComerciales/AcuerdoRegionalDeIntegracion</Path>
    <Trashed Parent="e329b467-e8df-4721-b503-2910e8fb64f3">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:11</CreateDate>
    <NodeName Default="Acuerdo Regional De Integración" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5f1lhtdm/acuerdo-regional-de-integración.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>