<?xml version="1.0" encoding="utf-8"?>
<Media Key="43a5dc3c-c77a-44f0-89b7-e66a23291f47" Alias="Acuerdo De Asociación" Level="103">
  <Info>
    <Parent Key="e329b467-e8df-4721-b503-2910e8fb64f3">Tratados comerciales</Parent>
    <Path>/[-21]/PorqueNicaragua/TratadosComerciales/AcuerdoDeAsociacion</Path>
    <Trashed Parent="e329b467-e8df-4721-b503-2910e8fb64f3">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:06</CreateDate>
    <NodeName Default="Acuerdo De Asociación" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hlokkq10/acuerdo-de-asociación.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>