<?xml version="1.0" encoding="utf-8"?>
<Media Key="184b33e3-d6a2-4589-b852-f158497ffeb8" Alias="Acuerdo De Cosecha Temprana Tratado En Negociación" Level="102">
  <Info>
    <Parent Key="20bc30aa-c426-4721-a1f3-87f8fdcc7bea">Tratados comerciales</Parent>
    <Path>/[-21]/TratadosComerciales/AcuerdoDeCosechaTempranaTratadoEnNegociacion</Path>
    <Trashed Parent="20bc30aa-c426-4721-a1f3-87f8fdcc7bea">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-05T10:36:13</CreateDate>
    <NodeName Default="Acuerdo De Cosecha Temprana Tratado En Negociación" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2uzfwgfc/acuerdo-de-cosecha-temprana-tratado-en-negociación.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>