<?xml version="1.0" encoding="utf-8"?>
<Media Key="fba2def8-54da-4048-b69e-3713e4d5068e" Alias="Acuerdo De Alcance Parcial" Level="4">
  <Info>
    <Parent Key="95c3aea4-7e65-463e-b9ec-aec3f9172a85">Tratados comerciales</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/TratadosComerciales/AcuerdoDeAlcanceParcial</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:01</CreateDate>
    <NodeName Default="Acuerdo De Alcance Parcial" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/51pkf440/acuerdo-de-alcance-parcial.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>