<?xml version="1.0" encoding="utf-8"?>
<Media Key="60f56081-6d8a-400f-bdfd-9ef4c5d77aea" Alias="Agribusiness" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Agribusiness</Path>
    <Trashed Parent="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T20:47:01</CreateDate>
    <NodeName Default="Agribusiness" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/q3qpkyek/agribusiness.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>