<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e902b98-13d0-4615-8614-e04e4b77853b" Alias="Agribusiness (1)" Level="2">
  <Info>
    <Parent Key="0fd5eb52-9f41-43af-a970-25d4c43168b5">Documentos Ingles</Parent>
    <Path>/DocumentosIngles/Agribusiness1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-18T14:08:05</CreateDate>
    <NodeName Default="Agribusiness (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tyvjadwq/agribusiness.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>