<?xml version="1.0" encoding="utf-8"?>
<Media Key="94800e41-d9cf-46f7-bf3a-9f30bd1fc906" Alias="Agribusiness Min" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/AgribusinessMin</Path>
    <Trashed Parent="a867f597-5571-4b9f-bb92-06c16f359ee5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:54</CreateDate>
    <NodeName Default="Agribusiness Min" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i2hibfgp/agribusiness-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>