<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ac0982f-9549-44ea-bcbb-21b7068008b3" Alias="Agribusiness" Level="2">
  <Info>
    <Parent Key="0fd5eb52-9f41-43af-a970-25d4c43168b5">Documentos Ingles</Parent>
    <Path>/DocumentosIngles/Agribusiness</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-08-16T10:06:59</CreateDate>
    <NodeName Default="Agribusiness" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/agmma4sj/agribusiness.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>