<?xml version="1.0" encoding="utf-8"?>
<Media Key="51af0255-0efe-4f24-8147-4a157bfb314e" Alias="Agribusiness" Level="6">
  <Info>
    <Parent Key="697212ee-5a99-453b-8610-879c7eaac710">Brochure-Invierta en Nicaragua Agronegocios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/BrochureInviertaEnNicaraguaAgronegocios/Agribusiness</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:23:35</CreateDate>
    <NodeName Default="Agribusiness" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pmbk4up4/agribusiness.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>