<?xml version="1.0" encoding="utf-8"?>
<Media Key="96940064-1cb5-42fc-9d7a-73d17b479880" Alias="Agribusiness Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/AgribusinessMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T16:01:27</CreateDate>
    <NodeName Default="Agribusiness Min" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/miajjfvv/agribusiness-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>