<?xml version="1.0" encoding="utf-8"?>
<Media Key="c729477c-43e5-48ba-b4ec-dc69cbc7ebae" Alias="Agronegocios" Level="105">
  <Info>
    <Parent Key="71532c29-10ae-45e6-baab-f1293db36292">Brochure-Invierta en Nicaragua Agronegocios</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/BrochureInviertaEnNicaraguaAgronegocios/Agronegocios</Path>
    <Trashed Parent="71532c29-10ae-45e6-baab-f1293db36292">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:33:11</CreateDate>
    <NodeName Default="Agronegocios" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pjddtr5f/agronegocios.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>