<?xml version="1.0" encoding="utf-8"?>
<Media Key="219bf620-8e26-4a23-82d3-f5c18307adab" Alias="Agronegocios Nicaragua" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AgronegociosNicaragua</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-08-14T11:43:23</CreateDate>
    <NodeName Default="Agronegocios Nicaragua" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/b11jwijg/agronegocios-nicaragua.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>