<?xml version="1.0" encoding="utf-8"?>
<Media Key="5021e79f-3af4-4ff2-88eb-ee6dcca24ca0" Alias="Agronegocios 3 Secretaría De Promoción De Inversiones Y Exportaciones" Level="5">
  <Info>
    <Parent Key="cb66c451-1618-4863-a4c9-931560765b1a">Imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/ImagenesDelSector/Agronegocios3SecretariaDePromocionDeInversionesYExportaciones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:21</CreateDate>
    <NodeName Default="Agronegocios 3 Secretaría De Promoción De Inversiones Y Exportaciones" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/thtdcuhu/agronegocios-3-secretaría-de-promoción-de-inversiones-y-exportaciones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>