<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc8d8ff8-2e97-4f9a-8966-c7901a028b09" Alias="Agronegocios" Level="6">
  <Info>
    <Parent Key="697212ee-5a99-453b-8610-879c7eaac710">Brochure-Invierta en Nicaragua Agronegocios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/BrochureInviertaEnNicaraguaAgronegocios/Agronegocios</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:35</CreateDate>
    <NodeName Default="Agronegocios" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/50hj1xex/agronegocios.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>