<?xml version="1.0" encoding="utf-8"?>
<Media Key="fcc5c85b-0a5f-4bd4-89b9-68f23baa6fdc" Alias="Agronegocios" Level="102">
  <Info>
    <Parent Key="6f00c1fb-6566-45d4-9f27-873f34849c1f">Sectores</Parent>
    <Path>/[-21]/Sectores/Agronegocios</Path>
    <Trashed Parent="6f00c1fb-6566-45d4-9f27-873f34849c1f">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:00</CreateDate>
    <NodeName Default="Agronegocios" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>