<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff1bb94c-1f4a-4a4f-8549-839be481563e" Alias="Agronegocios Nicaragua" Level="105">
  <Info>
    <Parent Key="71532c29-10ae-45e6-baab-f1293db36292">Brochure-Invierta en Nicaragua Agronegocios</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/BrochureInviertaEnNicaraguaAgronegocios/AgronegociosNicaragua</Path>
    <Trashed Parent="71532c29-10ae-45e6-baab-f1293db36292">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T10:33:08</CreateDate>
    <NodeName Default="Agronegocios Nicaragua" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mk2bx50k/agronegocios-nicaragua.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>