<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb6790c5-fffe-4bce-924c-6e5e1e44d106" Alias="Agroindustria" Level="3">
  <Info>
    <Parent Key="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">Sectores</Parent>
    <Path>/Imagenes/Sectores/Agroindustria</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:43:35</CreateDate>
    <NodeName Default="Agroindustria" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yoigps54/agroindustria.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>