<?xml version="1.0" encoding="utf-8"?>
<Media Key="5dce8a82-ca73-4ebd-9981-c9a09e37a2b6" Alias="Agronegocios Nicaragua" Level="6">
  <Info>
    <Parent Key="697212ee-5a99-453b-8610-879c7eaac710">Brochure-Invierta en Nicaragua Agronegocios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/BrochureInviertaEnNicaraguaAgronegocios/AgronegociosNicaragua</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:23:35</CreateDate>
    <NodeName Default="Agronegocios Nicaragua" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vsfm2xlt/agronegocios-nicaragua.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>