<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c10d695-306f-48c4-9534-e32972ed5950" Alias="Agronegocios En Nicaragua Secretaría De Promoción De Inversiones Y Exportaciones SPIEX" Level="4">
  <Info>
    <Parent Key="36625aca-ed9f-4059-9acf-47a0acdf7433">Sectores</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/Sectores/AgronegociosEnNicaraguaSecretariaDePromocionDeInversionesYExportacionesSPIEX</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:19</CreateDate>
    <NodeName Default="Agronegocios En Nicaragua Secretaría De Promoción De Inversiones Y Exportaciones SPIEX" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/splbahdp/agronegocios-en-nicaragua-secretaría-de-promoción-de-inversiones-y-exportaciones-spiex.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>