<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b9895e7-4f7c-4166-b6e1-cd9ec8888bf6" Alias="Agronegocios 1 Secretaría De Promoción De Inversiones Y Exportaciones" Level="5">
  <Info>
    <Parent Key="cb66c451-1618-4863-a4c9-931560765b1a">Imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/ImagenesDelSector/Agronegocios1SecretariaDePromocionDeInversionesYExportaciones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:20</CreateDate>
    <NodeName Default="Agronegocios 1 Secretaría De Promoción De Inversiones Y Exportaciones" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2gkjqs12/agronegocios-1-secretaría-de-promoción-de-inversiones-y-exportaciones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>