<?xml version="1.0" encoding="utf-8"?>
<Media Key="53e5eaef-c0e8-4ff6-9856-ce56b0121548" Alias="Agronegocios 9 Secretaría De Promoción De Inversiones Y Exportaciones" Level="5">
  <Info>
    <Parent Key="cb66c451-1618-4863-a4c9-931560765b1a">Imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/ImagenesDelSector/Agronegocios9SecretariaDePromocionDeInversionesYExportaciones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:22</CreateDate>
    <NodeName Default="Agronegocios 9 Secretaría De Promoción De Inversiones Y Exportaciones" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3hvoku5i/agronegocios-9-secretaría-de-promoción-de-inversiones-y-exportaciones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>