<?xml version="1.0" encoding="utf-8"?>
<Media Key="70f3f688-17f8-4976-a3ed-b3e1f4d28353" Alias="Agronegocios" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Agronegocios</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:54</CreateDate>
    <NodeName Default="Agronegocios" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r11pg2hy/agronegocios.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>