<?xml version="1.0" encoding="utf-8"?>
<Media Key="620d02a9-4db8-4b6a-817d-f628d505743f" Alias="Agronegocios Nicaragua" Level="102">
  <Info>
    <Parent Key="89c10c4c-ffc4-40b6-859b-92180d8f45aa">Documentos</Parent>
    <Path>/[-21]/Documentos/AgronegociosNicaragua</Path>
    <Trashed Parent="89c10c4c-ffc4-40b6-859b-92180d8f45aa">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-08-16T10:06:37</CreateDate>
    <NodeName Default="Agronegocios Nicaragua" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/q2ba0yvy/agronegocios-nicaragua.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>