<?xml version="1.0" encoding="utf-8"?>
<Media Key="4324755e-d9fe-401a-ae27-89d96216feb4" Alias="Agronegocios 10 Secretaría De Promoción De Inversiones Y Exportaciones" Level="5">
  <Info>
    <Parent Key="cb66c451-1618-4863-a4c9-931560765b1a">Imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/ImagenesDelSector/Agronegocios10SecretariaDePromocionDeInversionesYExportaciones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:20</CreateDate>
    <NodeName Default="Agronegocios 10 Secretaría De Promoción De Inversiones Y Exportaciones" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lb0diq54/agronegocios-10-secretaría-de-promoción-de-inversiones-y-exportaciones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>