<?xml version="1.0" encoding="utf-8"?>
<Media Key="63780281-758a-4728-bb65-3738a5e403c6" Alias="Agronegocios 2 Secretaría De Promoción De Inversiones Y Exportaciones" Level="5">
  <Info>
    <Parent Key="cb66c451-1618-4863-a4c9-931560765b1a">Imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/ImagenesDelSector/Agronegocios2SecretariaDePromocionDeInversionesYExportaciones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:21</CreateDate>
    <NodeName Default="Agronegocios 2 Secretaría De Promoción De Inversiones Y Exportaciones" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/q2bhqy2k/agronegocios-2-secretaría-de-promoción-de-inversiones-y-exportaciones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>