<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ba4811e-b13d-44ff-8b15-a4debb62171b" Alias="Agroindustria" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Agroindustria</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T15:27:14</CreateDate>
    <NodeName Default="Agroindustria" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dcalisz3/agroindustria.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>