<?xml version="1.0" encoding="utf-8"?>
<Media Key="49a28c86-fb61-4ec5-a11e-7bc942f915da" Alias="Aprovechamiento Forestal" Level="4">
  <Info>
    <Parent Key="20965964-d4ac-4b9b-a46e-14434dfe28c9">Forestal</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/AprovechamientoForestal</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:07</CreateDate>
    <NodeName Default="Aprovechamiento Forestal" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qcgkeslb/aprovechamiento-forestal.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>