<?xml version="1.0" encoding="utf-8"?>
<Media Key="32cb94bc-ac61-4921-8970-9ed874fe8a38" Alias="Arneses Automotrices" Level="103">
  <Info>
    <Parent Key="5ac75c4d-2edf-4f32-8f55-5c9ecbc6470c">Manufactura Ligera</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera/ArnesesAutomotrices</Path>
    <Trashed Parent="5ac75c4d-2edf-4f32-8f55-5c9ecbc6470c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:02</CreateDate>
    <NodeName Default="Arneses Automotrices" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xkkmwmtb/arneses-automotrices.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>