<?xml version="1.0" encoding="utf-8"?>
<Media Key="90156315-a7d1-441a-a96a-78a93eed7732" Alias="Atención A Usuarios" Level="6">
  <Info>
    <Parent Key="17919fd8-b4e1-4af8-8dec-9bd0e9948f02">Productos con potencial desarollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/ProductosConPotencialDesarollo/AtencionAUsuarios</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:39</CreateDate>
    <NodeName Default="Atención A Usuarios" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cnrblegr/atención-a-usuarios.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>