<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddee0af0-b553-4d8c-9773-ee9ed15119be" Alias="Atún" Level="5">
  <Info>
    <Parent Key="6d2a636f-41cf-45d1-82bc-d66d09a848d3">Sectores con potencial de desarrollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/SectoresConPotencialDeDesarrollo/Atun</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:33</CreateDate>
    <NodeName Default="Atún" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4yfo3xkt/atún.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>