<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed4a1035-a4af-4f86-904f-704da3e2fe14" Alias="Banner-Inicio" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BannerInicio</Path>
    <Trashed Parent="bf6c6430-a535-4b2a-b99d-30277ed06531">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T17:51:58</CreateDate>
    <NodeName Default="Banner-Inicio" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gmiev1np/inicio-4-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>