<?xml version="1.0" encoding="utf-8"?>
<Media Key="49150a62-7f89-494c-846f-4e89046c9e77" Alias="BCN" Level="4">
  <Info>
    <Parent Key="ed6bfdcf-a765-4c56-9714-ec6fc148e741">Enlaces de interes</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/EnlacesDeInteres/BCN</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:14</CreateDate>
    <NodeName Default="BCN" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mqfbksmj/bcn.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>