<?xml version="1.0" encoding="utf-8"?>
<Media Key="7611614d-1c2d-4d0f-98ac-1df09dd56bc4" Alias="Brochures" Level="5">
  <Info>
    <Parent Key="840cde17-8a7f-4317-89a0-3141760dcb7b">Páginas internas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/PaginasInternas/Brochures</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:44</CreateDate>
    <NodeName Default="Brochures" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>