<?xml version="1.0" encoding="utf-8"?>
<Media Key="2303a00f-9661-49fb-af7b-0dfdbd379395" Alias="brochure" Level="5">
  <Info>
    <Parent Key="a247cc52-c06f-4c69-8609-8a4e7c07e398">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/brochure</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:38</CreateDate>
    <NodeName Default="brochure" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>