<?xml version="1.0" encoding="utf-8"?>
<Media Key="49dfc5bf-1974-44d3-a506-6a71b106566a" Alias="Brochures" Level="103">
  <Info>
    <Parent Key="da32e19e-f70e-4d35-83da-600b45275ba4">Forestal</Parent>
    <Path>/[-21]/Sectores/Forestal/Brochures</Path>
    <Trashed Parent="da32e19e-f70e-4d35-83da-600b45275ba4">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:43</CreateDate>
    <NodeName Default="Brochures" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>