<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e60a6f2-1b09-4349-b34c-638fc8929d75" Alias="brochures" Level="104">
  <Info>
    <Parent Key="480204a5-26ff-4a69-81db-72e42a5a37c4">Página interna</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/PaginaInterna/brochures</Path>
    <Trashed Parent="480204a5-26ff-4a69-81db-72e42a5a37c4">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:33:19</CreateDate>
    <NodeName Default="brochures" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>