<?xml version="1.0" encoding="utf-8"?>
<Media Key="3312f033-47a0-472f-97d9-8bf88791f795" Alias="brochures" Level="5">
  <Info>
    <Parent Key="8c30ec32-a676-4809-9b71-f53010533338">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/PaginaInterna/brochures</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:46</CreateDate>
    <NodeName Default="brochures" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>