<?xml version="1.0" encoding="utf-8"?>
<Media Key="987d6e7d-a68b-48de-af61-a793f9ee1dd2" Alias="Brochures" Level="104">
  <Info>
    <Parent Key="79d17df5-2bf5-42e0-9390-20b2e91904a9">Páginas internas</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera/PaginasInternas/Brochures</Path>
    <Trashed Parent="79d17df5-2bf5-42e0-9390-20b2e91904a9">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:33:10</CreateDate>
    <NodeName Default="Brochures" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>