<?xml version="1.0" encoding="utf-8"?>
<Media Key="71532c29-10ae-45e6-baab-f1293db36292" Alias="Brochure-Invierta en Nicaragua Agronegocios" Level="104">
  <Info>
    <Parent Key="2e9bbc22-3250-4895-9912-3634743696f9">Página interna</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/BrochureInviertaEnNicaraguaAgronegocios</Path>
    <Trashed Parent="2e9bbc22-3250-4895-9912-3634743696f9">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:33:03</CreateDate>
    <NodeName Default="Brochure-Invierta en Nicaragua Agronegocios" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>