<?xml version="1.0" encoding="utf-8"?>
<Media Key="697212ee-5a99-453b-8610-879c7eaac710" Alias="Brochure-Invierta en Nicaragua Agronegocios" Level="5">
  <Info>
    <Parent Key="4327b099-06ac-44bf-a461-9ba4a56af37a">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/BrochureInviertaEnNicaraguaAgronegocios</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:35</CreateDate>
    <NodeName Default="Brochure-Invierta en Nicaragua Agronegocios" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>