<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1d1108f-423e-4c48-8c3c-29e42f273cf1" Alias="Calzado" Level="103">
  <Info>
    <Parent Key="5ac75c4d-2edf-4f32-8f55-5c9ecbc6470c">Manufactura Ligera</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera/Calzado</Path>
    <Trashed Parent="5ac75c4d-2edf-4f32-8f55-5c9ecbc6470c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:02</CreateDate>
    <NodeName Default="Calzado" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/reindmj4/calzado.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>