<?xml version="1.0" encoding="utf-8"?>
<Media Key="d86df705-1a3d-4b62-95c0-8ff6b2cc6406" Alias="Calzado" Level="4">
  <Info>
    <Parent Key="8d0f722b-f6e2-4e5a-a05a-7ad40e1e0da7">Manufactura Ligera</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/Calzado</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:08</CreateDate>
    <NodeName Default="Calzado" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ap1h1wb3/calzado.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>