<?xml version="1.0" encoding="utf-8"?>
<Media Key="e27c8111-31ee-47ea-a2b3-bc96a2df8ff5" Alias="CBC 9063 150" Level="104">
  <Info>
    <Parent Key="d9d228e0-49be-4898-bace-b12fd05a16b7">Imágenes del sector</Parent>
    <Path>/[-21]/Sectores/Agronegocios/ImagenesDelSector/CBC9063150</Path>
    <Trashed Parent="d9d228e0-49be-4898-bace-b12fd05a16b7">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:14</CreateDate>
    <NodeName Default="CBC 9063 150" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c4ahzyxo/cbc_9063-150.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>