<?xml version="1.0" encoding="utf-8"?>
<Media Key="12288c71-b74f-487f-a098-75f8939a9622" Alias="Centros De Servicios Compartidos" Level="103">
  <Info>
    <Parent Key="37aa0395-f507-4d49-9ae2-e3286e4ffd70">Externalización de Servicios</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/CentrosDeServiciosCompartidos</Path>
    <Trashed Parent="37aa0395-f507-4d49-9ae2-e3286e4ffd70">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:01</CreateDate>
    <NodeName Default="Centros De Servicios Compartidos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o4gcqesp/centros-de-servicios-compartidos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>