<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0f69605-eaa8-408b-8b9f-0a6e2b472a6c" Alias="Centroamerica" Level="4">
  <Info>
    <Parent Key="9d73a652-28e1-4509-be2e-0dba26403a4f">Comercio exterior</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/ComercioExterior/Centroamerica</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:22:56</CreateDate>
    <NodeName Default="Centroamerica" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aolpnifi/centroamerica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>