<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc9072c3-b861-4d51-871f-40555b78f325" Alias="Centros De Servicios Compartidos (CSS)" Level="4">
  <Info>
    <Parent Key="ff73085f-2dd4-4e1c-9eda-fe6aef22d57b">Externalización de Servicios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/CentrosDeServiciosCompartidosCSS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:06</CreateDate>
    <NodeName Default="Centros De Servicios Compartidos (CSS)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yvzjbxdb/centros-de-servicios-compartidos-css.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>