<?xml version="1.0" encoding="utf-8"?>
<Media Key="14468e29-9f34-4875-abc8-fdc6c6d69459" Alias="Chico Vanegas Clones Teca Malaysia 2012" Level="6">
  <Info>
    <Parent Key="89660459-bb7f-4e34-8610-19f8dc2a5a15">Imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/PaginaInterna/ImagenesDelSector/ChicoVanegasClonesTecaMalaysia2012</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:41</CreateDate>
    <NodeName Default="Chico Vanegas Clones Teca Malaysia 2012" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f4hemfbu/chico-vanegas-clones-teca-malaysia-2012.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>