<?xml version="1.0" encoding="utf-8"?>
<Media Key="a252d53c-1124-4517-9360-c589059abfc9" Alias="Chico Vanegas Clones Teca Malaysia 2012" Level="103">
  <Info>
    <Parent Key="da32e19e-f70e-4d35-83da-600b45275ba4">Forestal</Parent>
    <Path>/[-21]/Sectores/Forestal/ChicoVanegasClonesTecaMalaysia2012</Path>
    <Trashed Parent="da32e19e-f70e-4d35-83da-600b45275ba4">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:02</CreateDate>
    <NodeName Default="Chico Vanegas Clones Teca Malaysia 2012" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hlkffire/chico-vanegas-clones-teca-malaysia-2012.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>