<?xml version="1.0" encoding="utf-8"?>
<Media Key="7380a76c-9d25-4561-a887-ce6c6d9fc2f7" Alias="China" Level="4">
  <Info>
    <Parent Key="9d73a652-28e1-4509-be2e-0dba26403a4f">Comercio exterior</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/ComercioExterior/China</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:22:56</CreateDate>
    <NodeName Default="China" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nktja2zf/china.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>