<?xml version="1.0" encoding="utf-8"?>
<Media Key="07bb7278-7aa4-4867-a34c-a673bb6d5378" Alias="China" Level="103">
  <Info>
    <Parent Key="21256b71-727c-4bfd-a4e6-0087c84e0848">Comercio exterior</Parent>
    <Path>/[-21]/PorqueNicaragua/ComercioExterior/China</Path>
    <Trashed Parent="21256b71-727c-4bfd-a4e6-0087c84e0848">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:14</CreateDate>
    <NodeName Default="China" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pzzlwb3e/china.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>