<?xml version="1.0" encoding="utf-8"?>
<Media Key="f718f5f8-7e6a-4298-a4f2-06fc0acea419" Alias="CHINA (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CHINA1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-02T13:27:18</CreateDate>
    <NodeName Default="CHINA (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/510br31k/china-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>