<?xml version="1.0" encoding="utf-8"?>
<Media Key="21256b71-727c-4bfd-a4e6-0087c84e0848" Alias="Comercio exterior" Level="102">
  <Info>
    <Parent Key="013dd17e-0c6d-4303-9bdc-f2cbca55be0e">¿Porqué Nicaragua?</Parent>
    <Path>/[-21]/PorqueNicaragua/ComercioExterior</Path>
    <Trashed Parent="013dd17e-0c6d-4303-9bdc-f2cbca55be0e">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:16:14</CreateDate>
    <NodeName Default="Comercio exterior" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>