<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd6a5435-ebc1-4136-afd4-66afc40f364a" Alias="Contacto" Level="2">
  <Info>
    <Parent Key="bf6c6430-a535-4b2a-b99d-30277ed06531">Imagenes</Parent>
    <Path>/Imagenes/Contacto</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:21:53</CreateDate>
    <NodeName Default="Contacto" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gnkgvtob/contacto.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>