<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebb1a1d4-b8e4-408a-a4bd-f77eafcfc5b8" Alias="Contraportada Interna" Level="103">
  <Info>
    <Parent Key="c2b136ac-0aed-40e9-b4a9-14651cb4e505">Portadas</Parent>
    <Path>/[-21]/PorqueNicaragua/Portadas/ContraportadaInterna</Path>
    <Trashed Parent="c2b136ac-0aed-40e9-b4a9-14651cb4e505">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:09</CreateDate>
    <NodeName Default="Contraportada Interna" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0kqld05e/contraportada-interna.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>