<?xml version="1.0" encoding="utf-8"?>
<Media Key="d647f605-f9d6-4725-adfa-33718d6fc309" Alias="Contenido" Level="4">
  <Info>
    <Parent Key="5a1945b8-fc1a-43cd-b82f-ac076c71f735">íconos #1 en Centroamérica</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/iconos1EnCentroamerica/Contenido</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:03</CreateDate>
    <NodeName Default="Contenido" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dx1epvww/contenido.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>