<?xml version="1.0" encoding="utf-8"?>
<Media Key="25a8748d-1a7f-41c1-af0f-4d9a0682ac8d" Alias="Contacto" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Contacto</Path>
    <Trashed Parent="bf6c6430-a535-4b2a-b99d-30277ed06531">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T18:20:56</CreateDate>
    <NodeName Default="Contacto" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rn0kqjl5/contacto.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>