<?xml version="1.0" encoding="utf-8"?>
<Media Key="0236f319-a09b-4a3a-8113-32cf755469b3" Alias="Contenido administrado del sitio web comprimido" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:22:34</CreateDate>
    <NodeName Default="Contenido administrado del sitio web comprimido" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>