<?xml version="1.0" encoding="utf-8"?>
<Media Key="6391b7eb-d309-4daa-8098-e30083a0b29a" Alias="Contraportada Interna" Level="4">
  <Info>
    <Parent Key="652b5fed-ec7d-43a5-980c-9346cbab05d9">Portadas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/Portadas/ContraportadaInterna</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:00</CreateDate>
    <NodeName Default="Contraportada Interna" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3w1jcyyj/contraportada-interna.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>