<?xml version="1.0" encoding="utf-8"?>
<Media Key="c592cd0d-93e3-4382-aa45-075e8952d0bf" Alias="Crecimiento PIB" Level="4">
  <Info>
    <Parent Key="6c355d62-7b46-4f2a-9fb0-f2fce13a650e">Datos macroeconómcos</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/DatosMacroeconomcos/CrecimientoPIB</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:11</CreateDate>
    <NodeName Default="Crecimiento PIB" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bpgjfrpd/crecimiento-pib.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>