<?xml version="1.0" encoding="utf-8"?>
<Media Key="055ad064-f25f-435d-a19a-80735439d6bc" Alias="Crecimiento Económico Mayor Al 3 En Los Últimos 10 Años" Level="2">
  <Info>
    <Parent Key="289c1f99-9a54-4c85-b040-deffddb1ffa7">Imagenes</Parent>
    <Path>/Imagenes/CrecimientoEconomicoMayorAl3EnLosUltimos10Anos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-07T12:52:06</CreateDate>
    <NodeName Default="Crecimiento Económico Mayor Al 3 En Los Últimos 10 Años" />
    <SortOrder>113</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mlifubk5/crecimiento-económico-mayor-al-3_-en-los-últimos-10-años.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>