<?xml version="1.0" encoding="utf-8"?>
<Media Key="84baf02e-dcdd-444a-b264-81c3d2c50eec" Alias="Crecimiento Económico Mayor Al 3 En Los Últimos 10 Años" Level="4">
  <Info>
    <Parent Key="5a1945b8-fc1a-43cd-b82f-ac076c71f735">íconos #1 en Centroamérica</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/iconos1EnCentroamerica/CrecimientoEconomicoMayorAl3EnLosUltimos10Anos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:03</CreateDate>
    <NodeName Default="Crecimiento Económico Mayor Al 3 En Los Últimos 10 Años" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fdylvbg3/crecimiento-económico-mayor-al-3_-en-los-últimos-10-años.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>