<?xml version="1.0" encoding="utf-8"?>
<Media Key="04ebf0ba-9eec-4149-9da5-2763dc75a475" Alias="Créditos De Carbono" Level="4">
  <Info>
    <Parent Key="20965964-d4ac-4b9b-a46e-14434dfe28c9">Forestal</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/CreditosDeCarbono</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:07</CreateDate>
    <NodeName Default="Créditos De Carbono" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xtyowbhm/créditos-de-carbono.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>