<?xml version="1.0" encoding="utf-8"?>
<Media Key="fff10041-65ea-4320-82c3-bc80a750c7e9" Alias="Datos Macroeconómicos Consolidado" Level="4">
  <Info>
    <Parent Key="3bb84533-45fc-4299-b5f4-6c78451211dc">IED</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/IED/DatosMacroeconomicosConsolidado</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:22:59</CreateDate>
    <NodeName Default="Datos Macroeconómicos Consolidado" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/leapd55k/datos-macroeconómicos-consolidado.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>