<?xml version="1.0" encoding="utf-8"?>
<Media Key="b510747b-2be0-4b97-a33c-a8403b131b4d" Alias="Datos Del Sector 2" Level="104">
  <Info>
    <Parent Key="79d17df5-2bf5-42e0-9390-20b2e91904a9">Páginas internas</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera/PaginasInternas/DatosDelSector2</Path>
    <Trashed Parent="79d17df5-2bf5-42e0-9390-20b2e91904a9">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:32:46</CreateDate>
    <NodeName Default="Datos Del Sector 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mn0bbnpa/datos-del-sector-2.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>