<?xml version="1.0" encoding="utf-8"?>
<Media Key="b57d5e32-34ac-415e-b79b-26c8a1a1da48" Alias="Datos Del Sector 1" Level="104">
  <Info>
    <Parent Key="2e9bbc22-3250-4895-9912-3634743696f9">Página interna</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/DatosDelSector1</Path>
    <Trashed Parent="2e9bbc22-3250-4895-9912-3634743696f9">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:32:25</CreateDate>
    <NodeName Default="Datos Del Sector 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fjph1nnm/datos-del-sector-1.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>