<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd9dfc05-1db7-40e2-814e-fc4db0589cda" Alias="Datos Del Sector 2" Level="5">
  <Info>
    <Parent Key="4327b099-06ac-44bf-a461-9ba4a56af37a">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/DatosDelSector2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:23</CreateDate>
    <NodeName Default="Datos Del Sector 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dx4j1pnx/datos-del-sector-2.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>