<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec24678d-a137-4e75-bed8-2207525e4bf9" Alias="Datos Del Sector 2" Level="5">
  <Info>
    <Parent Key="a247cc52-c06f-4c69-8609-8a4e7c07e398">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/DatosDelSector2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:25</CreateDate>
    <NodeName Default="Datos Del Sector 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/svtdj1bx/datos-del-sector-2.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>