<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf653e2a-f148-464c-b0bb-a02aa8cdabcf" Alias="Datos Del Sector 2" Level="104">
  <Info>
    <Parent Key="e01c096e-fd17-4ae9-aab0-fe2d036b1f7e">Página interna</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/PaginaInterna/DatosDelSector2</Path>
    <Trashed Parent="e01c096e-fd17-4ae9-aab0-fe2d036b1f7e">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:32:38</CreateDate>
    <NodeName Default="Datos Del Sector 2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gi5glt0i/datos-del-sector-2.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>