<?xml version="1.0" encoding="utf-8"?>
<Media Key="08d19926-b2b0-4088-a420-a7e78937463b" Alias="Datos Del Sector 2" Level="104">
  <Info>
    <Parent Key="2e9bbc22-3250-4895-9912-3634743696f9">Página interna</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/DatosDelSector2</Path>
    <Trashed Parent="2e9bbc22-3250-4895-9912-3634743696f9">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:32:25</CreateDate>
    <NodeName Default="Datos Del Sector 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h0mnccfq/datos-del-sector-2.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>