<?xml version="1.0" encoding="utf-8"?>
<Media Key="90b07746-1b83-4dea-ac3b-8fe9f548b86c" Alias="Datos Del Sector 2" Level="5">
  <Info>
    <Parent Key="840cde17-8a7f-4317-89a0-3141760dcb7b">Páginas internas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/PaginasInternas/DatosDelSector2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:29</CreateDate>
    <NodeName Default="Datos Del Sector 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lz1lbeed/datos-del-sector-2.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>