<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1c1bfe1-2ec1-4fa0-98fb-3c68a08599f0" Alias="Datos Del Sector 2" Level="104">
  <Info>
    <Parent Key="480204a5-26ff-4a69-81db-72e42a5a37c4">Página interna</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/PaginaInterna/DatosDelSector2</Path>
    <Trashed Parent="480204a5-26ff-4a69-81db-72e42a5a37c4">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:32:54</CreateDate>
    <NodeName Default="Datos Del Sector 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5g5nduob/datos-del-sector-2.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>