<?xml version="1.0" encoding="utf-8"?>
<Media Key="553d3118-b30e-4dcb-9602-8b7da8e9adda" Alias="Datos Del Sector 1" Level="5">
  <Info>
    <Parent Key="4327b099-06ac-44bf-a461-9ba4a56af37a">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/DatosDelSector1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:22</CreateDate>
    <NodeName Default="Datos Del Sector 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aayd0vio/datos-del-sector-1.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>