<?xml version="1.0" encoding="utf-8"?>
<Media Key="29a9adb6-d7a2-471c-bc27-4d8ef5c9928d" Alias="Datos Del Sector 1" Level="5">
  <Info>
    <Parent Key="840cde17-8a7f-4317-89a0-3141760dcb7b">Páginas internas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/PaginasInternas/DatosDelSector1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:29</CreateDate>
    <NodeName Default="Datos Del Sector 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v0wlsknc/datos-del-sector-1.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>