<?xml version="1.0" encoding="utf-8"?>
<Media Key="db5b4a37-9bee-4cac-88da-96becb0d357a" Alias="Datos Del Sector 1" Level="5">
  <Info>
    <Parent Key="a247cc52-c06f-4c69-8609-8a4e7c07e398">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/DatosDelSector1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:25</CreateDate>
    <NodeName Default="Datos Del Sector 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f3ffxw5o/datos-del-sector-1.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>