<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0ae4a97-2a81-4756-b12e-af621f0a3af9" Alias="Datos Del Sector 1" Level="104">
  <Info>
    <Parent Key="e01c096e-fd17-4ae9-aab0-fe2d036b1f7e">Página interna</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/PaginaInterna/DatosDelSector1</Path>
    <Trashed Parent="e01c096e-fd17-4ae9-aab0-fe2d036b1f7e">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:32:37</CreateDate>
    <NodeName Default="Datos Del Sector 1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/r3fk3qeb/datos-del-sector-1.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>