<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0418dbd-3fae-4af8-99eb-14ec5ffd5771" Alias="Desarrollo De Software" Level="6">
  <Info>
    <Parent Key="17919fd8-b4e1-4af8-8dec-9bd0e9948f02">Productos con potencial desarollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/ProductosConPotencialDesarollo/DesarrolloDeSoftware</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:40</CreateDate>
    <NodeName Default="Desarrollo De Software" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xogfdyfo/desarrollo-de-software.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>