<?xml version="1.0" encoding="utf-8"?>
<Media Key="5b0954e6-d25d-455b-84ba-576c3ebe8b7c" Alias="Descripción" Level="4">
  <Info>
    <Parent Key="f3d86bbf-625f-45d4-a7ab-b20cef890e35">Guía del Inversionista</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/GuiaDelInversionista/Descripcion</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:18</CreateDate>
    <NodeName Default="Descripción" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5zkasw03/descripción.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>