<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a73d608-b0bf-48ae-91b6-d44675df6800" Alias="DGA" Level="4">
  <Info>
    <Parent Key="ed6bfdcf-a765-4c56-9714-ec6fc148e741">Enlaces de interes</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/EnlacesDeInteres/DGA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:14</CreateDate>
    <NodeName Default="DGA" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b1lhgkv5/dga.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>