<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d9c43c2-f34d-492e-80d9-518862a83615" Alias="DGI" Level="4">
  <Info>
    <Parent Key="ed6bfdcf-a765-4c56-9714-ec6fc148e741">Enlaces de interes</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/EnlacesDeInteres/DGI</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:14</CreateDate>
    <NodeName Default="DGI" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yrbjzdkn/dgi.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>