<?xml version="1.0" encoding="utf-8"?>
<Media Key="39e92a2c-0a3f-4648-a79e-9e80dab2b3a6" Alias="Dispositivos Médicos" Level="4">
  <Info>
    <Parent Key="8d0f722b-f6e2-4e5a-a05a-7ad40e1e0da7">Manufactura Ligera</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/DispositivosMedicos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:09</CreateDate>
    <NodeName Default="Dispositivos Médicos" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fivosoj5/dispositivos-médicos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>