<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2e2a849-7192-43a5-9249-5f65f524f250" Alias="Dispositivos Médicos" Level="6">
  <Info>
    <Parent Key="4f4bc8bd-d3ba-4029-9d46-3614e879fbb3">Productos con potencial de desarrollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/PaginasInternas/ProductosConPotencialDeDesarrollo/DispositivosMedicos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:46</CreateDate>
    <NodeName Default="Dispositivos Médicos" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j4uofyus/dispositivos-médicos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>