<?xml version="1.0" encoding="utf-8"?>
<Media Key="81685df6-1788-48ab-8096-38850543fa44" Alias="DSC 0130EDIT" Level="104">
  <Info>
    <Parent Key="8015ab42-5152-44d2-b404-1e3729f8574a">imágenes del sector</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/imagenesDelSector/DSC0130EDIT</Path>
    <Trashed Parent="8015ab42-5152-44d2-b404-1e3729f8574a">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:37</CreateDate>
    <NodeName Default="DSC 0130EDIT" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4bohrami/dsc_0130edit.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>