<?xml version="1.0" encoding="utf-8"?>
<Media Key="9afbba24-14a8-4401-99d5-da3db4926775" Alias="DSC 0022EDIT" Level="5">
  <Info>
    <Parent Key="d47a9038-b125-45e8-8c8a-3b65fcc0ead2">imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/imagenesDelSector/DSC0022EDIT</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:24</CreateDate>
    <NodeName Default="DSC 0022EDIT" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ek3pxgvi/dsc_0022edit.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>