<?xml version="1.0" encoding="utf-8"?>
<Media Key="c583bb1b-dae2-407e-944b-57d90117463d" Alias="DSC 0192EDIT" Level="104">
  <Info>
    <Parent Key="8015ab42-5152-44d2-b404-1e3729f8574a">imágenes del sector</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/imagenesDelSector/DSC0192EDIT</Path>
    <Trashed Parent="8015ab42-5152-44d2-b404-1e3729f8574a">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:43</CreateDate>
    <NodeName Default="DSC 0192EDIT" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dw3jhrpc/dsc_0192edit.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>