<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbb3fd5f-b0e1-4c03-9825-edb978ba4ee1" Alias="DSC 0020EDIT" Level="102">
  <Info>
    <Parent Key="fb3b8fec-54a5-47c3-95fb-db3ccb453780">Servicios (3)</Parent>
    <Path>/[-21]/Servicios3/DSC0020EDIT</Path>
    <Trashed Parent="fb3b8fec-54a5-47c3-95fb-db3ccb453780">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T11:14:03</CreateDate>
    <NodeName Default="DSC 0020EDIT" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lh4lhw5b/dsc_0020edit.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>