<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cdee075-a326-4e4d-b2d8-8be67f7f020d" Alias="DSC 0542EDIT" Level="104">
  <Info>
    <Parent Key="d9d228e0-49be-4898-bace-b12fd05a16b7">Imágenes del sector</Parent>
    <Path>/[-21]/Sectores/Agronegocios/ImagenesDelSector/DSC0542EDIT</Path>
    <Trashed Parent="d9d228e0-49be-4898-bace-b12fd05a16b7">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:24</CreateDate>
    <NodeName Default="DSC 0542EDIT" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/opqn3dbg/dsc_0542edit.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>