<?xml version="1.0" encoding="utf-8"?>
<Media Key="2558b365-4baf-42c1-860b-46c964567906" Alias="DSC 0099EDIT" Level="5">
  <Info>
    <Parent Key="bc24dd03-b5e0-4e25-9277-b444dbafe65a">imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/imagenesDelSector/DSC0099EDIT</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:26</CreateDate>
    <NodeName Default="DSC 0099EDIT" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mozfqjnp/dsc_0099edit.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>