<?xml version="1.0" encoding="utf-8"?>
<Media Key="a803ee78-64c2-4b04-890f-8c9978426725" Alias="DSC 0249" Level="103">
  <Info>
    <Parent Key="da32e19e-f70e-4d35-83da-600b45275ba4">Forestal</Parent>
    <Path>/[-21]/Sectores/Forestal/DSC0249</Path>
    <Trashed Parent="da32e19e-f70e-4d35-83da-600b45275ba4">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:03</CreateDate>
    <NodeName Default="DSC 0249" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p1xahkgc/dsc_0249.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>