<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2622480-baea-4a00-afc3-75ca059661e0" Alias="DSC 0020EDIT" Level="3">
  <Info>
    <Parent Key="2dc4cc1d-1e51-43b1-81be-7196d0cdd651">Servicios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Servicios/DSC0020EDIT</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:22:54</CreateDate>
    <NodeName Default="DSC 0020EDIT" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qysgfixk/dsc_0020edit.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>