<?xml version="1.0" encoding="utf-8"?>
<Media Key="428addb2-3ce9-4830-a97c-1f747226704a" Alias="DSC04406" Level="104">
  <Info>
    <Parent Key="e689faca-a968-4cf8-b4e1-ee1e8213568d">imágenes del sector</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/imagenesDelSector/DSC04406</Path>
    <Trashed Parent="e689faca-a968-4cf8-b4e1-ee1e8213568d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:49</CreateDate>
    <NodeName Default="DSC04406" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wtojuqxj/dsc04406.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>