<?xml version="1.0" encoding="utf-8"?>
<Media Key="023e38e1-627e-4989-9fa2-5b3ed0cc38ef" Alias="DSC04406" Level="5">
  <Info>
    <Parent Key="779bb67c-a1f1-4bbb-af46-5229711d7b61">imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/imagenesDelSector/DSC04406</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:30</CreateDate>
    <NodeName Default="DSC04406" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/222d2at4/dsc04406.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>