<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3dcd09c-4c64-4b01-9d76-12c6e3b88ff5" Alias="DSC04398" Level="104">
  <Info>
    <Parent Key="e689faca-a968-4cf8-b4e1-ee1e8213568d">imágenes del sector</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/imagenesDelSector/DSC04398</Path>
    <Trashed Parent="e689faca-a968-4cf8-b4e1-ee1e8213568d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:49</CreateDate>
    <NodeName Default="DSC04398" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tlinzy1e/dsc04398.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>