<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3ec3227-2848-4aba-bb41-3566b96e5bc6" Alias="El Caribe De Nicaragua" Level="2">
  <Info>
    <Parent Key="89c10c4c-ffc4-40b6-859b-92180d8f45aa">Documentos</Parent>
    <Path>/Documentos/ElCaribeDeNicaragua</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-08-16T10:06:37</CreateDate>
    <NodeName Default="El Caribe De Nicaragua" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bezoz20i/el-caribe-de-nicaragua.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>