<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe71d261-0908-41ea-bf07-1aa76629fdb3" Alias="Escamas" Level="6">
  <Info>
    <Parent Key="960fc94f-dad5-406a-a388-736031448c4b">Productos con potencial de desarrollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/PaginaInterna/ProductosConPotencialDeDesarrollo/Escamas</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:47</CreateDate>
    <NodeName Default="Escamas" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m5jhd5qi/escamas.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>