<?xml version="1.0" encoding="utf-8"?>
<Media Key="659ae12b-2e73-4615-95d0-5e548278247e" Alias="Escamas" Level="104">
  <Info>
    <Parent Key="230978cc-cecf-4c51-a989-ad249505e04f">Sectores con potencial de desarrollo</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/SectoresConPotencialDeDesarrollo/Escamas</Path>
    <Trashed Parent="230978cc-cecf-4c51-a989-ad249505e04f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:55</CreateDate>
    <NodeName Default="Escamas" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fxqjuzlt/escamas.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>