<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c20225f-6a0b-49aa-a6d3-3acdacb2b757" Alias="Establecimiento" Level="103">
  <Info>
    <Parent Key="4dd8a1f9-7758-49d3-a818-093795d16f81">Servicios por etapa de Inversión</Parent>
    <Path>/[-21]/Servicios3/ServiciosPorEtapaDeInversion/Establecimiento</Path>
    <Trashed Parent="4dd8a1f9-7758-49d3-a818-093795d16f81">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T11:13:58</CreateDate>
    <NodeName Default="Establecimiento" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lercatal/establecimiento.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>