<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a8a1588-b612-416d-b719-06be644572b7" Alias="Establecimiento" Level="4">
  <Info>
    <Parent Key="ad127555-1533-4064-a2e2-5fc0e1d1beee">Servicios por etapa de Inversión</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Servicios/ServiciosPorEtapaDeInversion/Establecimiento</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:10</CreateDate>
    <NodeName Default="Establecimiento" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rykjugqs/establecimiento.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>