<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3ab7e3c-aef8-43ff-9c40-c28d73f291a3" Alias="European Union" Level="4">
  <Info>
    <Parent Key="9d73a652-28e1-4509-be2e-0dba26403a4f">Comercio exterior</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/ComercioExterior/EuropeanUnion</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:22:57</CreateDate>
    <NodeName Default="European Union" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hj5kxq5y/european-union.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>