<?xml version="1.0" encoding="utf-8"?>
<Media Key="f3101a0c-a81b-409a-9bec-bc7ff9836dbc" Alias="Evaluación Y Toma De Decisión" Level="4">
  <Info>
    <Parent Key="ad127555-1533-4064-a2e2-5fc0e1d1beee">Servicios por etapa de Inversión</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Servicios/ServiciosPorEtapaDeInversion/EvaluacionYTomaDeDecision</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:11</CreateDate>
    <NodeName Default="Evaluación Y Toma De Decisión" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/binbb2y1/evaluación-y-toma-de-decisión.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>