<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4c98f88-efab-4c9a-82fd-fd5cbcd9b82f" Alias="Evaluación Y Toma De Decisión" Level="103">
  <Info>
    <Parent Key="4dd8a1f9-7758-49d3-a818-093795d16f81">Servicios por etapa de Inversión</Parent>
    <Path>/[-21]/Servicios3/ServiciosPorEtapaDeInversion/EvaluacionYTomaDeDecision</Path>
    <Trashed Parent="4dd8a1f9-7758-49d3-a818-093795d16f81">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T11:14:09</CreateDate>
    <NodeName Default="Evaluación Y Toma De Decisión" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r0hnt3fl/evaluación-y-toma-de-decisión.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>