<?xml version="1.0" encoding="utf-8"?>
<Media Key="487e4b7b-79ce-4baf-9fed-ff017f76d13b" Alias="Exports (2)" Level="103">
  <Info>
    <Parent Key="c2b136ac-0aed-40e9-b4a9-14651cb4e505">Portadas</Parent>
    <Path>/[-21]/PorqueNicaragua/Portadas/Exports2</Path>
    <Trashed Parent="c2b136ac-0aed-40e9-b4a9-14651cb4e505">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:16</CreateDate>
    <NodeName Default="Exports (2)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pvfh2sgo/exports-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>