<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ec109e0-c3ac-4129-bef2-9194954487fc" Alias="Exportaciones" Level="4">
  <Info>
    <Parent Key="6c355d62-7b46-4f2a-9fb0-f2fce13a650e">Datos macroeconómcos</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/DatosMacroeconomcos/Exportaciones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:12</CreateDate>
    <NodeName Default="Exportaciones" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2yendhvm/exportaciones.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>