<?xml version="1.0" encoding="utf-8"?>
<Media Key="997e7266-a0a9-4429-a60a-1ded42b17056" Alias="Externalización De Servicios (1)" Level="3">
  <Info>
    <Parent Key="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">Sectores</Parent>
    <Path>/Imagenes/Sectores/ExternalizacionDeServicios1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:23:28</CreateDate>
    <NodeName Default="Externalización De Servicios (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mbzh3gnj/externalización-de-servicios-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>