<?xml version="1.0" encoding="utf-8"?>
<Media Key="d57fb14d-3975-41e8-9952-af53e7dea910" Alias="Externalización De Servicios Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/ExternalizacionDeServiciosMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T15:54:22</CreateDate>
    <NodeName Default="Externalización De Servicios Min" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/joyh5vlv/externalización-de-servicios-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>