<?xml version="1.0" encoding="utf-8"?>
<Media Key="01f4073d-f58b-429a-ba8c-bbcf42b957d6" Alias="Externalizacion 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Externalizacion1</Path>
    <Trashed Parent="a867f597-5571-4b9f-bb92-06c16f359ee5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:54</CreateDate>
    <NodeName Default="Externalizacion 1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hmdpiaml/externalizacion_1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>