<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac30b34b-9eca-4608-b81c-141750bfc72c" Alias="Externalización De Servicios" Level="105">
  <Info>
    <Parent Key="10da1021-121f-47f7-b417-418d8b5858cd">brochure</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/PaginaInterna/brochure/ExternalizacionDeServicios</Path>
    <Trashed Parent="10da1021-121f-47f7-b417-418d8b5858cd">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T10:33:17</CreateDate>
    <NodeName Default="Externalización De Servicios" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mwzdblgk/externalización-de-servicios.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>