<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff73085f-2dd4-4e1c-9eda-fe6aef22d57b" Alias="Externalización de Servicios" Level="3">
  <Info>
    <Parent Key="f6d390a2-c90b-46de-8cd3-c602a175ef37">Sectores</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:06</CreateDate>
    <NodeName Default="Externalización de Servicios" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>