<?xml version="1.0" encoding="utf-8"?>
<Media Key="25b3bc9f-6909-4380-9e60-8ae08c604286" Alias="Externalización De Servicios" Level="6">
  <Info>
    <Parent Key="2303a00f-9661-49fb-af7b-0dfdbd379395">brochure</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/brochure/ExternalizacionDeServicios</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:38</CreateDate>
    <NodeName Default="Externalización De Servicios" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tg4lgjij/externalización-de-servicios.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>