<?xml version="1.0" encoding="utf-8"?>
<Media Key="0860e9c0-9bb6-4910-85e4-f3e6368d315d" Alias="Externalizacion" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Externalizacion</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:54</CreateDate>
    <NodeName Default="Externalizacion" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y1uhacfw/externalizacion.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>