<?xml version="1.0" encoding="utf-8"?>
<Media Key="f09a9635-9405-406a-8250-0d0dd517595c" Alias="Externalización De Servicios (1)" Level="6">
  <Info>
    <Parent Key="2303a00f-9661-49fb-af7b-0dfdbd379395">brochure</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/brochure/ExternalizacionDeServicios1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:23:39</CreateDate>
    <NodeName Default="Externalización De Servicios (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/doljv2af/externalización-de-servicios.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>