<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a8bad58-3be6-4d64-be25-a9c773c5e086" Alias="Favicon 3" Level="3">
  <Info>
    <Parent Key="2da80190-b8c9-44ce-bcfe-8f0cc71aaa4b">favicon</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/favicon/Favicon3</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:28:28</CreateDate>
    <NodeName Default="Favicon 3" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/icwjxgxg/favicon-3.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>