<?xml version="1.0" encoding="utf-8"?>
<Media Key="22891136-05a8-4b8b-901c-b7b24f0e72d8" Alias="Favicon 2 (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Favicon21</Path>
    <Trashed Parent="2da80190-b8c9-44ce-bcfe-8f0cc71aaa4b">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:22:55</CreateDate>
    <NodeName Default="Favicon 2 (1)" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gaijsivi/favicon-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>