<?xml version="1.0" encoding="utf-8"?>
<Media Key="2da80190-b8c9-44ce-bcfe-8f0cc71aaa4b" Alias="favicon" Level="2">
  <Info>
    <Parent Key="0236f319-a09b-4a3a-8113-32cf755469b3">Contenido administrado del sitio web comprimido</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:22:55</CreateDate>
    <NodeName Default="favicon" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>