<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3f55360-bfdf-45ba-a1cd-ced4af092566" Alias="Favicon 2" Level="3">
  <Info>
    <Parent Key="2da80190-b8c9-44ce-bcfe-8f0cc71aaa4b">favicon</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/favicon/Favicon2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:28:28</CreateDate>
    <NodeName Default="Favicon 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pbjply45/favicon-2.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>