<?xml version="1.0" encoding="utf-8"?>
<Media Key="231f3aa7-8070-4842-af00-026ed965d7fa" Alias="Favicon 3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Favicon3</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-16T10:56:34</CreateDate>
    <NodeName Default="Favicon 3" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x23b4i1q/favicon-3.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>