<?xml version="1.0" encoding="utf-8"?>
<Media Key="24381a60-7c69-45ab-8a83-a1c150ea58a5" Alias="Fibras Vegetales" Level="104">
  <Info>
    <Parent Key="62d9d51b-078f-4ad7-88c2-6175cb0747c6">productos con potencial de desarrollo</Parent>
    <Path>/[-21]/Sectores/Forestal/productosConPotencialDeDesarrollo/FibrasVegetales</Path>
    <Trashed Parent="62d9d51b-078f-4ad7-88c2-6175cb0747c6">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:42</CreateDate>
    <NodeName Default="Fibras Vegetales" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/myndqjdj/fibras-vegetales.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>