<?xml version="1.0" encoding="utf-8"?>
<Media Key="8fb79aa2-58a6-4e4f-9fda-d10eb6b5ae3e" Alias="Fibras Textiles" Level="6">
  <Info>
    <Parent Key="0ddaf6a3-5805-4613-bf41-83bc2cd4dc0d">productos con potencial de desarrollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/PaginaInterna/productosConPotencialDeDesarrollo/FibrasTextiles</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:43</CreateDate>
    <NodeName Default="Fibras Textiles" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/usnlpd3g/fibras-textiles.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>