<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd5e6f32-22e5-4777-9666-9dce937618b8" Alias="Fija De La Moneda Cambio" Level="4">
  <Info>
    <Parent Key="6c355d62-7b46-4f2a-9fb0-f2fce13a650e">Datos macroeconómcos</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/DatosMacroeconomcos/FijaDeLaMonedaCambio</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:12</CreateDate>
    <NodeName Default="Fija De La Moneda Cambio" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/grxf3xpf/fija-de-la-moneda-cambio.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>