<?xml version="1.0" encoding="utf-8"?>
<Media Key="a89e51ea-3d62-4671-98bf-9b63b5fdd451" Alias="Fishery" Level="105">
  <Info>
    <Parent Key="3e60a6f2-1b09-4349-b34c-638fc8929d75">brochures</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/PaginaInterna/brochures/Fishery</Path>
    <Trashed Parent="3e60a6f2-1b09-4349-b34c-638fc8929d75">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T10:33:19</CreateDate>
    <NodeName Default="Fishery" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yrij3kdc/fishery.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>