<?xml version="1.0" encoding="utf-8"?>
<Media Key="df902bc2-9c7e-4179-9bde-201da12d2608" Alias="Fishery" Level="2">
  <Info>
    <Parent Key="0fd5eb52-9f41-43af-a970-25d4c43168b5">Documentos Ingles</Parent>
    <Path>/DocumentosIngles/Fishery</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-08-16T10:06:59</CreateDate>
    <NodeName Default="Fishery" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3qvjbx14/fishery.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>