<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea86e108-81e0-4d25-adf2-d795d78640fb" Alias="Fishery" Level="6">
  <Info>
    <Parent Key="3312f033-47a0-472f-97d9-8bf88791f795">brochures</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/PaginaInterna/brochures/Fishery</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:23:46</CreateDate>
    <NodeName Default="Fishery" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e1qjn0xa/fishery.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>