<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d704f2f-3130-4b69-9a37-4149e8a2138e" Alias="Fishery" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Fishery</Path>
    <Trashed Parent="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T20:47:01</CreateDate>
    <NodeName Default="Fishery" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ffhha1jq/fishery.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>