<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4f9dde3-32d8-4f14-959a-0b48f58b74c0" Alias="Fishery" Level="3">
  <Info>
    <Parent Key="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">Sectores</Parent>
    <Path>/Imagenes/Sectores/Fishery</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:23:29</CreateDate>
    <NodeName Default="Fishery" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2xopt3gy/fishery.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>