<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffa417b7-f048-47d6-a3fb-b8fbad8f1953" Alias="Forestry 1" Level="3">
  <Info>
    <Parent Key="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">Sectores</Parent>
    <Path>/Imagenes/Sectores/Forestry1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:23:29</CreateDate>
    <NodeName Default="Forestry 1" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wellj50i/forestry-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>