<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce0eade0-e6c2-4ff0-a833-4750490173ef" Alias="Forestal" Level="6">
  <Info>
    <Parent Key="8b9c9a0e-6c5e-4af4-a464-5d9c22d094d9">Brochures</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/PaginaInterna/Brochures/Forestal</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:23:41</CreateDate>
    <NodeName Default="Forestal" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z0wb3twc/forestal.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>