<?xml version="1.0" encoding="utf-8"?>
<Media Key="d393f04c-2b8f-4b78-b8f0-fbf3b2f642cd" Alias="Forestry 1 Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Forestry1Min</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T16:01:27</CreateDate>
    <NodeName Default="Forestry 1 Min" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jlyjhu2p/forestry-1-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>