<?xml version="1.0" encoding="utf-8"?>
<Media Key="222eaede-9448-40e1-a758-9a42bf20f92d" Alias="Forestry" Level="6">
  <Info>
    <Parent Key="8b9c9a0e-6c5e-4af4-a464-5d9c22d094d9">Brochures</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/PaginaInterna/Brochures/Forestry</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:23:41</CreateDate>
    <NodeName Default="Forestry" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4cxc2isi/forestry.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>