<?xml version="1.0" encoding="utf-8"?>
<Media Key="64545459-5161-4a06-8fb2-a6d27583eb1c" Alias="Forestry" Level="104">
  <Info>
    <Parent Key="49dfc5bf-1974-44d3-a506-6a71b106566a">Brochures</Parent>
    <Path>/[-21]/Sectores/Forestal/Brochures/Forestry</Path>
    <Trashed Parent="49dfc5bf-1974-44d3-a506-6a71b106566a">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T10:32:43</CreateDate>
    <NodeName Default="Forestry" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o3kfizdb/forestry.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>