<?xml version="1.0" encoding="utf-8"?>
<Media Key="560fb15b-29a4-4d05-bd61-7f20f961697b" Alias="Forestal 1 Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Forestal1Min</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T15:54:22</CreateDate>
    <NodeName Default="Forestal 1 Min" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lwyb4vve/forestal-1-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>