<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee71a3d5-a851-4051-ac9a-6b490746bdfa" Alias="Forestal (1)" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Forestal1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T15:27:14</CreateDate>
    <NodeName Default="Forestal (1)" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0orhd1sr/forestal.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>