<?xml version="1.0" encoding="utf-8"?>
<Media Key="51a75777-9f86-4216-980e-eb382af4589b" Alias="Forestal" Level="102">
  <Info>
    <Parent Key="89c10c4c-ffc4-40b6-859b-92180d8f45aa">Documentos</Parent>
    <Path>/[-21]/Documentos/Forestal</Path>
    <Trashed Parent="89c10c4c-ffc4-40b6-859b-92180d8f45aa">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-08-16T10:06:36</CreateDate>
    <NodeName Default="Forestal" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lflloumg/forestal.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>