<?xml version="1.0" encoding="utf-8"?>
<Media Key="d440c5e6-e4a0-4406-99c9-888a06d5a19a" Alias="Forestry 1" Level="102">
  <Info>
    <Parent Key="0fd5eb52-9f41-43af-a970-25d4c43168b5">Documentos Ingles</Parent>
    <Path>/[-21]/DocumentosIngles/Forestry1</Path>
    <Trashed Parent="0fd5eb52-9f41-43af-a970-25d4c43168b5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-18T14:08:04</CreateDate>
    <NodeName Default="Forestry 1" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2dcfbvfa/forestry-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>