<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c5f48ec-44a9-4fef-9c42-ea6a76f483e5" Alias="Forestal Mw" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ForestalMw</Path>
    <Trashed Parent="a867f597-5571-4b9f-bb92-06c16f359ee5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:55</CreateDate>
    <NodeName Default="Forestal Mw" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3jef41fj/forestal_mw.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>