<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff858ce1-aa4c-48dd-a202-3410cbf4d603" Alias="Forestal" Level="104">
  <Info>
    <Parent Key="49dfc5bf-1974-44d3-a506-6a71b106566a">Brochures</Parent>
    <Path>/[-21]/Sectores/Forestal/Brochures/Forestal</Path>
    <Trashed Parent="49dfc5bf-1974-44d3-a506-6a71b106566a">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T10:32:43</CreateDate>
    <NodeName Default="Forestal" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z4gil50m/forestal.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>