<?xml version="1.0" encoding="utf-8"?>
<Media Key="da32e19e-f70e-4d35-83da-600b45275ba4" Alias="Forestal" Level="102">
  <Info>
    <Parent Key="6f00c1fb-6566-45d4-9f27-873f34849c1f">Sectores</Parent>
    <Path>/[-21]/Sectores/Forestal</Path>
    <Trashed Parent="6f00c1fb-6566-45d4-9f27-873f34849c1f">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:01</CreateDate>
    <NodeName Default="Forestal" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>