<?xml version="1.0" encoding="utf-8"?>
<Media Key="b004b7c1-1e79-460e-a241-774d5beb18b8" Alias="Fotografias de portadas" Level="3">
  <Info>
    <Parent Key="9a72b839-5b43-431a-94c6-788fc56381ae">Inicio</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/FotografiasDePortadas</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:16</CreateDate>
    <NodeName Default="Fotografias de portadas" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>