<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9a4e2f9-a22e-435e-8bc0-0191619e6867" Alias="Ganadería Intensiva" Level="4">
  <Info>
    <Parent Key="3c3a25d6-8f10-458b-b90f-3674befa3248">Agronegocios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/GanaderiaIntensiva</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:05</CreateDate>
    <NodeName Default="Ganadería Intensiva" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/55rkj0jo/ganadería-intensiva.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>