<?xml version="1.0" encoding="utf-8"?>
<Media Key="02aa35cc-5be3-4c52-8176-98099b4de7e7" Alias="Gestión De Personal" Level="105">
  <Info>
    <Parent Key="f09c409c-aeae-49f1-9431-5bfafcab0120">Productos con potencial desarollo</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/PaginaInterna/ProductosConPotencialDesarollo/GestionDePersonal</Path>
    <Trashed Parent="f09c409c-aeae-49f1-9431-5bfafcab0120">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:33:10</CreateDate>
    <NodeName Default="Gestión De Personal" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zi0luaxd/gestión-de-personal.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>