<?xml version="1.0" encoding="utf-8"?>
<Media Key="e14c57da-11ee-4e1e-a432-52b6ba35c561" Alias="GRANOS" Level="105">
  <Info>
    <Parent Key="f60a6f86-626a-49d8-b0fc-bc0525a94bb3">Productos con potencial desarollo</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/ProductosConPotencialDesarollo/GRANOS</Path>
    <Trashed Parent="f60a6f86-626a-49d8-b0fc-bc0525a94bb3">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:56:09</CreateDate>
    <NodeName Default="GRANOS" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1rlfzypo/granos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>