<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba8b0a26-45c3-4404-b7f4-39abd9aa951b" Alias="Granos Básicos" Level="6">
  <Info>
    <Parent Key="1ccd87f7-1736-4b85-8147-54c9bed554d1">Productos con potencial desarollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/ProductosConPotencialDesarollo/GranosBasicos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:36</CreateDate>
    <NodeName Default="Granos Básicos" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eafixowd/granos-básicos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>