<?xml version="1.0" encoding="utf-8"?>
<Media Key="41d56bc0-f529-4a38-ad1e-44a795ee4f95" Alias="Granos Preciosos" Level="105">
  <Info>
    <Parent Key="f60a6f86-626a-49d8-b0fc-bc0525a94bb3">Productos con potencial desarollo</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/ProductosConPotencialDesarollo/GranosPreciosos</Path>
    <Trashed Parent="f60a6f86-626a-49d8-b0fc-bc0525a94bb3">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:33:04</CreateDate>
    <NodeName Default="Granos Preciosos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yzvnkqjj/granos-preciosos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>