<?xml version="1.0" encoding="utf-8"?>
<Media Key="1a7d5253-5e3a-4de5-a9c0-c938ec4e1d9d" Alias="Guia De Inversionista Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/GuiaDeInversionistaMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:55</CreateDate>
    <NodeName Default="Guia De Inversionista Min" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kvjh0gr0/guia-de-inversionista-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>