<?xml version="1.0" encoding="utf-8"?>
<Media Key="f42d6f68-30d4-433c-9078-6cd3029256ae" Alias="Guía Del Inversionista 2022 Secretaría De Promoción De Inversiones Y Exportaciones (1)" Level="4">
  <Info>
    <Parent Key="f3d86bbf-625f-45d4-a7ab-b20cef890e35">Guía del Inversionista</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/GuiaDelInversionista/GuiaDelInversionista2022SecretariaDePromocionDeInversionesYExportaciones1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:23:18</CreateDate>
    <NodeName Default="Guía Del Inversionista 2022 Secretaría De Promoción De Inversiones Y Exportaciones (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/izxd13gu/guía-del-inversionista-2022-secretaría-de-promoción-de-inversiones-y-exportaciones.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>