<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebe259d9-56e3-42a3-a7d9-5ee8c63d987d" Alias="Guía Del Inversionista 2022 Secretaría De Promoción De Inversiones Y Exportaciones (1)" Level="102">
  <Info>
    <Parent Key="c0c50e3a-50ad-4905-aff3-2be371156080">Guía del Inversionista</Parent>
    <Path>/[-21]/GuiaDelInversionista/GuiaDelInversionista2022SecretariaDePromocionDeInversionesYExportaciones1</Path>
    <Trashed Parent="c0c50e3a-50ad-4905-aff3-2be371156080">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T10:12:17</CreateDate>
    <NodeName Default="Guía Del Inversionista 2022 Secretaría De Promoción De Inversiones Y Exportaciones (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/43mpf05d/guía-del-inversionista-2022-secretaría-de-promoción-de-inversiones-y-exportaciones.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>