<?xml version="1.0" encoding="utf-8"?>
<Media Key="352ce69c-d861-408a-b3be-5448adebf5a4" Alias="Guía Del Inversionista 2022 Secretaría De Promoción De Inversiones Y Exportaciones" Level="102">
  <Info>
    <Parent Key="c0c50e3a-50ad-4905-aff3-2be371156080">Guía del Inversionista</Parent>
    <Path>/[-21]/GuiaDelInversionista/GuiaDelInversionista2022SecretariaDePromocionDeInversionesYExportaciones</Path>
    <Trashed Parent="c0c50e3a-50ad-4905-aff3-2be371156080">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:12:15</CreateDate>
    <NodeName Default="Guía Del Inversionista 2022 Secretaría De Promoción De Inversiones Y Exportaciones" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tltcynlb/guía-del-inversionista-2022-secretaría-de-promoción-de-inversiones-y-exportaciones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>