<?xml version="1.0" encoding="utf-8"?>
<Media Key="48aa9264-902a-486a-83a1-7f973d6d4bef" Alias="Guía Del Inversionista 2022 Secretaría De Promoción De Inversiones Y Exportaciones" Level="4">
  <Info>
    <Parent Key="f3d86bbf-625f-45d4-a7ab-b20cef890e35">Guía del Inversionista</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/GuiaDelInversionista/GuiaDelInversionista2022SecretariaDePromocionDeInversionesYExportaciones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:18</CreateDate>
    <NodeName Default="Guía Del Inversionista 2022 Secretaría De Promoción De Inversiones Y Exportaciones" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mkjkusbk/guía-del-inversionista-2022-secretaría-de-promoción-de-inversiones-y-exportaciones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>