<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0c50e3a-50ad-4905-aff3-2be371156080" Alias="Guía del Inversionista" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/GuiaDelInversionista</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:11:27</CreateDate>
    <NodeName Default="Guía del Inversionista" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties />
</Media>