<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bf94438-ea70-418f-8f6c-851df0b27cf4" Alias="Header Sectores" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/HeaderSectores</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:56</CreateDate>
    <NodeName Default="Header Sectores" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hzcpsw1q/header_sectores.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>