<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a384df1-1790-4ec6-9bfc-e1b8eaa0bd14" Alias="Headers Servicios Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/HeadersServiciosMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:56</CreateDate>
    <NodeName Default="Headers Servicios Min" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/43gdq4uq/headers_servicios-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>