<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2162523-cf63-4035-b531-333acc1b43d3" Alias="Hectáreas En Producción" Level="4">
  <Info>
    <Parent Key="599cf908-273c-4462-85cf-2336905626e2">Pesca y acuicultura</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/HectareasEnProduccion</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:10</CreateDate>
    <NodeName Default="Hectáreas En Producción" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eusbnqtd/hectáreas-en-producción.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>