<?xml version="1.0" encoding="utf-8"?>
<Media Key="3bb84533-45fc-4299-b5f4-6c78451211dc" Alias="IED" Level="3">
  <Info>
    <Parent Key="ae0a076a-9009-453c-9c10-270ab23ae952">Porqué Nicargua</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/IED</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:22:59</CreateDate>
    <NodeName Default="IED" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>