<?xml version="1.0" encoding="utf-8"?>
<Media Key="c962fd44-c51b-49be-87b4-116f2070c790" Alias="Igualdad De Genero" Level="103">
  <Info>
    <Parent Key="e4034dcd-71a0-4fba-8be1-cd2b655beb8a">íconos #1 en Centroamérica</Parent>
    <Path>/[-21]/PorqueNicaragua/iconos1EnCentroamerica/IgualdadDeGenero</Path>
    <Trashed Parent="e4034dcd-71a0-4fba-8be1-cd2b655beb8a">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:16</CreateDate>
    <NodeName Default="Igualdad De Genero" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/il4hfsi1/igualdad-de-genero.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>