<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e1f4253-e2b8-4724-85f9-6f362e7b4fff" Alias="Igualdad de Género" Level="102">
  <Info>
    <Parent Key="013dd17e-0c6d-4303-9bdc-f2cbca55be0e">¿Porqué Nicaragua?</Parent>
    <Path>/[-21]/PorqueNicaragua/IgualdadDeGenero</Path>
    <Trashed Parent="013dd17e-0c6d-4303-9bdc-f2cbca55be0e">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:16:21</CreateDate>
    <NodeName Default="Igualdad de Género" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>