<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf50a51a-a18a-430b-8992-bb476fa895ca" Alias="Igualdad de Género" Level="3">
  <Info>
    <Parent Key="ae0a076a-9009-453c-9c10-270ab23ae952">Porqué Nicargua</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/IgualdadDeGenero</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:01</CreateDate>
    <NodeName Default="Igualdad de Género" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>