<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d504bb3-1dff-4243-b097-97d18cfeda2c" Alias="ILIADA" Level="2">
  <Info>
    <Parent Key="89c10c4c-ffc4-40b6-859b-92180d8f45aa">Documentos</Parent>
    <Path>/Documentos/ILIADA</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-26T16:22:32</CreateDate>
    <NodeName Default="ILIADA" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vnffapp5/iliada.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>