<?xml version="1.0" encoding="utf-8"?>
<Media Key="289c1f99-9a54-4c85-b040-deffddb1ffa7" Alias="Imagenes" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imagenes</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-06T16:48:05</CreateDate>
    <NodeName Default="Imagenes" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>