<?xml version="1.0" encoding="utf-8"?>
<Media Key="a867f597-5571-4b9f-bb92-06c16f359ee5" Alias="Imagenes comp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ImagenesComp</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-31T14:15:29</CreateDate>
    <NodeName Default="Imagenes comp" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>