<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0fed6c5-5893-4383-af05-19069f415288" Alias="IMG 7539" Level="104">
  <Info>
    <Parent Key="d9d228e0-49be-4898-bace-b12fd05a16b7">Imágenes del sector</Parent>
    <Path>/[-21]/Sectores/Agronegocios/ImagenesDelSector/IMG7539</Path>
    <Trashed Parent="d9d228e0-49be-4898-bace-b12fd05a16b7">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:25</CreateDate>
    <NodeName Default="IMG 7539" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yplp3met/img_7539.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>