<?xml version="1.0" encoding="utf-8"?>
<Media Key="900678df-8610-48cb-9f44-a7337a6b2eb5" Alias="IMG 2145" Level="6">
  <Info>
    <Parent Key="89660459-bb7f-4e34-8610-19f8dc2a5a15">Imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/PaginaInterna/ImagenesDelSector/IMG2145</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:42</CreateDate>
    <NodeName Default="IMG 2145" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1f2aneaq/img_2145.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>