<?xml version="1.0" encoding="utf-8"?>
<Media Key="62764959-c483-4124-a0f4-464286eb4e64" Alias="IMG 2031" Level="104">
  <Info>
    <Parent Key="e689faca-a968-4cf8-b4e1-ee1e8213568d">imágenes del sector</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/imagenesDelSector/IMG2031</Path>
    <Trashed Parent="e689faca-a968-4cf8-b4e1-ee1e8213568d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:33:03</CreateDate>
    <NodeName Default="IMG 2031" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l3ehmyud/img_2031.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>