<?xml version="1.0" encoding="utf-8"?>
<Media Key="66f9e3c3-28c7-4081-92da-fece824c10ec" Alias="IMG 1940" Level="5">
  <Info>
    <Parent Key="779bb67c-a1f1-4bbb-af46-5229711d7b61">imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/imagenesDelSector/IMG1940</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:30</CreateDate>
    <NodeName Default="IMG 1940" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yxrpszwh/img_1940.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>