<?xml version="1.0" encoding="utf-8"?>
<Media Key="6209a862-0531-454f-8695-2ce8cff57ce0" Alias="IMG 1940" Level="104">
  <Info>
    <Parent Key="e689faca-a968-4cf8-b4e1-ee1e8213568d">imágenes del sector</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/imagenesDelSector/IMG1940</Path>
    <Trashed Parent="e689faca-a968-4cf8-b4e1-ee1e8213568d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:33:01</CreateDate>
    <NodeName Default="IMG 1940" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/msuasyrr/img_1940.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>