<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7d8208d-cccd-43a7-9fec-2c682f8cd847" Alias="IMG 0014" Level="104">
  <Info>
    <Parent Key="d9d228e0-49be-4898-bace-b12fd05a16b7">Imágenes del sector</Parent>
    <Path>/[-21]/Sectores/Agronegocios/ImagenesDelSector/IMG0014</Path>
    <Trashed Parent="d9d228e0-49be-4898-bace-b12fd05a16b7">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:18</CreateDate>
    <NodeName Default="IMG 0014" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rmqnrr4n/img_0014.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>