<?xml version="1.0" encoding="utf-8"?>
<Media Key="89660459-bb7f-4e34-8610-19f8dc2a5a15" Alias="Imágenes del sector" Level="5">
  <Info>
    <Parent Key="ad6c64d6-2bdc-41bd-b716-39f2561d072d">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/PaginaInterna/ImagenesDelSector</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:41</CreateDate>
    <NodeName Default="Imágenes del sector" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>