<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc24dd03-b5e0-4e25-9277-b444dbafe65a" Alias="imágenes del sector" Level="4">
  <Info>
    <Parent Key="8d0f722b-f6e2-4e5a-a05a-7ad40e1e0da7">Manufactura Ligera</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/imagenesDelSector</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:26</CreateDate>
    <NodeName Default="imágenes del sector" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>