<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ff87662-0199-4bd8-a11b-e60c4e51dd20" Alias="imágenes del sector" Level="103">
  <Info>
    <Parent Key="5ac75c4d-2edf-4f32-8f55-5c9ecbc6470c">Manufactura Ligera</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera/imagenesDelSector</Path>
    <Trashed Parent="5ac75c4d-2edf-4f32-8f55-5c9ecbc6470c">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:43</CreateDate>
    <NodeName Default="imágenes del sector" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>