<?xml version="1.0" encoding="utf-8"?>
<Media Key="d9d228e0-49be-4898-bace-b12fd05a16b7" Alias="Imágenes del sector" Level="103">
  <Info>
    <Parent Key="fcc5c85b-0a5f-4bd4-89b9-68f23baa6fdc">Agronegocios</Parent>
    <Path>/[-21]/Sectores/Agronegocios/ImagenesDelSector</Path>
    <Trashed Parent="fcc5c85b-0a5f-4bd4-89b9-68f23baa6fdc">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:12</CreateDate>
    <NodeName Default="Imágenes del sector" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>