<?xml version="1.0" encoding="utf-8"?>
<Media Key="8015ab42-5152-44d2-b404-1e3729f8574a" Alias="imágenes del sector" Level="103">
  <Info>
    <Parent Key="37aa0395-f507-4d49-9ae2-e3286e4ffd70">Externalización de Servicios</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/imagenesDelSector</Path>
    <Trashed Parent="37aa0395-f507-4d49-9ae2-e3286e4ffd70">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:34</CreateDate>
    <NodeName Default="imágenes del sector" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>