<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb66c451-1618-4863-a4c9-931560765b1a" Alias="Imágenes del sector" Level="4">
  <Info>
    <Parent Key="3c3a25d6-8f10-458b-b90f-3674befa3248">Agronegocios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/ImagenesDelSector</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:20</CreateDate>
    <NodeName Default="Imágenes del sector" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>