<?xml version="1.0" encoding="utf-8"?>
<Media Key="d47a9038-b125-45e8-8c8a-3b65fcc0ead2" Alias="imágenes del sector" Level="4">
  <Info>
    <Parent Key="ff73085f-2dd4-4e1c-9eda-fe6aef22d57b">Externalización de Servicios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/imagenesDelSector</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:24</CreateDate>
    <NodeName Default="imágenes del sector" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>