<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a1e1f46-45be-4bf5-b161-52d3fa73f33d" Alias="Industria Forestal" Level="6">
  <Info>
    <Parent Key="0ddaf6a3-5805-4613-bf41-83bc2cd4dc0d">productos con potencial de desarrollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/PaginaInterna/productosConPotencialDeDesarrollo/IndustriaForestal</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:43</CreateDate>
    <NodeName Default="Industria Forestal" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iapb2cv4/industria-forestal.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>