<?xml version="1.0" encoding="utf-8"?>
<Media Key="963154d0-7b59-43df-aa91-3d0d652749f7" Alias="Informe Global De Brecha De Género" Level="4">
  <Info>
    <Parent Key="bf50a51a-a18a-430b-8992-bb476fa895ca">Igualdad de Género</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/IgualdadDeGenero/InformeGlobalDeBrechaDeGenero</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:01</CreateDate>
    <NodeName Default="Informe Global De Brecha De Género" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zbkddfsz/informe-global-de-brecha-de-género.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>