<?xml version="1.0" encoding="utf-8"?>
<Media Key="22798ac9-9e12-4590-8ece-c66d1c959b3f" Alias="Informe Global De Brecha De Género" Level="103">
  <Info>
    <Parent Key="0e1f4253-e2b8-4724-85f9-6f362e7b4fff">Igualdad de Género</Parent>
    <Path>/[-21]/PorqueNicaragua/IgualdadDeGenero/InformeGlobalDeBrechaDeGenero</Path>
    <Trashed Parent="0e1f4253-e2b8-4724-85f9-6f362e7b4fff">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:16:21</CreateDate>
    <NodeName Default="Informe Global De Brecha De Género" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0gfhsiqs/informe-global-de-brecha-de-género.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>