<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b75e992-62bd-4725-93a6-fdea00c17875" Alias="Inicio 5 Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Inicio5Min</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:57</CreateDate>
    <NodeName Default="Inicio 5 Min" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/stuhk433/inicio-5-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>