<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3ee6540-198c-41b5-b571-ea4c95e489b9" Alias="Inicio 3 (1)" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Inicio31</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:56</CreateDate>
    <NodeName Default="Inicio 3 (1)" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/izsp3q2m/inicio-3-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>