<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f18e179-5503-433a-9de1-3f1a2752c78c" Alias="Inicio 2" Level="2">
  <Info>
    <Parent Key="bf6c6430-a535-4b2a-b99d-30277ed06531">Imagenes</Parent>
    <Path>/Imagenes/Inicio2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:34:00</CreateDate>
    <NodeName Default="Inicio 2" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p5qbq5yd/inicio-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>