<?xml version="1.0" encoding="utf-8"?>
<Media Key="a761a07c-9159-4061-a858-ec5c6685a3f6" Alias="Inicio 1 Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Inicio1Min</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:56</CreateDate>
    <NodeName Default="Inicio 1 Min" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pkqgdj0z/inicio-1-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>