<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d2c8362-5308-4768-9555-58db64620cca" Alias="Inicio 6 Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Inicio6Min</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:57</CreateDate>
    <NodeName Default="Inicio 6 Min" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/msbdy1ii/inicio-6-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>