<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f3c7ba3-7a90-41d5-ba71-a100aa5b9021" Alias="Inicio Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/InicioMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:57</CreateDate>
    <NodeName Default="Inicio Min" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uv3dyh2q/inicio-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>