<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a72b839-5b43-431a-94c6-788fc56381ae" Alias="Inicio" Level="2">
  <Info>
    <Parent Key="0236f319-a09b-4a3a-8113-32cf755469b3">Contenido administrado del sitio web comprimido</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:11</CreateDate>
    <NodeName Default="Inicio" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>