<?xml version="1.0" encoding="utf-8"?>
<Media Key="2699eee6-b1e2-4f06-ba73-6ec55b0fb8f1" Alias="Inversión Extranjera Directa (IED)" Level="4">
  <Info>
    <Parent Key="6c355d62-7b46-4f2a-9fb0-f2fce13a650e">Datos macroeconómcos</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/DatosMacroeconomcos/InversionExtranjeraDirectaIED</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:12</CreateDate>
    <NodeName Default="Inversión Extranjera Directa (IED)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2dxjsjxc/inversión-extranjera-directa-ied.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>