<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e76bf25-19f0-4622-bae9-f159f5d38bf4" Alias="Inversión Extranjera Directa" Level="4">
  <Info>
    <Parent Key="3bb84533-45fc-4299-b5f4-6c78451211dc">IED</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/IED/InversionExtranjeraDirecta</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:00</CreateDate>
    <NodeName Default="Inversión Extranjera Directa" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hw5hm1xq/inversión-extranjera-directa.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>