<?xml version="1.0" encoding="utf-8"?>
<Media Key="e068c45a-6d99-4d57-9bd8-62b43e0d9fec" Alias="La Gaceta No - 58 Miércoles 29 de Marzo de 2023" Level="102">
  <Info>
    <Parent Key="89c10c4c-ffc4-40b6-859b-92180d8f45aa">Documentos</Parent>
    <Path>/[-21]/Documentos/LaGacetaNo58Miercoles29DeMarzoDe2023</Path>
    <Trashed Parent="89c10c4c-ffc4-40b6-859b-92180d8f45aa">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-26T15:41:16</CreateDate>
    <NodeName Default="La Gaceta No - 58 Miércoles 29 de Marzo de 2023" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ilcgryez/la-gaceta-no-58-miércoles-29-de-marzo-de-2023.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>