<?xml version="1.0" encoding="utf-8"?>
<Media Key="07688ea2-5ac8-48e3-a800-adf9dab3afe9" Alias="LALA4960" Level="104">
  <Info>
    <Parent Key="d9d228e0-49be-4898-bace-b12fd05a16b7">Imágenes del sector</Parent>
    <Path>/[-21]/Sectores/Agronegocios/ImagenesDelSector/LALA4960</Path>
    <Trashed Parent="d9d228e0-49be-4898-bace-b12fd05a16b7">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:32</CreateDate>
    <NodeName Default="LALA4960" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ushgqb4i/lala4960.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>