<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b1f2dc2-e796-4122-ba5a-f0a7c6fd6493" Alias="Langosta" Level="5">
  <Info>
    <Parent Key="6d2a636f-41cf-45d1-82bc-d66d09a848d3">Sectores con potencial de desarrollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/SectoresConPotencialDeDesarrollo/Langosta</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:34</CreateDate>
    <NodeName Default="Langosta" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yqwb4c2w/langosta.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>