<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dbe59ce-dd62-4e5e-86de-6d71d689a5d4" Alias="Langosta" Level="6">
  <Info>
    <Parent Key="960fc94f-dad5-406a-a388-736031448c4b">Productos con potencial de desarrollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/PaginaInterna/ProductosConPotencialDeDesarrollo/Langosta</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:47</CreateDate>
    <NodeName Default="Langosta" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zbml2tlc/langosta.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>