<?xml version="1.0" encoding="utf-8"?>
<Media Key="12b36577-2a97-47c8-b78d-9c2b98709132" Alias="Leer! Importante" Level="4">
  <Info>
    <Parent Key="ed6bfdcf-a765-4c56-9714-ec6fc148e741">Enlaces de interes</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/EnlacesDeInteres/LeerImportante</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:15</CreateDate>
    <NodeName Default="Leer! Importante" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n3slgeux/leer-importante.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>