<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b515699-4595-4513-8495-84f6c23b90bf" Alias="Ley 917 Ley De Zonas Francas De Exportación" Level="3">
  <Info>
    <Parent Key="8b8224dd-62c2-485f-b94e-d97b6ebf4397">Recursos</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Recursos/Ley917LeyDeZonasFrancasDeExportacion</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:22:55</CreateDate>
    <NodeName Default="Ley 917 Ley De Zonas Francas De Exportación" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w3lfc42v/ley-917-ley-de-zonas-francas-de-exportación.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>