<?xml version="1.0" encoding="utf-8"?>
<Media Key="00f59863-32f4-4c8a-88f5-38041b8eb149" Alias="Ley N° 1134 Creadora SPIEX" Level="3">
  <Info>
    <Parent Key="8b8224dd-62c2-485f-b94e-d97b6ebf4397">Recursos</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Recursos/LeyN1134CreadoraSPIEX</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:22:55</CreateDate>
    <NodeName Default="Ley N° 1134 Creadora SPIEX" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jwmpkahu/ley-n-1134-creadora-spiex.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>