<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a067c1c-116e-433a-9d3f-ba44e14fcc4d" Alias="Libras Exportadas" Level="4">
  <Info>
    <Parent Key="599cf908-273c-4462-85cf-2336905626e2">Pesca y acuicultura</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/LibrasExportadas</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:10</CreateDate>
    <NodeName Default="Libras Exportadas" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dj4amoto/libras-exportadas.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>