<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a5cb3e2-24b6-4e76-b4c7-6e3987dde15f" Alias="Light Manufacturing (1)" Level="6">
  <Info>
    <Parent Key="7611614d-1c2d-4d0f-98ac-1df09dd56bc4">Brochures</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/PaginasInternas/Brochures/LightManufacturing1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:44</CreateDate>
    <NodeName Default="Light Manufacturing (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2szfycvw/light-manufacturing.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>