<?xml version="1.0" encoding="utf-8"?>
<Media Key="09396f4d-3fdd-413f-b58a-b79dfd9a6d39" Alias="Light Manufacturing" Level="6">
  <Info>
    <Parent Key="7611614d-1c2d-4d0f-98ac-1df09dd56bc4">Brochures</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/PaginasInternas/Brochures/LightManufacturing</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:23:44</CreateDate>
    <NodeName Default="Light Manufacturing" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mnxdsco3/light-manufacturing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>