<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c2156f2-5222-4549-acc6-f3a03d3c0823" Alias="Light Manufacturing (1)" Level="102">
  <Info>
    <Parent Key="0fd5eb52-9f41-43af-a970-25d4c43168b5">Documentos Ingles</Parent>
    <Path>/[-21]/DocumentosIngles/LightManufacturing1</Path>
    <Trashed Parent="0fd5eb52-9f41-43af-a970-25d4c43168b5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-18T14:08:06</CreateDate>
    <NodeName Default="Light Manufacturing (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4rlcclbc/light-manufacturing.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>