<?xml version="1.0" encoding="utf-8"?>
<Media Key="96a4cd4b-a6d6-4b6e-a1e9-d040e10a2a33" Alias="Light Manufacturing" Level="105">
  <Info>
    <Parent Key="987d6e7d-a68b-48de-af61-a793f9ee1dd2">Brochures</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera/PaginasInternas/Brochures/LightManufacturing</Path>
    <Trashed Parent="987d6e7d-a68b-48de-af61-a793f9ee1dd2">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T10:33:20</CreateDate>
    <NodeName Default="Light Manufacturing" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mxgljfww/light-manufacturing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>