<?xml version="1.0" encoding="utf-8"?>
<Media Key="e93f690e-537c-4764-b5e4-44a6e65cae70" Alias="Light Manufacturing Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/LightManufacturingMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T16:01:28</CreateDate>
    <NodeName Default="Light Manufacturing Min" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bbud50l2/light-manufacturing-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>