<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9e174be-fa5c-4d3f-a33e-0c72953967a8" Alias="Locale" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Locale</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-27T16:24:26</CreateDate>
    <NodeName Default="Locale" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uz0odsk2/locale.properties]]></Value>
    </umbracoFile>
  </Properties>
</Media>