<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8410d41-9ec7-4dd9-a899-47f41705e13d" Alias="Logo Para Sitio Web 03" Level="3">
  <Info>
    <Parent Key="60d5bec5-4d9f-4428-835e-2ad769f9d667">logo de parte superior izquierda</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/logoDeParteSuperiorIzquierda/LogoParaSitioWeb03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:22:54</CreateDate>
    <NodeName Default="Logo Para Sitio Web 03" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i2gfdsgh/logo-para-sitio-web-03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>