<?xml version="1.0" encoding="utf-8"?>
<Media Key="60d5bec5-4d9f-4428-835e-2ad769f9d667" Alias="logo de parte superior izquierda" Level="2">
  <Info>
    <Parent Key="0236f319-a09b-4a3a-8113-32cf755469b3">Contenido administrado del sitio web comprimido</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/logoDeParteSuperiorIzquierda</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:22:53</CreateDate>
    <NodeName Default="logo de parte superior izquierda" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>