<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5c7baed-8a3d-4b6a-b0c2-42b50c5ae354" Alias="Mano De Obra Calificada" Level="4">
  <Info>
    <Parent Key="5a1945b8-fc1a-43cd-b82f-ac076c71f735">íconos #1 en Centroamérica</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/iconos1EnCentroamerica/ManoDeObraCalificada</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:03</CreateDate>
    <NodeName Default="Mano De Obra Calificada" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3o3mprj3/mano-de-obra-calificada.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>