<?xml version="1.0" encoding="utf-8"?>
<Media Key="55e86f43-9963-4ae1-9358-edf8f4aa6c8d" Alias="Manufactura Ligera" Level="2">
  <Info>
    <Parent Key="89c10c4c-ffc4-40b6-859b-92180d8f45aa">Documentos</Parent>
    <Path>/Documentos/ManufacturaLigera</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-08-16T10:06:37</CreateDate>
    <NodeName Default="Manufactura Ligera" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nvxpqvld/manufactura-ligera.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>