<?xml version="1.0" encoding="utf-8"?>
<Media Key="cddbaa40-a9d2-42d8-b0ca-9022f4416529" Alias="Manufactura" Level="3">
  <Info>
    <Parent Key="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">Sectores</Parent>
    <Path>/Imagenes/Sectores/Manufactura</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:43:35</CreateDate>
    <NodeName Default="Manufactura" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i0vnxtos/manufactura.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>