<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8908672-bdc3-499f-8aa4-110973a53f54" Alias="Manufactura Ligera" Level="105">
  <Info>
    <Parent Key="987d6e7d-a68b-48de-af61-a793f9ee1dd2">Brochures</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera/PaginasInternas/Brochures/ManufacturaLigera</Path>
    <Trashed Parent="987d6e7d-a68b-48de-af61-a793f9ee1dd2">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T10:33:20</CreateDate>
    <NodeName Default="Manufactura Ligera" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lsdjb0gd/manufactura-ligera.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>