<?xml version="1.0" encoding="utf-8"?>
<Media Key="018c0eb7-ea4d-4b5b-80af-e4d6a614c29a" Alias="Manufactura Ligera Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/ManufacturaLigeraMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T15:54:23</CreateDate>
    <NodeName Default="Manufactura Ligera Min" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wehiyakn/manufactura-ligera-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>