<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ac75c4d-2edf-4f32-8f55-5c9ecbc6470c" Alias="Manufactura Ligera" Level="102">
  <Info>
    <Parent Key="6f00c1fb-6566-45d4-9f27-873f34849c1f">Sectores</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera</Path>
    <Trashed Parent="6f00c1fb-6566-45d4-9f27-873f34849c1f">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:02</CreateDate>
    <NodeName Default="Manufactura Ligera" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>