<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b26bd9c-4dfa-4c61-a3a8-4a9777627e6e" Alias="Manufactura Ligera" Level="2">
  <Info>
    <Parent Key="289c1f99-9a54-4c85-b040-deffddb1ffa7">Imagenes</Parent>
    <Path>/Imagenes/ManufacturaLigera</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-18T14:06:30</CreateDate>
    <NodeName Default="Manufactura Ligera" />
    <SortOrder>154</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tk4dnc50/manufactura-ligera.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>