<?xml version="1.0" encoding="utf-8"?>
<Media Key="b85f91d2-509b-48e9-b593-a7e8873b53d3" Alias="Manufactura Ligera" Level="6">
  <Info>
    <Parent Key="7611614d-1c2d-4d0f-98ac-1df09dd56bc4">Brochures</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/PaginasInternas/Brochures/ManufacturaLigera</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:23:45</CreateDate>
    <NodeName Default="Manufactura Ligera" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5sif5oe1/manufactura-ligera.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>