<?xml version="1.0" encoding="utf-8"?>
<Media Key="f552e5f6-09c9-4f7f-ab49-498481739b0b" Alias="Manufactura Ligera (1)" Level="3">
  <Info>
    <Parent Key="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">Sectores</Parent>
    <Path>/Imagenes/Sectores/ManufacturaLigera1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:23:28</CreateDate>
    <NodeName Default="Manufactura Ligera (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4dsff3oj/manufactura-ligera-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>