<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d0f722b-f6e2-4e5a-a05a-7ad40e1e0da7" Alias="Manufactura Ligera" Level="3">
  <Info>
    <Parent Key="f6d390a2-c90b-46de-8cd3-c602a175ef37">Sectores</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:08</CreateDate>
    <NodeName Default="Manufactura Ligera" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>