<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7927026-dde8-4d67-814c-8f51c5c703fe" Alias="Manufactura Ligera Min" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/ManufacturaLigeraMin</Path>
    <Trashed Parent="a867f597-5571-4b9f-bb92-06c16f359ee5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:57</CreateDate>
    <NodeName Default="Manufactura Ligera Min" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ebyjfj5i/manufactura-ligera-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>