<?xml version="1.0" encoding="utf-8"?>
<Media Key="067b35cf-77a6-41ce-96d5-e0c1102e4670" Alias="Manufactura (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Manufactura1</Path>
    <Trashed Parent="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T18:43:34</CreateDate>
    <NodeName Default="Manufactura (1)" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ze0hwbvg/manufactura.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>