<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffbc7ff1-fab1-4e3d-8dbd-4ec7d08b058b" Alias="MAR 1654" Level="4">
  <Info>
    <Parent Key="652b5fed-ec7d-43a5-980c-9346cbab05d9">Portadas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/Portadas/MAR1654</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:01</CreateDate>
    <NodeName Default="MAR 1654" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/435lz53r/mar_1654.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>