<?xml version="1.0" encoding="utf-8"?>
<Media Key="c414ac06-081e-45c3-bdf8-24639294a32a" Alias="MAR 1421" Level="104">
  <Info>
    <Parent Key="e689faca-a968-4cf8-b4e1-ee1e8213568d">imágenes del sector</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/imagenesDelSector/MAR1421</Path>
    <Trashed Parent="e689faca-a968-4cf8-b4e1-ee1e8213568d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:53</CreateDate>
    <NodeName Default="MAR 1421" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/acwbjra4/mar_1421.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>