<?xml version="1.0" encoding="utf-8"?>
<Media Key="a062deed-8e70-418a-909c-49ad50b5c8e3" Alias="MAR 1654" Level="103">
  <Info>
    <Parent Key="c2b136ac-0aed-40e9-b4a9-14651cb4e505">Portadas</Parent>
    <Path>/[-21]/PorqueNicaragua/Portadas/MAR1654</Path>
    <Trashed Parent="c2b136ac-0aed-40e9-b4a9-14651cb4e505">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:13</CreateDate>
    <NodeName Default="MAR 1654" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3ppgfidq/mar_1654.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>