<?xml version="1.0" encoding="utf-8"?>
<Media Key="36376872-f5f7-4b54-9e9f-32c22ce718ba" Alias="Mayor Exportador De Crustáceos Hacia Europa En Centroamérica" Level="5">
  <Info>
    <Parent Key="8c30ec32-a676-4809-9b71-f53010533338">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/PaginaInterna/MayorExportadorDeCrustaceosHaciaEuropaEnCentroamerica</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:32</CreateDate>
    <NodeName Default="Mayor Exportador De Crustáceos Hacia Europa En Centroamérica" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/orudonxx/mayor-exportador-de-crustáceos-hacia-europa-en-centroamérica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>