<?xml version="1.0" encoding="utf-8"?>
<Media Key="689a99bd-2a10-4843-b816-daa2afcbf6f5" Alias="Medical Device Manufacturing" Level="5">
  <Info>
    <Parent Key="bc24dd03-b5e0-4e25-9277-b444dbafe65a">imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/imagenesDelSector/MedicalDeviceManufacturing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:26</CreateDate>
    <NodeName Default="Medical Device Manufacturing" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xomju0aq/medical-device-manufacturing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>