<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ba46783-98fe-4507-b2a9-43e669fd52c1" Alias="Mejor Calidad De Carreteras" Level="4">
  <Info>
    <Parent Key="5a1945b8-fc1a-43cd-b82f-ac076c71f735">íconos #1 en Centroamérica</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/iconos1EnCentroamerica/MejorCalidadDeCarreteras</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:03</CreateDate>
    <NodeName Default="Mejor Calidad De Carreteras" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qvtli054/mejor-calidad-de-carreteras.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>