<?xml version="1.0" encoding="utf-8"?>
<Media Key="e77c02bb-08b5-429f-8576-9d8a367a80e2" Alias="Menor Tiempo Para Abrir Una Empresa" Level="103">
  <Info>
    <Parent Key="e4034dcd-71a0-4fba-8be1-cd2b655beb8a">íconos #1 en Centroamérica</Parent>
    <Path>/[-21]/PorqueNicaragua/iconos1EnCentroamerica/MenorTiempoParaAbrirUnaEmpresa</Path>
    <Trashed Parent="e4034dcd-71a0-4fba-8be1-cd2b655beb8a">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:17</CreateDate>
    <NodeName Default="Menor Tiempo Para Abrir Una Empresa" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xubhzz3v/menor-tiempo-para-abrir-una-empresa.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>