<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee11b838-57c0-4474-af56-15fd530601a0" Alias="Menor Tiempo Para Abrir Una Empresa" Level="4">
  <Info>
    <Parent Key="5a1945b8-fc1a-43cd-b82f-ac076c71f735">íconos #1 en Centroamérica</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/iconos1EnCentroamerica/MenorTiempoParaAbrirUnaEmpresa</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:04</CreateDate>
    <NodeName Default="Menor Tiempo Para Abrir Una Empresa" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h02bd1wa/menor-tiempo-para-abrir-una-empresa.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>