<?xml version="1.0" encoding="utf-8"?>
<Media Key="bff81861-968a-4cfe-aaa2-b19a9aa23b44" Alias="Menor Tasa De Crimen Organizado" Level="103">
  <Info>
    <Parent Key="e4034dcd-71a0-4fba-8be1-cd2b655beb8a">íconos #1 en Centroamérica</Parent>
    <Path>/[-21]/PorqueNicaragua/iconos1EnCentroamerica/MenorTasaDeCrimenOrganizado</Path>
    <Trashed Parent="e4034dcd-71a0-4fba-8be1-cd2b655beb8a">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:17</CreateDate>
    <NodeName Default="Menor Tasa De Crimen Organizado" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m2mprp2k/menor-tasa-de-crimen-organizado.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>