<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a763754-1369-4879-b423-a3c9d8313e14" Alias="Menor Tasa De Homicidios" Level="4">
  <Info>
    <Parent Key="5a1945b8-fc1a-43cd-b82f-ac076c71f735">íconos #1 en Centroamérica</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/iconos1EnCentroamerica/MenorTasaDeHomicidios</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:04</CreateDate>
    <NodeName Default="Menor Tasa De Homicidios" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ki1hmstj/menor-tasa-de-homicidios.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>