<?xml version="1.0" encoding="utf-8"?>
<Media Key="2eb57bb1-d712-47d1-8608-5f65141ce78c" Alias="Menor Costo Para La Gestión De Exportar" Level="4">
  <Info>
    <Parent Key="5a1945b8-fc1a-43cd-b82f-ac076c71f735">íconos #1 en Centroamérica</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/iconos1EnCentroamerica/MenorCostoParaLaGestionDeExportar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:03</CreateDate>
    <NodeName Default="Menor Costo Para La Gestión De Exportar" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w33lklqs/menor-costo-para-la-gestión-de-exportar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>