<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd2ae290-e396-4fc9-8366-7d5050036008" Alias="Menor Tasa De Homicidios" Level="2">
  <Info>
    <Parent Key="289c1f99-9a54-4c85-b040-deffddb1ffa7">Imagenes</Parent>
    <Path>/Imagenes/MenorTasaDeHomicidios</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-07T12:52:06</CreateDate>
    <NodeName Default="Menor Tasa De Homicidios" />
    <SortOrder>120</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s1rcvpmw/menor-tasa-de-homicidios.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>