<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e2e4638-be3b-4ef7-b84f-4b7fd5e1e927" Alias="MIFIC" Level="2">
  <Info>
    <Parent Key="289c1f99-9a54-4c85-b040-deffddb1ffa7">Imagenes</Parent>
    <Path>/Imagenes/MIFIC</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-10T14:02:36</CreateDate>
    <NodeName Default="MIFIC" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hzdc2lr1/mific.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>