<?xml version="1.0" encoding="utf-8"?>
<Media Key="f505885b-b17a-45be-a6cf-fa72a0fc6628" Alias="Musáceas Y Raíces Tubérculos" Level="6">
  <Info>
    <Parent Key="1ccd87f7-1736-4b85-8147-54c9bed554d1">Productos con potencial desarollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/ProductosConPotencialDesarollo/MusaceasYRaicesTuberculos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:37</CreateDate>
    <NodeName Default="Musáceas Y Raíces Tubérculos" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lweal3l0/musáceas-y-raíces-tubérculos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>