<?xml version="1.0" encoding="utf-8"?>
<Media Key="66e0aec0-3531-4977-b513-166445937f72" Alias="Nicaragua, Destino Ideal Para Las Inversiones (1)" Level="2">
  <Info>
    <Parent Key="8cec470f-d0d9-4af8-8aef-8834860cb694">Videos</Parent>
    <Path>/Videos/NicaraguaDestinoIdealParaLasInversiones1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-08-07T13:09:41</CreateDate>
    <NodeName Default="Nicaragua, Destino Ideal Para Las Inversiones (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3cxoazrr/nicaragua-destino-ideal-para-las-inversiones-1.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>