<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf273252-c50c-4751-a960-4f85b07207f1" Alias="Nicaragua" Level="102">
  <Info>
    <Parent Key="8cec470f-d0d9-4af8-8aef-8834860cb694">Videos</Parent>
    <Path>/[-21]/Videos/Nicaragua</Path>
    <Trashed Parent="8cec470f-d0d9-4af8-8aef-8834860cb694">true</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2023-07-27T13:30:05</CreateDate>
    <NodeName Default="Nicaragua" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pizcptym/nicaragua-cinematic-video-4k.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>