<?xml version="1.0" encoding="utf-8"?>
<Media Key="67a59ce6-2482-40b9-8116-aed900809f8d" Alias="Noticias" Level="2">
  <Info>
    <Parent Key="bf6c6430-a535-4b2a-b99d-30277ed06531">Imagenes</Parent>
    <Path>/Imagenes/Noticias</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-31T18:54:44</CreateDate>
    <NodeName Default="Noticias" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>