<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ff21c96-e9e0-48c0-802d-f688352da6ed" Alias="Noticia3" Level="3">
  <Info>
    <Parent Key="67a59ce6-2482-40b9-8116-aed900809f8d">Noticias</Parent>
    <Path>/Imagenes/Noticias/Noticia3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:22:19</CreateDate>
    <NodeName Default="Noticia3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/saope15a/noticia3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>