<?xml version="1.0" encoding="utf-8"?>
<Media Key="c26fd022-8274-42a6-9aac-ccb38c38494b" Alias="Noticiapesca" Level="3">
  <Info>
    <Parent Key="67a59ce6-2482-40b9-8116-aed900809f8d">Noticias</Parent>
    <Path>/Imagenes/Noticias/Noticiapesca</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:22:19</CreateDate>
    <NodeName Default="Noticiapesca" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/etig5qtu/noticiapesca.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>