<?xml version="1.0" encoding="utf-8"?>
<Media Key="498f9daf-ffb8-4cb1-ab24-cadfcc46e0b8" Alias="Noticia4 (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Noticia42</Path>
    <Trashed Parent="67a59ce6-2482-40b9-8116-aed900809f8d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T19:07:34</CreateDate>
    <NodeName Default="Noticia4 (2)" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vgoj4sny/noticia4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>