<?xml version="1.0" encoding="utf-8"?>
<Media Key="ddc18a6d-f419-4318-9094-c9bde0fe8059" Alias="Noticia3 (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Noticia32</Path>
    <Trashed Parent="67a59ce6-2482-40b9-8116-aed900809f8d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T19:07:34</CreateDate>
    <NodeName Default="Noticia3 (2)" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nofmdxiz/noticia3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>