<?xml version="1.0" encoding="utf-8"?>
<Media Key="56e15cc8-cd7b-4ce5-99d3-7cae0e1ba5ae" Alias="Noticiapesca (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Noticiapesca2</Path>
    <Trashed Parent="67a59ce6-2482-40b9-8116-aed900809f8d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T19:07:34</CreateDate>
    <NodeName Default="Noticiapesca (2)" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zzoocvt1/noticiapesca.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>