<?xml version="1.0" encoding="utf-8"?>
<Media Key="e38e93d6-1662-4499-a8b5-41b09f316492" Alias="Outsourcing (1)" Level="2">
  <Info>
    <Parent Key="0fd5eb52-9f41-43af-a970-25d4c43168b5">Documentos Ingles</Parent>
    <Path>/DocumentosIngles/Outsourcing1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-18T14:08:05</CreateDate>
    <NodeName Default="Outsourcing (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0cjj3y1c/outsourcing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>