<?xml version="1.0" encoding="utf-8"?>
<Media Key="72d8e226-4d26-4898-8b87-6d14da30f7e1" Alias="Outsourcing" Level="6">
  <Info>
    <Parent Key="2303a00f-9661-49fb-af7b-0dfdbd379395">brochure</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/brochure/Outsourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:39</CreateDate>
    <NodeName Default="Outsourcing" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/edrnq2rg/outsourcing.gif"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>