<?xml version="1.0" encoding="utf-8"?>
<Media Key="dfa8bcd5-2e17-4e4b-bb9f-3172763b711c" Alias="Outsourcing Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/OutsourcingMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T16:01:27</CreateDate>
    <NodeName Default="Outsourcing Min" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0o4krxyx/outsourcing-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>