<?xml version="1.0" encoding="utf-8"?>
<Media Key="17e0e0f7-a663-4b82-98d4-fe45f546fe15" Alias="Outsourcing" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Outsourcing</Path>
    <Trashed Parent="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T20:47:01</CreateDate>
    <NodeName Default="Outsourcing" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4hqoaf1d/outsourcing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>