<?xml version="1.0" encoding="utf-8"?>
<Media Key="aac9d8d3-0eb1-45e2-8d1b-732a84dd3f3e" Alias="Outsourcing" Level="3">
  <Info>
    <Parent Key="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">Sectores</Parent>
    <Path>/Imagenes/Sectores/Outsourcing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:23:28</CreateDate>
    <NodeName Default="Outsourcing" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0xmmtkvr/outsourcing.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>