<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5a7af1f-bcff-4609-aafc-a366571669f3" Alias="Outsourcing (1)" Level="6">
  <Info>
    <Parent Key="2303a00f-9661-49fb-af7b-0dfdbd379395">brochure</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/brochure/Outsourcing1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:23:40</CreateDate>
    <NodeName Default="Outsourcing (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ggxlpvp5/outsourcing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>