<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7bcd2ea-4df6-4ba6-8ac4-614dd3952d9b" Alias="Pepino De Mar" Level="6">
  <Info>
    <Parent Key="960fc94f-dad5-406a-a388-736031448c4b">Productos con potencial de desarrollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/PaginaInterna/ProductosConPotencialDeDesarrollo/PepinoDeMar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:48</CreateDate>
    <NodeName Default="Pepino De Mar" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3tjlzj5w/pepino-de-mar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>