<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7ef4ea3-e3b7-4c13-bccd-9852acedd5e1" Alias="Pesca" Level="105">
  <Info>
    <Parent Key="3e60a6f2-1b09-4349-b34c-638fc8929d75">brochures</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/PaginaInterna/brochures/Pesca</Path>
    <Trashed Parent="3e60a6f2-1b09-4349-b34c-638fc8929d75">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T10:33:22</CreateDate>
    <NodeName Default="Pesca" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rvho5z3x/pesca.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>