<?xml version="1.0" encoding="utf-8"?>
<Media Key="6974085b-f5b0-46e0-bd02-b45f16f802ba" Alias="Pesca Min" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/PescaMin</Path>
    <Trashed Parent="a867f597-5571-4b9f-bb92-06c16f359ee5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:57</CreateDate>
    <NodeName Default="Pesca Min" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/luehi0nq/pesca-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>