<?xml version="1.0" encoding="utf-8"?>
<Media Key="654d9d82-f8fa-4ed8-8a0b-743743704d19" Alias="Pesca y acuicultura" Level="102">
  <Info>
    <Parent Key="6f00c1fb-6566-45d4-9f27-873f34849c1f">Sectores</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura</Path>
    <Trashed Parent="6f00c1fb-6566-45d4-9f27-873f34849c1f">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:03</CreateDate>
    <NodeName Default="Pesca y acuicultura" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>