<?xml version="1.0" encoding="utf-8"?>
<Media Key="84120248-f7ce-43d7-8dd6-1ddd5faedd24" Alias="Pesca (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Pesca2</Path>
    <Trashed Parent="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T20:47:01</CreateDate>
    <NodeName Default="Pesca (2)" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jybbfbgo/pesca-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>