<?xml version="1.0" encoding="utf-8"?>
<Media Key="599cf908-273c-4462-85cf-2336905626e2" Alias="Pesca y acuicultura" Level="3">
  <Info>
    <Parent Key="f6d390a2-c90b-46de-8cd3-c602a175ef37">Sectores</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:09</CreateDate>
    <NodeName Default="Pesca y acuicultura" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>