<?xml version="1.0" encoding="utf-8"?>
<Media Key="137261e1-28ab-486e-979f-70d58dce2a70" Alias="Pesca" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Pesca</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T15:27:14</CreateDate>
    <NodeName Default="Pesca" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/23qhee3l/pesca.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>