<?xml version="1.0" encoding="utf-8"?>
<Media Key="26ad5486-50ea-42be-a658-6b40921f563e" Alias="Pesca Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/PescaMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T15:54:22</CreateDate>
    <NodeName Default="Pesca Min" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qbkk0jxk/pesca-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>