<?xml version="1.0" encoding="utf-8"?>
<Media Key="5991d747-c38c-41f7-a8da-fee99c76b25b" Alias="Pesca" Level="6">
  <Info>
    <Parent Key="3312f033-47a0-472f-97d9-8bf88791f795">brochures</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/PaginaInterna/brochures/Pesca</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T22:23:46</CreateDate>
    <NodeName Default="Pesca" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nhljcwmm/pesca.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>