<?xml version="1.0" encoding="utf-8"?>
<Media Key="11321518-4630-490d-927c-d3a3f383406a" Alias="Pesca 2 Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/Pesca2Min</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:57</CreateDate>
    <NodeName Default="Pesca 2 Min" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dykdeejq/pesca_2-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>