<?xml version="1.0" encoding="utf-8"?>
<Media Key="73aea8e9-cee4-4217-a55d-765ed5454b51" Alias="Pesca (1)" Level="3">
  <Info>
    <Parent Key="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">Sectores</Parent>
    <Path>/Imagenes/Sectores/Pesca1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-01T15:23:29</CreateDate>
    <NodeName Default="Pesca (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/34uk225e/pesca-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>