<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0fa1050-5b7b-4231-b84f-7d517e9fcc3a" Alias="Pesca (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Pesca1</Path>
    <Trashed Parent="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T18:43:34</CreateDate>
    <NodeName Default="Pesca (1)" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kyipvud1/pesca.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>