<?xml version="1.0" encoding="utf-8"?>
<Media Key="50d79229-017e-48ce-b2b4-8a8e01279db0" Alias="PIB Y Comercio Exterior" Level="4">
  <Info>
    <Parent Key="3bb84533-45fc-4299-b5f4-6c78451211dc">IED</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/IED/PIBYComercioExterior</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:00</CreateDate>
    <NodeName Default="PIB Y Comercio Exterior" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ggjnoud4/pib-y-comercio-exterior.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>