<?xml version="1.0" encoding="utf-8"?>
<Media Key="e07af476-82f7-430f-859c-63eb84025bca" Alias="PIB" Level="2">
  <Info>
    <Parent Key="289c1f99-9a54-4c85-b040-deffddb1ffa7">Imagenes</Parent>
    <Path>/Imagenes/PIB</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-07T12:52:06</CreateDate>
    <NodeName Default="PIB" />
    <SortOrder>122</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/od0hvyhx/pib.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>