<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd41809f-f5de-456e-b767-a9934061b377" Alias="Plantaciones Maderables" Level="4">
  <Info>
    <Parent Key="20965964-d4ac-4b9b-a46e-14434dfe28c9">Forestal</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/PlantacionesMaderables</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:08</CreateDate>
    <NodeName Default="Plantaciones Maderables" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tgaedto4/plantaciones-maderables.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>