<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f58a080-85f2-48b3-999a-f9f19628a2fc" Alias="Plataforma Más Competitiva Para Operaciones Intensivas En Mano De Obra" Level="4">
  <Info>
    <Parent Key="5a1945b8-fc1a-43cd-b82f-ac076c71f735">íconos #1 en Centroamérica</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/iconos1EnCentroamerica/PlataformaMasCompetitivaParaOperacionesIntensivasEnManoDeObra</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:04</CreateDate>
    <NodeName Default="Plataforma Más Competitiva Para Operaciones Intensivas En Mano De Obra" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/q0qfrh5s/plataforma-más-competitiva-para-operaciones-intensivas-en-mano-de-obra.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>