<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fad67d4-951b-46c2-b85d-d7360fb6fd04" Alias="Politica Economica" Level="4">
  <Info>
    <Parent Key="5a1945b8-fc1a-43cd-b82f-ac076c71f735">íconos #1 en Centroamérica</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/iconos1EnCentroamerica/PoliticaEconomica</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:04</CreateDate>
    <NodeName Default="Politica Economica" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0jtl05y1/politica-economica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>