<?xml version="1.0" encoding="utf-8"?>
<Media Key="b90e30f9-ae06-4513-b5be-f10279c5019e" Alias="Politica Economica" Level="103">
  <Info>
    <Parent Key="e4034dcd-71a0-4fba-8be1-cd2b655beb8a">íconos #1 en Centroamérica</Parent>
    <Path>/[-21]/PorqueNicaragua/iconos1EnCentroamerica/PoliticaEconomica</Path>
    <Trashed Parent="e4034dcd-71a0-4fba-8be1-cd2b655beb8a">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:17</CreateDate>
    <NodeName Default="Politica Economica" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/52ya3oig/politica-economica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>