<?xml version="1.0" encoding="utf-8"?>
<Media Key="952a8940-3302-4c6d-a2f8-c1c92bb3c907" Alias="Política Pública" Level="102">
  <Info>
    <Parent Key="fb3b8fec-54a5-47c3-95fb-db3ccb453780">Servicios (3)</Parent>
    <Path>/[-21]/Servicios3/PoliticaPublica</Path>
    <Trashed Parent="fb3b8fec-54a5-47c3-95fb-db3ccb453780">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T11:13:56</CreateDate>
    <NodeName Default="Política Pública" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i0edvfic/política-pública.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>