<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5ac6968-634b-4566-b56e-86e27b6df16c" Alias="Por Que Nicaragua" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/PorQueNicaragua</Path>
    <Trashed Parent="bf6c6430-a535-4b2a-b99d-30277ed06531">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T18:20:56</CreateDate>
    <NodeName Default="Por Que Nicaragua" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nzulz3kl/por-que-nicaragua.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>