<?xml version="1.0" encoding="utf-8"?>
<Media Key="013dd17e-0c6d-4303-9bdc-f2cbca55be0e" Alias="¿Porqué Nicaragua?" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/PorqueNicaragua</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:15:49</CreateDate>
    <NodeName Default="¿Porqué Nicaragua?" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties />
</Media>