<?xml version="1.0" encoding="utf-8"?>
<Media Key="23d11628-b042-4363-8555-e766f615e802" Alias="Portadas Mesa De Trabajo 1 Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/PortadasMesaDeTrabajo1Min</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:58</CreateDate>
    <NodeName Default="Portadas Mesa De Trabajo 1 Min" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fylnci0c/portadas_mesa-de-trabajo-1-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>