<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ba11313-e979-49c3-9634-49198bcfbb7c" Alias="Portada 3 Secretaría De Promoción De Inversiones Y Exportaciones" Level="4">
  <Info>
    <Parent Key="b004b7c1-1e79-460e-a241-774d5beb18b8">Fotografias de portadas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/FotografiasDePortadas/Portada3SecretariaDePromocionDeInversionesYExportaciones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:17</CreateDate>
    <NodeName Default="Portada 3 Secretaría De Promoción De Inversiones Y Exportaciones" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cujlco1z/portada-3-secretaría-de-promoción-de-inversiones-y-exportaciones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>