<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5584d43-0eda-4f18-8b41-98d89ad0fb32" Alias="Portada 6 Secretaría De Promoción De Inversiones Y Exportaciones" Level="4">
  <Info>
    <Parent Key="b004b7c1-1e79-460e-a241-774d5beb18b8">Fotografias de portadas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/FotografiasDePortadas/Portada6SecretariaDePromocionDeInversionesYExportaciones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:17</CreateDate>
    <NodeName Default="Portada 6 Secretaría De Promoción De Inversiones Y Exportaciones" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ivgfrjo0/portada-6-secretaría-de-promoción-de-inversiones-y-exportaciones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>