<?xml version="1.0" encoding="utf-8"?>
<Media Key="652b5fed-ec7d-43a5-980c-9346cbab05d9" Alias="Portadas" Level="3">
  <Info>
    <Parent Key="ae0a076a-9009-453c-9c10-270ab23ae952">Porqué Nicargua</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/Portadas</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:00</CreateDate>
    <NodeName Default="Portadas" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>