<?xml version="1.0" encoding="utf-8"?>
<Media Key="07c7f7ed-e8ff-4953-9666-c66b0d055182" Alias="Portada 5 Secretaría De Promoción De Inversiones Y Exportaciones" Level="4">
  <Info>
    <Parent Key="b004b7c1-1e79-460e-a241-774d5beb18b8">Fotografias de portadas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/FotografiasDePortadas/Portada5SecretariaDePromocionDeInversionesYExportaciones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:17</CreateDate>
    <NodeName Default="Portada 5 Secretaría De Promoción De Inversiones Y Exportaciones" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3p1nob55/portada-5-secretaría-de-promoción-de-inversiones-y-exportaciones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>