<?xml version="1.0" encoding="utf-8"?>
<Media Key="027bfa49-d70b-455f-9991-10b3c274c7df" Alias="Portada Guia" Level="4">
  <Info>
    <Parent Key="f3d86bbf-625f-45d4-a7ab-b20cef890e35">Guía del Inversionista</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/GuiaDelInversionista/PortadaGuia</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:18</CreateDate>
    <NodeName Default="Portada Guia" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kh3hwaql/portada-guia.ai]]></Value>
    </umbracoFile>
  </Properties>
</Media>