<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2b136ac-0aed-40e9-b4a9-14651cb4e505" Alias="Portadas" Level="102">
  <Info>
    <Parent Key="013dd17e-0c6d-4303-9bdc-f2cbca55be0e">¿Porqué Nicaragua?</Parent>
    <Path>/[-21]/PorqueNicaragua/Portadas</Path>
    <Trashed Parent="013dd17e-0c6d-4303-9bdc-f2cbca55be0e">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:16:04</CreateDate>
    <NodeName Default="Portadas" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>