<?xml version="1.0" encoding="utf-8"?>
<Media Key="30da5e5f-b9e8-4160-a7b7-93278109168f" Alias="Portadas Mesa De Trabajo 1 Copia Min" Level="2">
  <Info>
    <Parent Key="a867f597-5571-4b9f-bb92-06c16f359ee5">Imagenes comp</Parent>
    <Path>/ImagenesComp/PortadasMesaDeTrabajo1CopiaMin</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T14:35:57</CreateDate>
    <NodeName Default="Portadas Mesa De Trabajo 1 Copia Min" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lfpnumhi/portadas_mesa-de-trabajo-1-copia-min.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>