<?xml version="1.0" encoding="utf-8"?>
<Media Key="1120e86d-5bd6-4861-b130-4d9964ab13cb" Alias="Portada Agronegocios En Ingles" Level="6">
  <Info>
    <Parent Key="697212ee-5a99-453b-8610-879c7eaac710">Brochure-Invierta en Nicaragua Agronegocios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/BrochureInviertaEnNicaraguaAgronegocios/PortadaAgronegociosEnIngles</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:36</CreateDate>
    <NodeName Default="Portada Agronegocios En Ingles" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/npucaeow/portada-agronegocios-en-ingles.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>