<?xml version="1.0" encoding="utf-8"?>
<Media Key="47093fb6-668f-4ff8-9313-f7ad977dd052" Alias="Portada 1 Secretaría De Promoción De Inversiones Y Exportaciones" Level="4">
  <Info>
    <Parent Key="b004b7c1-1e79-460e-a241-774d5beb18b8">Fotografias de portadas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/FotografiasDePortadas/Portada1SecretariaDePromocionDeInversionesYExportaciones</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:16</CreateDate>
    <NodeName Default="Portada 1 Secretaría De Promoción De Inversiones Y Exportaciones" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wa5bsr2p/portada-1-secretaría-de-promoción-de-inversiones-y-exportaciones.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>