<?xml version="1.0" encoding="utf-8"?>
<Media Key="46f780d2-5a22-4b95-842c-9bc0598b1906" Alias="Principal Exportador De Puros En Centroamérica" Level="5">
  <Info>
    <Parent Key="4327b099-06ac-44bf-a461-9ba4a56af37a">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/PrincipalExportadorDePurosEnCentroamerica</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:23</CreateDate>
    <NodeName Default="Principal Exportador De Puros En Centroamérica" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0saporrc/principal-exportador-de-puros-en-centroamérica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>