<?xml version="1.0" encoding="utf-8"?>
<Media Key="543e3f28-b7f6-4623-8fee-6931a87f4773" Alias="Principal Productor De Ganado En Centroamérica" Level="104">
  <Info>
    <Parent Key="2e9bbc22-3250-4895-9912-3634743696f9">Página interna</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/PrincipalProductorDeGanadoEnCentroamerica</Path>
    <Trashed Parent="2e9bbc22-3250-4895-9912-3634743696f9">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:25</CreateDate>
    <NodeName Default="Principal Productor De Ganado En Centroamérica" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fy5d2vhw/principal-productor-de-ganado-en-centroamérica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>