<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ec57788-e795-4570-88d3-dde85e03c763" Alias="Principal Productor De Ganado En Centroamérica" Level="5">
  <Info>
    <Parent Key="4327b099-06ac-44bf-a461-9ba4a56af37a">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/PrincipalProductorDeGanadoEnCentroamerica</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:23</CreateDate>
    <NodeName Default="Principal Productor De Ganado En Centroamérica" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rz1nk5uv/principal-productor-de-ganado-en-centroamérica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>