<?xml version="1.0" encoding="utf-8"?>
<Media Key="d638d10c-3bab-4831-8c5f-7cc014aef875" Alias="Principal Exportador De Puros En Centroamérica" Level="104">
  <Info>
    <Parent Key="2e9bbc22-3250-4895-9912-3634743696f9">Página interna</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/PrincipalExportadorDePurosEnCentroamerica</Path>
    <Trashed Parent="2e9bbc22-3250-4895-9912-3634743696f9">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:25</CreateDate>
    <NodeName Default="Principal Exportador De Puros En Centroamérica" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/blidrvvl/principal-exportador-de-puros-en-centroamérica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>