<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9c32132-cefe-4f06-97ca-d52ce0b46a88" Alias="Procesamiento De Alimentos" Level="4">
  <Info>
    <Parent Key="3c3a25d6-8f10-458b-b90f-3674befa3248">Agronegocios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/ProcesamientoDeAlimentos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:05</CreateDate>
    <NodeName Default="Procesamiento De Alimentos" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gqqnhop4/procesamiento-de-alimentos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>