<?xml version="1.0" encoding="utf-8"?>
<Media Key="53946d6c-0633-4b3d-9e15-0fa5bb8dfb2a" Alias="Procesos De Conocimiento (KPO)" Level="4">
  <Info>
    <Parent Key="ff73085f-2dd4-4e1c-9eda-fe6aef22d57b">Externalización de Servicios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/ProcesosDeConocimientoKPO</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:06</CreateDate>
    <NodeName Default="Procesos De Conocimiento (KPO)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/njwjiuzt/procesos-de-conocimiento-kpo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>