<?xml version="1.0" encoding="utf-8"?>
<Media Key="f185820b-6cd2-41a9-a9fc-df04f82d47ab" Alias="Procesos De Conocimiento (KPO)" Level="103">
  <Info>
    <Parent Key="37aa0395-f507-4d49-9ae2-e3286e4ffd70">Externalización de Servicios</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/ProcesosDeConocimientoKPO</Path>
    <Trashed Parent="37aa0395-f507-4d49-9ae2-e3286e4ffd70">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:01</CreateDate>
    <NodeName Default="Procesos De Conocimiento (KPO)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bwbil2os/procesos-de-conocimiento-kpo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>