<?xml version="1.0" encoding="utf-8"?>
<Media Key="6db7b229-56ab-4233-bf7a-dd77bd153357" Alias="Producción Agroexportable" Level="103">
  <Info>
    <Parent Key="fcc5c85b-0a5f-4bd4-89b9-68f23baa6fdc">Agronegocios</Parent>
    <Path>/[-21]/Sectores/Agronegocios/ProduccionAgroexportable</Path>
    <Trashed Parent="fcc5c85b-0a5f-4bd4-89b9-68f23baa6fdc">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:00</CreateDate>
    <NodeName Default="Producción Agroexportable" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f4zlo1nl/producción-agroexportable.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>