<?xml version="1.0" encoding="utf-8"?>
<Media Key="960fc94f-dad5-406a-a388-736031448c4b" Alias="Productos con potencial de desarrollo" Level="5">
  <Info>
    <Parent Key="8c30ec32-a676-4809-9b71-f53010533338">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/PaginaInterna/ProductosConPotencialDeDesarrollo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:47</CreateDate>
    <NodeName Default="Productos con potencial de desarrollo" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>