<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0abdcd0-09f6-4fcf-899a-e217661c2a7b" Alias="Producción De Lácteos Y Cárnicos" Level="103">
  <Info>
    <Parent Key="fcc5c85b-0a5f-4bd4-89b9-68f23baa6fdc">Agronegocios</Parent>
    <Path>/[-21]/Sectores/Agronegocios/ProduccionDeLacteosYCarnicos</Path>
    <Trashed Parent="fcc5c85b-0a5f-4bd4-89b9-68f23baa6fdc">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:00</CreateDate>
    <NodeName Default="Producción De Lácteos Y Cárnicos" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/01okxqhw/producción-de-lácteos-y-cárnicos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>