<?xml version="1.0" encoding="utf-8"?>
<Media Key="f60a6f86-626a-49d8-b0fc-bc0525a94bb3" Alias="Productos con potencial desarollo" Level="104">
  <Info>
    <Parent Key="2e9bbc22-3250-4895-9912-3634743696f9">Página interna</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/ProductosConPotencialDesarollo</Path>
    <Trashed Parent="2e9bbc22-3250-4895-9912-3634743696f9">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:33:04</CreateDate>
    <NodeName Default="Productos con potencial desarollo" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>