<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ddaf6a3-5805-4613-bf41-83bc2cd4dc0d" Alias="productos con potencial de desarrollo" Level="5">
  <Info>
    <Parent Key="ad6c64d6-2bdc-41bd-b716-39f2561d072d">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/PaginaInterna/productosConPotencialDeDesarrollo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:43</CreateDate>
    <NodeName Default="productos con potencial de desarrollo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>