<?xml version="1.0" encoding="utf-8"?>
<Media Key="5693b62e-640c-46ad-aa19-8e3f998f44f0" Alias="Producción Bovina, Porcina Y Aviar" Level="6">
  <Info>
    <Parent Key="1ccd87f7-1736-4b85-8147-54c9bed554d1">Productos con potencial desarollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/ProductosConPotencialDesarollo/ProduccionBovinaPorcinaYAviar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:37</CreateDate>
    <NodeName Default="Producción Bovina, Porcina Y Aviar" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fc1jgvqm/producción-bovina-porcina-y-aviar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>