<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ccd87f7-1736-4b85-8147-54c9bed554d1" Alias="Productos con potencial desarollo" Level="5">
  <Info>
    <Parent Key="4327b099-06ac-44bf-a461-9ba4a56af37a">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/ProductosConPotencialDesarollo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:36</CreateDate>
    <NodeName Default="Productos con potencial desarollo" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>