<?xml version="1.0" encoding="utf-8"?>
<Media Key="718c8e9b-90bd-46cd-9a98-ef18adf24cc6" Alias="Producción Bovina, Porcina Y Aviar" Level="105">
  <Info>
    <Parent Key="f60a6f86-626a-49d8-b0fc-bc0525a94bb3">Productos con potencial desarollo</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/ProductosConPotencialDesarollo/ProduccionBovinaPorcinaYAviar</Path>
    <Trashed Parent="f60a6f86-626a-49d8-b0fc-bc0525a94bb3">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:33:04</CreateDate>
    <NodeName Default="Producción Bovina, Porcina Y Aviar" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/twhiy2n3/producción-bovina-porcina-y-aviar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>