<?xml version="1.0" encoding="utf-8"?>
<Media Key="62d9d51b-078f-4ad7-88c2-6175cb0747c6" Alias="productos con potencial de desarrollo" Level="103">
  <Info>
    <Parent Key="da32e19e-f70e-4d35-83da-600b45275ba4">Forestal</Parent>
    <Path>/[-21]/Sectores/Forestal/productosConPotencialDeDesarrollo</Path>
    <Trashed Parent="da32e19e-f70e-4d35-83da-600b45275ba4">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:42</CreateDate>
    <NodeName Default="productos con potencial de desarrollo" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>