<?xml version="1.0" encoding="utf-8"?>
<Media Key="f09c409c-aeae-49f1-9431-5bfafcab0120" Alias="Productos con potencial desarollo" Level="104">
  <Info>
    <Parent Key="e01c096e-fd17-4ae9-aab0-fe2d036b1f7e">Página interna</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/PaginaInterna/ProductosConPotencialDesarollo</Path>
    <Trashed Parent="e01c096e-fd17-4ae9-aab0-fe2d036b1f7e">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:33:09</CreateDate>
    <NodeName Default="Productos con potencial desarollo" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>