<?xml version="1.0" encoding="utf-8"?>
<Media Key="17919fd8-b4e1-4af8-8dec-9bd0e9948f02" Alias="Productos con potencial desarollo" Level="5">
  <Info>
    <Parent Key="a247cc52-c06f-4c69-8609-8a4e7c07e398">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/ProductosConPotencialDesarollo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:39</CreateDate>
    <NodeName Default="Productos con potencial desarollo" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>