<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f4bc8bd-d3ba-4029-9d46-3614e879fbb3" Alias="Productos con potencial de desarrollo" Level="5">
  <Info>
    <Parent Key="840cde17-8a7f-4317-89a0-3141760dcb7b">Páginas internas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/PaginasInternas/ProductosConPotencialDeDesarrollo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:45</CreateDate>
    <NodeName Default="Productos con potencial de desarrollo" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>