<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6fa5dbe-37b1-4bff-bca1-be7c96ba99cf" Alias="Pronic 1010 1391" Level="5">
  <Info>
    <Parent Key="bc24dd03-b5e0-4e25-9277-b444dbafe65a">imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/imagenesDelSector/Pronic10101391</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:28</CreateDate>
    <NodeName Default="Pronic 1010 1391" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xbopvrvr/pronic_1010_1391.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>