<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a90c23d-d4fa-4836-9c6a-ba18842ce557" Alias="PRONICA R09 (164)" Level="103">
  <Info>
    <Parent Key="c2b136ac-0aed-40e9-b4a9-14651cb4e505">Portadas</Parent>
    <Path>/[-21]/PorqueNicaragua/Portadas/PRONICAR09164</Path>
    <Trashed Parent="c2b136ac-0aed-40e9-b4a9-14651cb4e505">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:04</CreateDate>
    <NodeName Default="PRONICA R09 (164)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hpbjbcx0/pronica-r09-164.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>