<?xml version="1.0" encoding="utf-8"?>
<Media Key="7be4c33e-ef7e-4aeb-82e9-a126bc5d13a2" Alias="Pronic 1010 1368" Level="5">
  <Info>
    <Parent Key="bc24dd03-b5e0-4e25-9277-b444dbafe65a">imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/imagenesDelSector/Pronic10101368</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:28</CreateDate>
    <NodeName Default="Pronic 1010 1368" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hdbpi414/pronic_1010_1368.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>