<?xml version="1.0" encoding="utf-8"?>
<Media Key="231f9ad6-0c04-4f1e-93d7-a4e6eb1ff052" Alias="Pronic 1010 1274" Level="104">
  <Info>
    <Parent Key="2ff87662-0199-4bd8-a11b-e60c4e51dd20">imágenes del sector</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera/imagenesDelSector/Pronic10101274</Path>
    <Trashed Parent="2ff87662-0199-4bd8-a11b-e60c4e51dd20">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:45</CreateDate>
    <NodeName Default="Pronic 1010 1274" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0cnb4iye/pronic_1010_1274.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>