<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ea06b04-46f0-494e-aa90-f66301f8f249" Alias="Pronica R2 09 (33)" Level="103">
  <Info>
    <Parent Key="c2b136ac-0aed-40e9-b4a9-14651cb4e505">Portadas</Parent>
    <Path>/[-21]/PorqueNicaragua/Portadas/PronicaR20933</Path>
    <Trashed Parent="c2b136ac-0aed-40e9-b4a9-14651cb4e505">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:08</CreateDate>
    <NodeName Default="Pronica R2 09 (33)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ajvlalxq/pronica-r2-09-33.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>