<?xml version="1.0" encoding="utf-8"?>
<Media Key="18341c70-9cb4-49cf-8e36-456f1d0fdda3" Alias="Pronic 1010 0561" Level="5">
  <Info>
    <Parent Key="bc24dd03-b5e0-4e25-9277-b444dbafe65a">imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/imagenesDelSector/Pronic10100561</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:27</CreateDate>
    <NodeName Default="Pronic 1010 0561" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oyodigfu/pronic_1010_0561.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>