<?xml version="1.0" encoding="utf-8"?>
<Media Key="56c6dd9d-fc42-4b2c-8a6c-edfd61b49c1b" Alias="Pronic 1010 1277" Level="5">
  <Info>
    <Parent Key="bc24dd03-b5e0-4e25-9277-b444dbafe65a">imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/imagenesDelSector/Pronic10101277</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:28</CreateDate>
    <NodeName Default="Pronic 1010 1277" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tponmvsc/pronic_1010_1277.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>