<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b790e2f-57ec-48ed-844f-4ebe247465cc" Alias="Pronic 1010 1071" Level="103">
  <Info>
    <Parent Key="da32e19e-f70e-4d35-83da-600b45275ba4">Forestal</Parent>
    <Path>/[-21]/Sectores/Forestal/Pronic10101071</Path>
    <Trashed Parent="da32e19e-f70e-4d35-83da-600b45275ba4">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:02</CreateDate>
    <NodeName Default="Pronic 1010 1071" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fehhs05m/pronic_1010_1071.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>