<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ca65538-bf81-4bf5-8562-a6ad0af55803" Alias="PRONICA R09 (164)" Level="4">
  <Info>
    <Parent Key="652b5fed-ec7d-43a5-980c-9346cbab05d9">Portadas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/Portadas/PRONICAR09164</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:01</CreateDate>
    <NodeName Default="PRONICA R09 (164)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hzklm5eb/pronica-r09-164.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>