<?xml version="1.0" encoding="utf-8"?>
<Media Key="44172105-615d-4522-9a08-d200b8dd40c4" Alias="Pronic 1010 0693" Level="104">
  <Info>
    <Parent Key="2ff87662-0199-4bd8-a11b-e60c4e51dd20">imágenes del sector</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera/imagenesDelSector/Pronic10100693</Path>
    <Trashed Parent="2ff87662-0199-4bd8-a11b-e60c4e51dd20">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:44</CreateDate>
    <NodeName Default="Pronic 1010 0693" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/amqborc3/pronic_1010_0693.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>