<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c69668b-16fe-402d-9925-d46a8a79d24c" Alias="Pronic 1010 0693" Level="5">
  <Info>
    <Parent Key="bc24dd03-b5e0-4e25-9277-b444dbafe65a">imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/imagenesDelSector/Pronic10100693</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:28</CreateDate>
    <NodeName Default="Pronic 1010 0693" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rvtgsph4/pronic_1010_0693.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>