<?xml version="1.0" encoding="utf-8"?>
<Media Key="81994278-a40f-450f-a2b7-33c51365464c" Alias="Pxfuel" Level="2">
  <Info>
    <Parent Key="289c1f99-9a54-4c85-b040-deffddb1ffa7">Imagenes</Parent>
    <Path>/Imagenes/Pxfuel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-07-10T14:02:37</CreateDate>
    <NodeName Default="Pxfuel" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pzbjtaip/pxfuel.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>