<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e9bbc22-3250-4895-9912-3634743696f9" Alias="Página interna" Level="103">
  <Info>
    <Parent Key="fcc5c85b-0a5f-4bd4-89b9-68f23baa6fdc">Agronegocios</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna</Path>
    <Trashed Parent="fcc5c85b-0a5f-4bd4-89b9-68f23baa6fdc">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:25</CreateDate>
    <NodeName Default="Página interna" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>