<?xml version="1.0" encoding="utf-8"?>
<Media Key="e01c096e-fd17-4ae9-aab0-fe2d036b1f7e" Alias="Página interna" Level="103">
  <Info>
    <Parent Key="37aa0395-f507-4d49-9ae2-e3286e4ffd70">Externalización de Servicios</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/PaginaInterna</Path>
    <Trashed Parent="37aa0395-f507-4d49-9ae2-e3286e4ffd70">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:37</CreateDate>
    <NodeName Default="Página interna" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>