<?xml version="1.0" encoding="utf-8"?>
<Media Key="4327b099-06ac-44bf-a461-9ba4a56af37a" Alias="Página interna" Level="4">
  <Info>
    <Parent Key="3c3a25d6-8f10-458b-b90f-3674befa3248">Agronegocios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:22</CreateDate>
    <NodeName Default="Página interna" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>