<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c30ec32-a676-4809-9b71-f53010533338" Alias="Página interna" Level="4">
  <Info>
    <Parent Key="599cf908-273c-4462-85cf-2336905626e2">Pesca y acuicultura</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/PaginaInterna</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:31</CreateDate>
    <NodeName Default="Página interna" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>