<?xml version="1.0" encoding="utf-8"?>
<Media Key="a247cc52-c06f-4c69-8609-8a4e7c07e398" Alias="Página interna" Level="4">
  <Info>
    <Parent Key="ff73085f-2dd4-4e1c-9eda-fe6aef22d57b">Externalización de Servicios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:25</CreateDate>
    <NodeName Default="Página interna" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>