<?xml version="1.0" encoding="utf-8"?>
<Media Key="840cde17-8a7f-4317-89a0-3141760dcb7b" Alias="Páginas internas" Level="4">
  <Info>
    <Parent Key="8d0f722b-f6e2-4e5a-a05a-7ad40e1e0da7">Manufactura Ligera</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/PaginasInternas</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:29</CreateDate>
    <NodeName Default="Páginas internas" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>