<?xml version="1.0" encoding="utf-8"?>
<Media Key="480204a5-26ff-4a69-81db-72e42a5a37c4" Alias="Página interna" Level="103">
  <Info>
    <Parent Key="654d9d82-f8fa-4ed8-8a0b-743743704d19">Pesca y acuicultura</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/PaginaInterna</Path>
    <Trashed Parent="654d9d82-f8fa-4ed8-8a0b-743743704d19">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:32:54</CreateDate>
    <NodeName Default="Página interna" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>