<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad9b1e56-294d-46c4-8ef5-9f42045da1b6" Alias="Quinto Mayor Exportador De Carne En Latinoamérica" Level="104">
  <Info>
    <Parent Key="2e9bbc22-3250-4895-9912-3634743696f9">Página interna</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/QuintoMayorExportadorDeCarneEnLatinoamerica</Path>
    <Trashed Parent="2e9bbc22-3250-4895-9912-3634743696f9">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:26</CreateDate>
    <NodeName Default="Quinto Mayor Exportador De Carne En Latinoamérica" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kapjxlkn/quinto-mayor-exportador-de-carne-en-latinoamérica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>