<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3eea438-47b1-447a-acec-9e404c90511d" Alias="Quinto Mayor Exportador De Carne En Latinoamérica" Level="5">
  <Info>
    <Parent Key="4327b099-06ac-44bf-a461-9ba4a56af37a">Página interna</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/QuintoMayorExportadorDeCarneEnLatinoamerica</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:23</CreateDate>
    <NodeName Default="Quinto Mayor Exportador De Carne En Latinoamérica" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h0so3m3r/quinto-mayor-exportador-de-carne-en-latinoamérica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>