<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b8224dd-62c2-485f-b94e-d97b6ebf4397" Alias="Recursos" Level="2">
  <Info>
    <Parent Key="0236f319-a09b-4a3a-8113-32cf755469b3">Contenido administrado del sitio web comprimido</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Recursos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:22:54</CreateDate>
    <NodeName Default="Recursos" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>