<?xml version="1.0" encoding="utf-8"?>
<Media Key="105e3ed1-cf93-4c1e-aac3-2afd37ba335f" Alias="Reforestación Con Fines De Conservación" Level="6">
  <Info>
    <Parent Key="0ddaf6a3-5805-4613-bf41-83bc2cd4dc0d">productos con potencial de desarrollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/PaginaInterna/productosConPotencialDeDesarrollo/ReforestacionConFinesDeConservacion</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:43</CreateDate>
    <NodeName Default="Reforestación Con Fines De Conservación" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/025f2eet/reforestación-con-fines-de-conservación.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>