<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd30c722-8b13-4747-8365-8d470cdb1aeb" Alias="Reservas Internacionales Brutas" Level="4">
  <Info>
    <Parent Key="6c355d62-7b46-4f2a-9fb0-f2fce13a650e">Datos macroeconómcos</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/DatosMacroeconomcos/ReservasInternacionalesBrutas</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:13</CreateDate>
    <NodeName Default="Reservas Internacionales Brutas" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/etddbpit/reservas-internacionales-brutas.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>