<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed944fa2-6125-438f-97e7-408a768d36b4" Alias="Resina De Pino" Level="104">
  <Info>
    <Parent Key="62d9d51b-078f-4ad7-88c2-6175cb0747c6">productos con potencial de desarrollo</Parent>
    <Path>/[-21]/Sectores/Forestal/productosConPotencialDeDesarrollo/ResinaDePino</Path>
    <Trashed Parent="62d9d51b-078f-4ad7-88c2-6175cb0747c6">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:43</CreateDate>
    <NodeName Default="Resina De Pino" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/urhjj1jf/resina-de-pino.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>