<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7a0b965-58ab-44e5-8e55-0adf312b2bdc" Alias="Retención Y Expansión" Level="103">
  <Info>
    <Parent Key="4dd8a1f9-7758-49d3-a818-093795d16f81">Servicios por etapa de Inversión</Parent>
    <Path>/[-21]/Servicios3/ServiciosPorEtapaDeInversion/RetencionYExpansion</Path>
    <Trashed Parent="4dd8a1f9-7758-49d3-a818-093795d16f81">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T11:13:58</CreateDate>
    <NodeName Default="Retención Y Expansión" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mo2lbz3l/retención-y-expansión.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>