<?xml version="1.0" encoding="utf-8"?>
<Media Key="d06abb58-a4ab-4946-bce5-ef9e1b2f5f2c" Alias="Retención Y Expansión" Level="4">
  <Info>
    <Parent Key="ad127555-1533-4064-a2e2-5fc0e1d1beee">Servicios por etapa de Inversión</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Servicios/ServiciosPorEtapaDeInversion/RetencionYExpansion</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:11</CreateDate>
    <NodeName Default="Retención Y Expansión" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/l03hvufl/retención-y-expansión.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>