<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fff7a09-b387-4e1e-9b87-27571e933014" Alias="Salario Base En Un Call Center Se Ha Mantenido En US$550 Desde Hace Tres Años" Level="104">
  <Info>
    <Parent Key="e01c096e-fd17-4ae9-aab0-fe2d036b1f7e">Página interna</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/PaginaInterna/SalarioBaseEnUnCallCenterSeHaMantenidoEnUS550DesdeHaceTresAnos</Path>
    <Trashed Parent="e01c096e-fd17-4ae9-aab0-fe2d036b1f7e">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:38</CreateDate>
    <NodeName Default="Salario Base En Un Call Center Se Ha Mantenido En US$550 Desde Hace Tres Años" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b33p4d2h/salario-base-en-un-call-center-se-ha-mantenido-en-us-550-desde-hace-tres-años.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>