<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6d390a2-c90b-46de-8cd3-c602a175ef37" Alias="Sectores" Level="2">
  <Info>
    <Parent Key="0236f319-a09b-4a3a-8113-32cf755469b3">Contenido administrado del sitio web comprimido</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:05</CreateDate>
    <NodeName Default="Sectores" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>