<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ba93cea-f303-491e-9c8c-5aa1f3c7796e" Alias="Sectores" Level="2">
  <Info>
    <Parent Key="bf6c6430-a535-4b2a-b99d-30277ed06531">Imagenes</Parent>
    <Path>/Imagenes/Sectores</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-31T18:35:01</CreateDate>
    <NodeName Default="Sectores" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>