<?xml version="1.0" encoding="utf-8"?>
<Media Key="36625aca-ed9f-4059-9acf-47a0acdf7433" Alias="Sectores" Level="3">
  <Info>
    <Parent Key="9a72b839-5b43-431a-94c6-788fc56381ae">Inicio</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/Sectores</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:19</CreateDate>
    <NodeName Default="Sectores" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>