<?xml version="1.0" encoding="utf-8"?>
<Media Key="732c0886-6335-42f6-833e-2c18d9d0e1fd" Alias="Sector Forestal Secretaría De Promoción De Inversiones Y Exportaciones SPIEX" Level="104">
  <Info>
    <Parent Key="e689faca-a968-4cf8-b4e1-ee1e8213568d">imágenes del sector</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/imagenesDelSector/SectorForestalSecretariaDePromocionDeInversionesYExportacionesSPIEX</Path>
    <Trashed Parent="e689faca-a968-4cf8-b4e1-ee1e8213568d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:33:09</CreateDate>
    <NodeName Default="Sector Forestal Secretaría De Promoción De Inversiones Y Exportaciones SPIEX" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qaecy2zv/sector-forestal-secretaría-de-promoción-de-inversiones-y-exportaciones-spiex.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>