<?xml version="1.0" encoding="utf-8"?>
<Media Key="b846169b-aa2b-4afb-8992-39fb7d36484a" Alias="Serctores" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Serctores</Path>
    <Trashed Parent="bf6c6430-a535-4b2a-b99d-30277ed06531">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T18:20:56</CreateDate>
    <NodeName Default="Serctores" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tulenobl/serctores.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>