<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad127555-1533-4064-a2e2-5fc0e1d1beee" Alias="Servicios por etapa de Inversión" Level="3">
  <Info>
    <Parent Key="2dc4cc1d-1e51-43b1-81be-7196d0cdd651">Servicios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Servicios/ServiciosPorEtapaDeInversion</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:10</CreateDate>
    <NodeName Default="Servicios por etapa de Inversión" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>