<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dc4cc1d-1e51-43b1-81be-7196d0cdd651" Alias="Servicios" Level="2">
  <Info>
    <Parent Key="0236f319-a09b-4a3a-8113-32cf755469b3">Contenido administrado del sitio web comprimido</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Servicios</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:22:52</CreateDate>
    <NodeName Default="Servicios" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>