<?xml version="1.0" encoding="utf-8"?>
<Media Key="63288c39-d6f7-4d86-9ef3-ef7037ca63f9" Alias="Servicios De Ingenieria" Level="6">
  <Info>
    <Parent Key="17919fd8-b4e1-4af8-8dec-9bd0e9948f02">Productos con potencial desarollo</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/PaginaInterna/ProductosConPotencialDesarollo/ServiciosDeIngenieria</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:40</CreateDate>
    <NodeName Default="Servicios De Ingenieria" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h4gcqy5x/servicios-de-ingenieria.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>