<?xml version="1.0" encoding="utf-8"?>
<Media Key="44b60efb-8ad3-46c0-89c9-f395768e6591" Alias="Servicios (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Servicios2</Path>
    <Trashed Parent="1ba93cea-f303-491e-9c8c-5aa1f3c7796e">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-31T18:43:34</CreateDate>
    <NodeName Default="Servicios (2)" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5uhlmrgt/servicios.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>