<?xml version="1.0" encoding="utf-8"?>
<Media Key="24779f83-36ad-4d55-9a0e-bf92cb281354" Alias="Servicios De Ingenieria" Level="105">
  <Info>
    <Parent Key="f09c409c-aeae-49f1-9431-5bfafcab0120">Productos con potencial desarollo</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/PaginaInterna/ProductosConPotencialDesarollo/ServiciosDeIngenieria</Path>
    <Trashed Parent="f09c409c-aeae-49f1-9431-5bfafcab0120">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:33:10</CreateDate>
    <NodeName Default="Servicios De Ingenieria" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qwphojfn/servicios-de-ingenieria.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>