<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb3b8fec-54a5-47c3-95fb-db3ccb453780" Alias="Servicios (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Servicios3</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T11:13:32</CreateDate>
    <NodeName Default="Servicios (3)" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties />
</Media>