<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b393ba3-0a65-4202-8ffd-221a57586be9" Alias="Servicios En Tiempo Real" Level="104">
  <Info>
    <Parent Key="e01c096e-fd17-4ae9-aab0-fe2d036b1f7e">Página interna</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/PaginaInterna/ServiciosEnTiempoReal</Path>
    <Trashed Parent="e01c096e-fd17-4ae9-aab0-fe2d036b1f7e">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:38</CreateDate>
    <NodeName Default="Servicios En Tiempo Real" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uu3dtc1f/servicios-en-tiempo-real.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>