<?xml version="1.0" encoding="utf-8"?>
<Media Key="54c4bb08-a75b-4741-8a0f-38a02965c26e" Alias="Sistemas Agroforestales" Level="4">
  <Info>
    <Parent Key="20965964-d4ac-4b9b-a46e-14434dfe28c9">Forestal</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/SistemasAgroforestales</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:08</CreateDate>
    <NodeName Default="Sistemas Agroforestales" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b03nivc1/sistemas-agroforestales.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>