<?xml version="1.0" encoding="utf-8"?>
<Media Key="550fffc4-ad4b-42af-b016-fb867d754ffc" Alias="Sistemas De Cultivos Acuicolas" Level="104">
  <Info>
    <Parent Key="230978cc-cecf-4c51-a989-ad249505e04f">Sectores con potencial de desarrollo</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/SectoresConPotencialDeDesarrollo/SistemasDeCultivosAcuicolas</Path>
    <Trashed Parent="230978cc-cecf-4c51-a989-ad249505e04f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:55</CreateDate>
    <NodeName Default="Sistemas De Cultivos Acuicolas" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yl5b4vkl/sistemas-de-cultivos-acuicolas.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>