<?xml version="1.0" encoding="utf-8"?>
<Media Key="8114b0ed-c767-498b-be46-77d320deac81" Alias="Sistema Generalizado De Preferencias" Level="102">
  <Info>
    <Parent Key="20bc30aa-c426-4721-a1f3-87f8fdcc7bea">Tratados comerciales</Parent>
    <Path>/[-21]/TratadosComerciales/SistemaGeneralizadoDePreferencias</Path>
    <Trashed Parent="20bc30aa-c426-4721-a1f3-87f8fdcc7bea">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-05T10:36:13</CreateDate>
    <NodeName Default="Sistema Generalizado De Preferencias" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3oybjalh/sistema-generalizado-de-preferencias.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>