<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1cfbebb-01d5-4f6d-8954-d070e5146f5b" Alias="Sistema Generalizado De Preferencias" Level="2">
  <Info>
    <Parent Key="289c1f99-9a54-4c85-b040-deffddb1ffa7">Imagenes</Parent>
    <Path>/Imagenes/SistemaGeneralizadoDePreferencias</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-16T14:23:41</CreateDate>
    <NodeName Default="Sistema Generalizado De Preferencias" />
    <SortOrder>156</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xw5m5mov/sistema-generalizado-de-preferencias.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>