<?xml version="1.0" encoding="utf-8"?>
<Media Key="b70635f4-2188-465d-be8f-f4ef8a43ea93" Alias="Sub Sectores" Level="4">
  <Info>
    <Parent Key="599cf908-273c-4462-85cf-2336905626e2">Pesca y acuicultura</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/PescaYAcuicultura/SubSectores</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:10</CreateDate>
    <NodeName Default="Sub Sectores" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3q0bnn2i/sub-sectores.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>