<?xml version="1.0" encoding="utf-8"?>
<Media Key="41a5e341-eda5-44ab-9728-c3024a59312c" Alias="Sub Sectores" Level="103">
  <Info>
    <Parent Key="654d9d82-f8fa-4ed8-8a0b-743743704d19">Pesca y acuicultura</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/SubSectores</Path>
    <Trashed Parent="654d9d82-f8fa-4ed8-8a0b-743743704d19">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:32:03</CreateDate>
    <NodeName Default="Sub Sectores" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lhrlkqnf/sub-sectores.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>