<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d825689-c3ce-401a-b006-9915ec86f1db" Alias="Subsectores" Level="103">
  <Info>
    <Parent Key="fcc5c85b-0a5f-4bd4-89b9-68f23baa6fdc">Agronegocios</Parent>
    <Path>/[-21]/Sectores/Agronegocios/Subsectores</Path>
    <Trashed Parent="fcc5c85b-0a5f-4bd4-89b9-68f23baa6fdc">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:32:00</CreateDate>
    <NodeName Default="Subsectores" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sfliepoo/subsectores.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>