<?xml version="1.0" encoding="utf-8"?>
<Media Key="90d65232-0009-4993-99db-63d604fa18d6" Alias="Subsectores" Level="4">
  <Info>
    <Parent Key="20965964-d4ac-4b9b-a46e-14434dfe28c9">Forestal</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Forestal/Subsectores</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:08</CreateDate>
    <NodeName Default="Subsectores" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fjjnneaj/subsectores.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>