<?xml version="1.0" encoding="utf-8"?>
<Media Key="eed2930b-f620-4625-9804-5b1cc94e0a33" Alias="Subsectores" Level="4">
  <Info>
    <Parent Key="ff73085f-2dd4-4e1c-9eda-fe6aef22d57b">Externalización de Servicios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ExternalizacionDeServicios/Subsectores</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:07</CreateDate>
    <NodeName Default="Subsectores" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cojnf1ra/subsectores.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>