<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c0729b2-b9e9-476c-bdeb-6817f6d960a3" Alias="Subsectores" Level="103">
  <Info>
    <Parent Key="5ac75c4d-2edf-4f32-8f55-5c9ecbc6470c">Manufactura Ligera</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera/Subsectores</Path>
    <Trashed Parent="5ac75c4d-2edf-4f32-8f55-5c9ecbc6470c">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:32:02</CreateDate>
    <NodeName Default="Subsectores" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/viuboxhj/subsectores.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>