<?xml version="1.0" encoding="utf-8"?>
<Media Key="db94f3ab-c3c7-4a65-8ef1-41baa34795d6" Alias="Subsectores" Level="103">
  <Info>
    <Parent Key="37aa0395-f507-4d49-9ae2-e3286e4ffd70">Externalización de Servicios</Parent>
    <Path>/[-21]/Sectores/ExternalizacionDeServicios/Subsectores</Path>
    <Trashed Parent="37aa0395-f507-4d49-9ae2-e3286e4ffd70">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:32:01</CreateDate>
    <NodeName Default="Subsectores" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wpzjjw4h/subsectores.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>