<?xml version="1.0" encoding="utf-8"?>
<Media Key="1642c827-cf38-4573-8fc7-141a7a064306" Alias="Subsectores" Level="4">
  <Info>
    <Parent Key="3c3a25d6-8f10-458b-b90f-3674befa3248">Agronegocios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/Subsectores</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:06</CreateDate>
    <NodeName Default="Subsectores" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/h5eeefry/subsectores.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>