<?xml version="1.0" encoding="utf-8"?>
<Media Key="eed95325-e1bc-4797-be77-1a4df75f9b55" Alias="Subsectores" Level="4">
  <Info>
    <Parent Key="8d0f722b-f6e2-4e5a-a05a-7ad40e1e0da7">Manufactura Ligera</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/Subsectores</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:09</CreateDate>
    <NodeName Default="Subsectores" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hvjnt1v2/subsectores.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>