<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d152b0e-0a53-4866-8138-9f79b701e12c" Alias="Suhelen Vallecillo" Level="104">
  <Info>
    <Parent Key="e689faca-a968-4cf8-b4e1-ee1e8213568d">imágenes del sector</Parent>
    <Path>/[-21]/Sectores/PescaYAcuicultura/imagenesDelSector/SuhelenVallecillo</Path>
    <Trashed Parent="e689faca-a968-4cf8-b4e1-ee1e8213568d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:33:12</CreateDate>
    <NodeName Default="Suhelen Vallecillo" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bavbk1kt/suhelen-vallecillo.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>