<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac4f10ab-a247-4c51-9cce-1a2ac4b4750a" Alias="Suplidor #10 De Prendas De Vestir A Estados Unidos En El Mundo (En Valor)" Level="5">
  <Info>
    <Parent Key="840cde17-8a7f-4317-89a0-3141760dcb7b">Páginas internas</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/PaginasInternas/Suplidor10DePrendasDeVestirAEstadosUnidosEnElMundoEnValor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:29</CreateDate>
    <NodeName Default="Suplidor #10 De Prendas De Vestir A Estados Unidos En El Mundo (En Valor)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vuie5lch/suplidor-10-de-prendas-de-vestir-a-estados-unidos-en-el-mundo-en-valor.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>