<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bf6defb-2243-43c9-865c-8c305d4ed9d6" Alias="TELCOR" Level="4">
  <Info>
    <Parent Key="ed6bfdcf-a765-4c56-9714-ec6fc148e741">Enlaces de interes</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Inicio/EnlacesDeInteres/TELCOR</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:16</CreateDate>
    <NodeName Default="TELCOR" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5xppm40d/telcor.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>