<?xml version="1.0" encoding="utf-8"?>
<Media Key="64f842ce-a6ca-40e1-9b1b-03b287129395" Alias="Textiles (2)" Level="5">
  <Info>
    <Parent Key="bc24dd03-b5e0-4e25-9277-b444dbafe65a">imágenes del sector</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/imagenesDelSector/Textiles2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:29</CreateDate>
    <NodeName Default="Textiles (2)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zbbpqzgk/textiles-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>