<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8bf7966-f45e-4daf-bebd-f1d0a85f21c1" Alias="Textil" Level="4">
  <Info>
    <Parent Key="8d0f722b-f6e2-4e5a-a05a-7ad40e1e0da7">Manufactura Ligera</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/ManufacturaLigera/Textil</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:23:09</CreateDate>
    <NodeName Default="Textil" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mb2l5kc4/textil.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>