<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d516feb-fa86-40c5-a5c4-8e4fd4ae992f" Alias="Texto De La Página" Level="105">
  <Info>
    <Parent Key="71532c29-10ae-45e6-baab-f1293db36292">Brochure-Invierta en Nicaragua Agronegocios</Parent>
    <Path>/[-21]/Sectores/Agronegocios/PaginaInterna/BrochureInviertaEnNicaraguaAgronegocios/TextoDeLaPagina</Path>
    <Trashed Parent="71532c29-10ae-45e6-baab-f1293db36292">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T10:33:04</CreateDate>
    <NodeName Default="Texto De La Página" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4nxfchmg/texto-de-la-página.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>