<?xml version="1.0" encoding="utf-8"?>
<Media Key="e24523bc-4762-4186-8d25-3bb19391c55d" Alias="Textil" Level="103">
  <Info>
    <Parent Key="5ac75c4d-2edf-4f32-8f55-5c9ecbc6470c">Manufactura Ligera</Parent>
    <Path>/[-21]/Sectores/ManufacturaLigera/Textil</Path>
    <Trashed Parent="5ac75c4d-2edf-4f32-8f55-5c9ecbc6470c">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:32:02</CreateDate>
    <NodeName Default="Textil" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xirflytc/textil.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>