<?xml version="1.0" encoding="utf-8"?>
<Media Key="814dc353-498c-421c-ab46-4a322059f780" Alias="Texto De La Página" Level="6">
  <Info>
    <Parent Key="697212ee-5a99-453b-8610-879c7eaac710">Brochure-Invierta en Nicaragua Agronegocios</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/Sectores/Agronegocios/PaginaInterna/BrochureInviertaEnNicaraguaAgronegocios/TextoDeLaPagina</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T22:23:36</CreateDate>
    <NodeName Default="Texto De La Página" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jpbf1amm/texto-de-la-página.txt]]></Value>
    </umbracoFile>
  </Properties>
</Media>