<?xml version="1.0" encoding="utf-8"?>
<Media Key="95c3aea4-7e65-463e-b9ec-aec3f9172a85" Alias="Tratados comerciales" Level="3">
  <Info>
    <Parent Key="ae0a076a-9009-453c-9c10-270ab23ae952">Porqué Nicargua</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/TratadosComerciales</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:01</CreateDate>
    <NodeName Default="Tratados comerciales" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>