<?xml version="1.0" encoding="utf-8"?>
<Media Key="20bc30aa-c426-4721-a1f3-87f8fdcc7bea" Alias="Tratados comerciales" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/TratadosComerciales</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-05T10:35:30</CreateDate>
    <NodeName Default="Tratados comerciales" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties />
</Media>