<?xml version="1.0" encoding="utf-8"?>
<Media Key="e329b467-e8df-4721-b503-2910e8fb64f3" Alias="Tratados comerciales" Level="102">
  <Info>
    <Parent Key="013dd17e-0c6d-4303-9bdc-f2cbca55be0e">¿Porqué Nicaragua?</Parent>
    <Path>/[-21]/PorqueNicaragua/TratadosComerciales</Path>
    <Trashed Parent="013dd17e-0c6d-4303-9bdc-f2cbca55be0e">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:16:06</CreateDate>
    <NodeName Default="Tratados comerciales" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>