<?xml version="1.0" encoding="utf-8"?>
<Media Key="a77c89fb-9a0b-441a-bffa-1e0ee7362bbf" Alias="United Kingdom" Level="2">
  <Info>
    <Parent Key="289c1f99-9a54-4c85-b040-deffddb1ffa7">Imagenes</Parent>
    <Path>/Imagenes/UnitedKingdom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-07T16:49:48</CreateDate>
    <NodeName Default="United Kingdom" />
    <SortOrder>131</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5wehzjyl/united-kingdom.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>