<?xml version="1.0" encoding="utf-8"?>
<Media Key="f152541d-0930-440b-b04b-1d2c2e2cdd0b" Alias="United States Of America" Level="4">
  <Info>
    <Parent Key="9d73a652-28e1-4509-be2e-0dba26403a4f">Comercio exterior</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/ComercioExterior/UnitedStatesOfAmerica</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T22:22:59</CreateDate>
    <NodeName Default="United States Of America" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dnkff2jq/united-states-of-america.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>