<?xml version="1.0" encoding="utf-8"?>
<Media Key="0761a013-68ff-42d4-af20-d0bff6d8a4e5" Alias="United Kingdom" Level="103">
  <Info>
    <Parent Key="21256b71-727c-4bfd-a4e6-0087c84e0848">Comercio exterior</Parent>
    <Path>/[-21]/PorqueNicaragua/ComercioExterior/UnitedKingdom</Path>
    <Trashed Parent="21256b71-727c-4bfd-a4e6-0087c84e0848">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T10:16:15</CreateDate>
    <NodeName Default="United Kingdom" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cwqgcb55/united-kingdom.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>