<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf52573b-8bc8-4489-8e45-eb2b08e82a19" Alias="Usa" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Usa</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-07-19T10:46:31</CreateDate>
    <NodeName Default="Usa" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/enlfft4i/usa.js]]></Value>
    </umbracoFile>
  </Properties>
</Media>