<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cec470f-d0d9-4af8-8aef-8834860cb694" Alias="Videos" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Videos</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-06T17:00:19</CreateDate>
    <NodeName Default="Videos" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties />
</Media>