<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cec470f-d0d9-4af8-8aef-8834860cb694" Alias="Videos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-06T17:00:19</CreateDate>
    <NodeName Default="Videos" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>