<?xml version="1.0" encoding="utf-8"?>
<Media Key="25fd903c-8d8a-4e3e-951d-8e969c2fd5c4" Alias="Visión" Level="102">
  <Info>
    <Parent Key="fb3b8fec-54a5-47c3-95fb-db3ccb453780">Servicios (3)</Parent>
    <Path>/[-21]/Servicios3/Vision</Path>
    <Trashed Parent="fb3b8fec-54a5-47c3-95fb-db3ccb453780">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T11:13:57</CreateDate>
    <NodeName Default="Visión" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hkip0jmk/visión.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>