<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a1945b8-fc1a-43cd-b82f-ac076c71f735" Alias="íconos #1 en Centroamérica" Level="3">
  <Info>
    <Parent Key="ae0a076a-9009-453c-9c10-270ab23ae952">Porqué Nicargua</Parent>
    <Path>/ContenidoAdministradoDelSitioWebComprimido/PorqueNicargua/iconos1EnCentroamerica</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T22:23:02</CreateDate>
    <NodeName Default="íconos #1 en Centroamérica" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>