<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4034dcd-71a0-4fba-8be1-cd2b655beb8a" Alias="íconos #1 en Centroamérica" Level="102">
  <Info>
    <Parent Key="013dd17e-0c6d-4303-9bdc-f2cbca55be0e">¿Porqué Nicaragua?</Parent>
    <Path>/[-21]/PorqueNicaragua/iconos1EnCentroamerica</Path>
    <Trashed Parent="013dd17e-0c6d-4303-9bdc-f2cbca55be0e">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-09-06T10:16:16</CreateDate>
    <NodeName Default="íconos #1 en Centroamérica" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>