<?xml version="1.0" encoding="utf-8"?>
<Content Key="de8ba1f5-4b7d-4eb1-b0cc-49f923756ab1" Alias="Agronegocios" Level="2">
  <Info>
    <Parent Key="78ac5dec-4966-4095-8ae4-48c6ddf91ed0">Sectores</Parent>
    <Path>/Sectores/Agronegocios</Path>
    <Trashed>false</Trashed>
    <ContentType>sectores</ContentType>
    <CreateDate>2023-07-10T10:58:09</CreateDate>
    <NodeName Default="Agronegocios">
      <Name Culture="en-us">Agronegocios</Name>
      <Name Culture="es-ni">Agronegocios</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="4eea100c-d954-4ee2-a712-584fdb1d27b7">Sector</Template>
  </Info>
  <Properties>
    <btndescarga>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "765ca7dd-84e0-4e62-a2ee-14ba230c094a",
    "mediaKey": "7ac0982f-9549-44ea-bcbb-21b7068008b3"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "7e053900-2c60-4d7f-a1e4-c1ec4f19ff1d",
    "mediaKey": "5dce8a82-ca73-4ebd-9981-c9a09e37a2b6"
  }
]]]></Value>
    </btndescarga>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <contacto>
      <Value Culture="en-us"><![CDATA[#]]></Value>
      <Value Culture="es-ni"><![CDATA[#]]></Value>
    </contacto>
    <dato>
      <Value Culture="en-us"><![CDATA[103.7]]></Value>
      <Value Culture="es-ni"><![CDATA[103]]></Value>
    </dato>
    <dato2>
      <Value Culture="en-us"><![CDATA[62.8]]></Value>
      <Value Culture="es-ni"><![CDATA[63]]></Value>
    </dato2>
    <dato3>
      <Value Culture="en-us"><![CDATA[26]]></Value>
      <Value Culture="es-ni"><![CDATA[26]]></Value>
    </dato3>
    <descripcion>
      <Value Culture="en-us"><![CDATA[With a rapidly developing infrastructure, a young and talented workforce, and a growth-oriented national strategy, Nicaragua has become an ideal investment destination for all.]]></Value>
      <Value Culture="es-ni"><![CDATA[Una industria sólida y confiable, fundamentada en el talento y la confianza]]></Value>
    </descripcion>
    <detalle1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Producción agroexportable]]></Value>
    </detalle1>
    <detalle2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Ganadería intensiva]]></Value>
    </detalle2>
    <detalle3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Procesamiento de alimentos]]></Value>
    </detalle3>
    <detalle4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Producción de lácteos y cárnicos]]></Value>
    </detalle4>
    <detalleimg1>
      <Value><![CDATA[[
  {
    "key": "013ffaa3-bc73-4259-95b8-209d14e71575",
    "mediaKey": "ba03dced-b7c8-4b65-b2ee-ec012dac1c77"
  }
]]]></Value>
    </detalleimg1>
    <detalleimg2>
      <Value><![CDATA[[
  {
    "key": "5fcc6864-70af-49fe-b516-c67630b6cf7e",
    "mediaKey": "4e4e4ec5-f460-4af0-8b86-274af9214c2d"
  }
]]]></Value>
    </detalleimg2>
    <detalleimg3>
      <Value><![CDATA[[
  {
    "key": "72e69ff8-1bc3-48c1-8ce0-5539ab306fe4",
    "mediaKey": "866660ca-75d9-4282-aedf-1d0d811acf15"
  }
]]]></Value>
    </detalleimg3>
    <detalleimg4>
      <Value><![CDATA[[
  {
    "key": "0ac2be5b-c07f-448f-b1bc-d84dd0cfbd65",
    "mediaKey": "203cc752-8e99-4acd-8070-1ea8fe88c5c3"
  }
]]]></Value>
    </detalleimg4>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <icono>
      <Value><![CDATA[[
  {
    "key": "a773bbd8-f0c4-462d-9fb7-27dd888ef0d7",
    "mediaKey": "7ec57788-e795-4570-88d3-dde85e03c763"
  }
]]]></Value>
    </icono>
    <icono2>
      <Value><![CDATA[[
  {
    "key": "7bf4ce98-4e42-4826-aaea-f4ca4a781a25",
    "mediaKey": "46f780d2-5a22-4b95-842c-9bc0598b1906"
  }
]]]></Value>
    </icono2>
    <icono3>
      <Value><![CDATA[[
  {
    "key": "0147a576-f55f-494a-9db7-57b50802aba0",
    "mediaKey": "b3eea438-47b1-447a-acec-9e404c90511d"
  }
]]]></Value>
    </icono3>
    <icono4>
      <Value><![CDATA[[
  {
    "key": "2e5a6d93-f76f-4aa0-ae9a-f721df92e35d",
    "mediaKey": "ca75cb0f-23e2-4558-bba5-a5b8ec932a9d"
  }
]]]></Value>
    </icono4>
    <iconop>
      <Value><![CDATA[[
  {
    "key": "cc590ebe-12a9-4a2d-ba5b-781b846e86ec",
    "mediaKey": "ba8b0a26-45c3-4404-b7f4-39abd9aa951b"
  }
]]]></Value>
    </iconop>
    <iconop2>
      <Value><![CDATA[[
  {
    "key": "854bb882-327b-4945-a8bf-2e61afd4f079",
    "mediaKey": "7de9d682-566c-41c0-874f-b8df87973c6a"
  }
]]]></Value>
    </iconop2>
    <iconop3>
      <Value><![CDATA[[
  {
    "key": "9a41f98d-1455-4734-b711-aad1dbed098a",
    "mediaKey": "5693b62e-640c-46ad-aa19-8e3f998f44f0"
  }
]]]></Value>
    </iconop3>
    <iconop4>
      <Value><![CDATA[[
  {
    "key": "00259d63-03a7-4a54-af56-022bc46b6e29",
    "mediaKey": "0acd1bdb-a9e1-48a7-bd7c-d8a81366ce40"
  }
]]]></Value>
    </iconop4>
    <imagen>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "a892be2d-18e5-43b0-8015-88d4de157086",
    "mediaKey": "584ff275-2228-4dd5-bcb0-cb6c5cae20ad"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "a3186ee9-77c1-48f9-a0c5-648a53361878",
    "mediaKey": "dc8d8ff8-2e97-4f9a-8966-c7901a028b09"
  }
]]]></Value>
    </imagen>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "e6b03260-2948-4ad0-b245-20cc47eba1b9",
    "mediaKey": "1c10d695-306f-48c4-9534-e32972ed5950"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "b5405199-5d49-4fe8-9f2b-cdb46c0c3ca1",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <massectores>
      <Value Culture="en-us"><![CDATA[Explore other sectors]]></Value>
      <Value Culture="es-ni"><![CDATA[Explora otros sectores]]></Value>
    </massectores>
    <subsector>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Subsectores]]></Value>
    </subsector>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Un sector estratégico y fundamental en la economía de Nicaragua]]></Value>
    </subtitulo>
    <subtitulop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Agronegocios]]></Value>
    </subtitulop>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <texto1>
      <Value Culture="en-us"><![CDATA[Main cattle producer in Central America]]></Value>
      <Value Culture="es-ni"><![CDATA[Principal productor de ganado en Centroamérica]]></Value>
    </texto1>
    <texto2>
      <Value Culture="en-us"><![CDATA[Main exporter of cigars in Central America]]></Value>
      <Value Culture="es-ni"><![CDATA[Principal exportador de puros en Centroamérica]]></Value>
    </texto2>
    <texto3>
      <Value Culture="en-us"><![CDATA[Fifth largest meat exporter in Latin America (#1 in Central America)]]></Value>
      <Value Culture="es-ni"><![CDATA[Quinto mayor exportador de carne en Latinoamérica (#1 en Centroamérica)]]></Value>
    </texto3>
    <texto4>
      <Value Culture="en-us"><![CDATA[Seventh largest exporter of crustaceans in Latin America (#1 in Central America)]]></Value>
      <Value Culture="es-ni"><![CDATA[Productor de café arábica reconocido entre los mejores del mundo]]></Value>
    </texto4>
    <textop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Granos Básicos]]></Value>
    </textop>
    <textop2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Granos Preciosos]]></Value>
    </textop2>
    <textop3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Producción Bovina, Porcina Y Aviar]]></Value>
    </textop3>
    <textop4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Verduras, Frutas Y Cultivos De Enramadas]]></Value>
    </textop4>
    <titulo>
      <Value Culture="en-us"><![CDATA[Agroindustry]]></Value>
      <Value Culture="es-ni"><![CDATA[Agronegocios]]></Value>
    </titulo>
    <titulo1>
      <Value Culture="en-us"><![CDATA[Productive increase (2006-2022)]]></Value>
      <Value Culture="es-ni"><![CDATA[Porcentaje de Incremento Productivo (2006-2022)]]></Value>
    </titulo1>
    <titulo2>
      <Value Culture="en-us"><![CDATA[of exports totals]]></Value>
      <Value Culture="es-ni"><![CDATA[Por ciento de las exportaciones totales]]></Value>
    </titulo2>
    <titulo3>
      <Value Culture="en-us"><![CDATA[of national employment]]></Value>
      <Value Culture="es-ni"><![CDATA[Por ciento del empleo nacional]]></Value>
    </titulo3>
    <tituloasesor>
      <Value Culture="en-us"><![CDATA[See more]]></Value>
      <Value Culture="es-ni"><![CDATA[Leer más]]></Value>
    </tituloasesor>
    <titulodescarga>
      <Value Culture="en-us"><![CDATA[Download]]></Value>
      <Value Culture="es-ni"><![CDATA[Descargar]]></Value>
    </titulodescarga>
    <titulomain>
      <Value Culture="en-us"><![CDATA[Sector data]]></Value>
      <Value Culture="es-ni"><![CDATA[Datos del sector]]></Value>
    </titulomain>
    <titulop>
      <Value Culture="en-us"><![CDATA[Learn more about Agribusiness]]></Value>
      <Value Culture="es-ni"><![CDATA[Invierta en Nicaragua]]></Value>
    </titulop>
    <tituloProductos>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Productos con potencial de desarrollo]]></Value>
    </tituloProductos>
  </Properties>
</Content>