<?xml version="1.0" encoding="utf-8"?>
<Content Key="de8ba1f5-4b7d-4eb1-b0cc-49f923756ab1" Alias="Agronegocios" Level="2">
  <Info>
    <Parent Key="78ac5dec-4966-4095-8ae4-48c6ddf91ed0">Sectores</Parent>
    <Path>/Sectores/Agronegocios</Path>
    <Trashed>false</Trashed>
    <ContentType>sectores</ContentType>
    <CreateDate>2023-07-10T10:58:09</CreateDate>
    <NodeName Default="Agronegocios">
      <Name Culture="en-us">Agronegocios</Name>
      <Name Culture="es-ni">Agronegocios</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="4eea100c-d954-4ee2-a712-584fdb1d27b7">Sector</Template>
  </Info>
  <Properties>
    <btndescarga>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "765ca7dd-84e0-4e62-a2ee-14ba230c094a",
    "mediaKey": "7ac0982f-9549-44ea-bcbb-21b7068008b3"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "844e5955-5b56-41b1-a80f-cec7c6e98446",
    "mediaKey": "219bf620-8e26-4a23-82d3-f5c18307adab"
  }
]]]></Value>
    </btndescarga>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <contacto>
      <Value Culture="en-us"><![CDATA[#]]></Value>
      <Value Culture="es-ni"><![CDATA[#]]></Value>
    </contacto>
    <dato>
      <Value Culture="en-us"><![CDATA[103.7]]></Value>
      <Value Culture="es-ni"><![CDATA[103.3]]></Value>
    </dato>
    <dato2>
      <Value Culture="en-us"><![CDATA[62.8]]></Value>
      <Value Culture="es-ni"><![CDATA[62.8]]></Value>
    </dato2>
    <dato3>
      <Value Culture="en-us"><![CDATA[26]]></Value>
      <Value Culture="es-ni"><![CDATA[26]]></Value>
    </dato3>
    <descripcion>
      <Value Culture="en-us"><![CDATA[With a rapidly developing infrastructure, a young and talented workforce, and a growth-oriented national strategy, Nicaragua has become an ideal investment destination for all.]]></Value>
      <Value Culture="es-ni"><![CDATA[Una industria sólida y confiable, fundamentada en el talento y la confianza]]></Value>
    </descripcion>
    <detalle1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Producción agroexportable]]></Value>
    </detalle1>
    <detalle2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Ganadería intensiva]]></Value>
    </detalle2>
    <detalle3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Procesamiento de alimentos]]></Value>
    </detalle3>
    <detalle4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Producción de lácteos y cárnicos]]></Value>
    </detalle4>
    <detalleimg1>
      <Value><![CDATA[[
  {
    "key": "013ffaa3-bc73-4259-95b8-209d14e71575",
    "mediaKey": "ba03dced-b7c8-4b65-b2ee-ec012dac1c77"
  }
]]]></Value>
    </detalleimg1>
    <detalleimg2>
      <Value><![CDATA[[
  {
    "key": "5fcc6864-70af-49fe-b516-c67630b6cf7e",
    "mediaKey": "4e4e4ec5-f460-4af0-8b86-274af9214c2d"
  }
]]]></Value>
    </detalleimg2>
    <detalleimg3>
      <Value><![CDATA[[
  {
    "key": "72e69ff8-1bc3-48c1-8ce0-5539ab306fe4",
    "mediaKey": "866660ca-75d9-4282-aedf-1d0d811acf15"
  }
]]]></Value>
    </detalleimg3>
    <detalleimg4>
      <Value><![CDATA[[
  {
    "key": "0ac2be5b-c07f-448f-b1bc-d84dd0cfbd65",
    "mediaKey": "203cc752-8e99-4acd-8070-1ea8fe88c5c3"
  }
]]]></Value>
    </detalleimg4>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <icono>
      <Value><![CDATA[[
  {
    "key": "935efc95-6354-4730-b8d5-34b6829563f1",
    "mediaKey": "fae39435-a16a-43e1-aaa1-d3d8d9b88feb"
  }
]]]></Value>
    </icono>
    <icono2>
      <Value><![CDATA[[
  {
    "key": "afeb1f65-9bdc-476e-8758-588d040b2dcf",
    "mediaKey": "fae39435-a16a-43e1-aaa1-d3d8d9b88feb"
  }
]]]></Value>
    </icono2>
    <icono3>
      <Value><![CDATA[[
  {
    "key": "f4430a64-731b-4a24-ba58-9b943a9de8f2",
    "mediaKey": "fae39435-a16a-43e1-aaa1-d3d8d9b88feb"
  }
]]]></Value>
    </icono3>
    <icono4>
      <Value><![CDATA[[
  {
    "key": "844bd4d5-9fb0-46af-a4cb-7b86d58ac6e2",
    "mediaKey": "fae39435-a16a-43e1-aaa1-d3d8d9b88feb"
  }
]]]></Value>
    </icono4>
    <iconop>
      <Value><![CDATA[[
  {
    "key": "4fefb5ab-ace5-490d-a16f-05b32a82c61b",
    "mediaKey": "fc584832-d5c6-4aac-977e-9482c64015ba"
  }
]]]></Value>
    </iconop>
    <iconop2>
      <Value><![CDATA[[
  {
    "key": "37f0440f-9b21-481e-bc5d-0c49ab0f2890",
    "mediaKey": "dd02fca3-377d-4ced-88ba-37c9df2cb024"
  }
]]]></Value>
    </iconop2>
    <iconop3>
      <Value><![CDATA[[
  {
    "key": "d2889697-187b-46e6-9218-d3f2f1f9eaeb",
    "mediaKey": "a6a10670-dd63-424b-9194-29e2d9b4bad8"
  }
]]]></Value>
    </iconop3>
    <iconop4>
      <Value><![CDATA[[
  {
    "key": "b6436e54-9ea1-4062-9daf-06fdf4545642",
    "mediaKey": "bb7a3ad1-467a-4ebc-a3c4-dfcfecf18ea2"
  }
]]]></Value>
    </iconop4>
    <imagen>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "a892be2d-18e5-43b0-8015-88d4de157086",
    "mediaKey": "584ff275-2228-4dd5-bcb0-cb6c5cae20ad"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "d02a0019-51bf-4d68-aea5-16c69a8fdf4b",
    "mediaKey": "00892789-e5f9-4791-b700-ae33256d7605"
  }
]]]></Value>
    </imagen>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "ca29ff35-5569-4894-a72d-09b15582a226",
    "mediaKey": "cb6790c5-fffe-4bce-924c-6e5e1e44d106"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "b5405199-5d49-4fe8-9f2b-cdb46c0c3ca1",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <massectores>
      <Value Culture="en-us"><![CDATA[Explore other sectors]]></Value>
      <Value Culture="es-ni"><![CDATA[Explora otros sectores]]></Value>
    </massectores>
    <subsector>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Subsectores]]></Value>
    </subsector>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Un sector estratégico y fundamental en la economía de Nicaragua]]></Value>
    </subtitulo>
    <subtitulop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Agronegocios]]></Value>
    </subtitulop>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <texto1>
      <Value Culture="en-us"><![CDATA[Main cattle producer in Central America]]></Value>
      <Value Culture="es-ni"><![CDATA[Principal productor de ganado en Centroamérica]]></Value>
    </texto1>
    <texto2>
      <Value Culture="en-us"><![CDATA[Main exporter of cigars in Central America]]></Value>
      <Value Culture="es-ni"><![CDATA[Principal exportador de puros en Centroamérica]]></Value>
    </texto2>
    <texto3>
      <Value Culture="en-us"><![CDATA[Fifth largest meat exporter in Latin America (#1 in Central America)]]></Value>
      <Value Culture="es-ni"><![CDATA[Quinto mayor exportador de carne en Latinoamérica (#1 en Centroamérica)]]></Value>
    </texto3>
    <texto4>
      <Value Culture="en-us"><![CDATA[Seventh largest exporter of crustaceans in Latin America (#1 in Central America)]]></Value>
      <Value Culture="es-ni"><![CDATA[Séptimo mayor exportador de crustáceos en América Latina (#1 en Centroamérica)]]></Value>
    </texto4>
    <textop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Frutas tropicales]]></Value>
    </textop>
    <textop2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Hortalizas y vegetales]]></Value>
    </textop2>
    <textop3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Raíces y tubérculos]]></Value>
    </textop3>
    <textop4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Agro-exportación]]></Value>
    </textop4>
    <titulo>
      <Value Culture="en-us"><![CDATA[Agroindustry]]></Value>
      <Value Culture="es-ni"><![CDATA[Agronegocios]]></Value>
    </titulo>
    <titulo1>
      <Value Culture="en-us"><![CDATA[Productive increase (2006-2022)]]></Value>
      <Value Culture="es-ni"><![CDATA[Incremento Productivo (2006-2022)]]></Value>
    </titulo1>
    <titulo2>
      <Value Culture="en-us"><![CDATA[of exports totals]]></Value>
      <Value Culture="es-ni"><![CDATA[De las exportaciones totales]]></Value>
    </titulo2>
    <titulo3>
      <Value Culture="en-us"><![CDATA[of national employment]]></Value>
      <Value Culture="es-ni"><![CDATA[De empleo nacional]]></Value>
    </titulo3>
    <tituloasesor>
      <Value Culture="en-us"><![CDATA[See more]]></Value>
      <Value Culture="es-ni"><![CDATA[Leer más]]></Value>
    </tituloasesor>
    <titulodescarga>
      <Value Culture="en-us"><![CDATA[Download]]></Value>
      <Value Culture="es-ni"><![CDATA[Descargar]]></Value>
    </titulodescarga>
    <titulomain>
      <Value Culture="en-us"><![CDATA[Sector data]]></Value>
      <Value Culture="es-ni"><![CDATA[Datos del sector]]></Value>
    </titulomain>
    <titulop>
      <Value Culture="en-us"><![CDATA[Learn more about Agribusiness]]></Value>
      <Value Culture="es-ni"><![CDATA[Invierta en Nicaragua]]></Value>
    </titulop>
    <tituloProductos>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Productos con potencial de desarrollo]]></Value>
    </tituloProductos>
  </Properties>
</Content>