<?xml version="1.0" encoding="utf-8"?>
<Content Key="39db47c2-4acf-4680-8433-fa4a2ab82023" Alias="anthonyrlc@hotmail.com (1)" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/anthonyrlcHotmailcom1</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-08-16T14:54:52</CreateDate>
    <NodeName Default="anthonyrlc@hotmail.com (1)" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[Largaespada Castellano]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[Director General]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[anthonyrlc@hotmail.com]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[Servicios Informáticos]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[Hola estimados, quisiera saber las posibilidades de establecer una reunión para el próxima 11-sep-2023.
El tema a tratar es explorar posible inversión en BPO.
Esperando una respuesta positiva.

Saludo]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[Ronny Antonio]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[+505 76111141]]></Value>
    </telefono>
  </Properties>
</Content>