<?xml version="1.0" encoding="utf-8"?>
<Content Key="01514aee-4e6d-4f4b-829b-4edc5ecee070" Alias="anthonyrlc@hotmail.com" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/anthonyrlcHotmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-07-24T09:58:26</CreateDate>
    <NodeName Default="anthonyrlc@hotmail.com" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[Lara]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[anthonyrlc@hotmail.com]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[Hola, que tengas un excelente día.]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[Ronny]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[76111141]]></Value>
    </telefono>
  </Properties>
</Content>