<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6c072e4-d4b2-4931-beaa-359f5345a4a0" Alias="Chatbot" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Chatbot</Path>
    <Trashed>false</Trashed>
    <ContentType>chatBot</ContentType>
    <CreateDate>2023-07-11T16:25:38</CreateDate>
    <NodeName Default="Chatbot" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>