<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a628330-ee37-4956-8eac-b2f1808a5600" Alias="Contacto" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Contacto</Path>
    <Trashed>false</Trashed>
    <ContentType>contacto</ContentType>
    <CreateDate>2023-07-07T10:37:00</CreateDate>
    <NodeName Default="Contacto">
      <Name Culture="en-us">Contacto</Name>
      <Name Culture="es-ni">Contacto</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="4d99a297-0dcf-46d1-8ea2-cb3299d662ca">Contacto</Template>
  </Info>
  <Properties>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "8192f436-e835-4313-b89b-af10266ea3de",
    "mediaKey": "cd6a5435-ebc1-4136-afd4-66afc40f364a"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "7676ad53-9d8a-4c9c-9d7e-8deec3254da7",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[Contact]]></Value>
      <Value Culture="es-ni"><![CDATA[Contacto]]></Value>
    </titulo>
    <titulo1>
      <Value Culture="en-us"><![CDATA[Frequent questions]]></Value>
      <Value Culture="es-ni"><![CDATA[Preguntas Frecuentes]]></Value>
    </titulo1>
  </Properties>
</Content>