<?xml version="1.0" encoding="utf-8"?>
<Content Key="56182a04-c77a-4068-984b-a1195853fa71" Alias="¿Cuáles son los requisitos para establecer una empresa en Nicaragua?" Level="2">
  <Info>
    <Parent Key="9a628330-ee37-4956-8eac-b2f1808a5600">Contacto</Parent>
    <Path>/Contacto/CualesSonLosRequisitosParaEstablecerUnaEmpresaEnNicaragua</Path>
    <Trashed>false</Trashed>
    <ContentType>pregunta</ContentType>
    <CreateDate>2023-07-07T10:46:53</CreateDate>
    <NodeName Default="¿Cuáles son los requisitos para establecer una empresa en Nicaragua?">
      <Name Culture="en-us">What are the requirements to establish a company in Nicaragua?</Name>
      <Name Culture="es-ni">¿Cuáles son los requisitos para establecer una empresa en Nicaragua?</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta1>
      <Value Culture="en-us"><![CDATA[What are the requirements to establish a company in Nicaragua?]]></Value>
      <Value Culture="es-ni"><![CDATA[¿Cuáles son los requisitos para establecer una empresa en Nicaragua?]]></Value>
    </pregunta1>
    <respuesta>
      <Value Culture="en-us"><![CDATA[<p>To establish a company in Nicaragua, it is necessary to prepare the company's articles of incorporation and certified by a Nicaraguan notary public. In addition, it is required to acquire the corporate and accounting books and submit the application for registration as a merchant before the Mercantile Registry with a photocopy of the identity or residence card. It is also necessary to have at least two partners and a minimum share capital of C$10,000.</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p>Para establecer una empresa en Nicaragua se necesita elaborar el acta constitutiva de la empresa y certificada por un notario público nicaragüense. Además, se requiere adquirir los libros corporativos y contables y presentar la solicitud de inscripción como comerciante ante el Registro Mercantil con fotocopia de cédula de identidad o de residencia. También es necesario contar con al menos dos socios y un capital social mínimo de C$10,000. </p>]]></Value>
    </respuesta>
  </Properties>
</Content>