<?xml version="1.0" encoding="utf-8"?>
<Content Key="573c4943-92a5-40ea-8788-1e8687b72137" Alias="¿Cuáles son los principales servicios de la SPIEX?" Level="2">
  <Info>
    <Parent Key="9a628330-ee37-4956-8eac-b2f1808a5600">Contacto</Parent>
    <Path>/Contacto/CualesSonLosPrincipalesServiciosDeLaSPIEX</Path>
    <Trashed>false</Trashed>
    <ContentType>pregunta</ContentType>
    <CreateDate>2023-07-07T10:45:45</CreateDate>
    <NodeName Default="¿Cuáles son los principales servicios de la SPIEX?">
      <Name Culture="en-us">What are the main services of SPIEX?</Name>
      <Name Culture="es-ni">¿Cuáles son los principales servicios de la SPIEX?</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta1>
      <Value Culture="en-us"><![CDATA[What are the main services of SPIEX?]]></Value>
      <Value Culture="es-ni"><![CDATA[¿Cuáles son los principales servicios de la SPIEX?]]></Value>
    </pregunta1>
    <respuesta>
      <Value Culture="en-us"><![CDATA[<ul>
<li>Evaluation and Decision Making</li>
<li>Preparation of personalized packages with updated and reliable information about the country, including foreign investment trends at a national, regional and global level.</li>
<li>Analysis of comparative models of operating costs in the country.</li>
<li>Specialized accompaniment in visits to the country to hold meetings with government institutions. Establishment</li>
<li>Guidance and assistance in permit processes and administrative procedures.</li>
<li>Support in recruitment processes of human talent and search for real estate solutions.</li>
<li>Facilitation of contacts of suppliers of related goods and services. Retention and Expansion<br>Advice on investment opportunities to expand, diversify and add value to the local operations of companies.</li>
<li>Approach with established companies, trade associations and academia for the development of initiatives that strengthen the value chains of the business ecosystem.</li>
</ul>]]></Value>
      <Value Culture="es-ni"><![CDATA[<ul>
<li>Evaluación y Toma de Decisión</li>
<li>Elaboración de paquetes personalizados con información actualizada y confiable sobre el país, incluyendo tendencias de la inversión extranjera a nivel nacional, regional y global. </li>
<li>Análisis de modelos comparativos de costos operativos en el país. </li>
<li>Acompañamiento especializado en visitas al país para sostener reuniones con instituciones gubernamentales. Establecimiento </li>
<li>Orientación y asistencia en procesos de permisos y trámites administrativos. </li>
<li>Soporte en procesos de reclutamiento de talento humano y búsqueda de soluciones inmobiliarias. </li>
<li>Facilitación de contactos de proveedores de bienes y servicios relacionados. Retención y Expansión </li>
<li>Asesoramiento sobre oportunidades de inversión para expandir, diversificar y agregar valor a las operaciones locales de las empresas. </li>
<li>Acercamiento con empresas establecidas, asociaciones gremiales y la academia para el desarrollo de iniciativas que fortalezcan las cadenas de valor del ecosistema de negocios.</li>
</ul>]]></Value>
    </respuesta>
  </Properties>
</Content>