<?xml version="1.0" encoding="utf-8"?>
<Content Key="cdb6914c-b08a-4fa6-806b-b7ae25cc6528" Alias="Error404" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Error404</Path>
    <Trashed>false</Trashed>
    <ContentType>error404</ContentType>
    <CreateDate>2023-08-08T17:21:40</CreateDate>
    <NodeName Default="Error404">
      <Name Culture="en-us">Error404</Name>
      <Name Culture="es-ni">Error404</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="a9af2fc4-aa1d-4af1-aa65-ec0945d43ef9">Error404</Template>
  </Info>
  <Properties>
    <fondo>
      <Value><![CDATA[[
  {
    "key": "7d15f068-785c-45bf-b36e-81e10c900de1",
    "mediaKey": "db62b8b5-a213-44a7-b7d2-1574e677b625"
  }
]]]></Value>
    </fondo>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[We suggest you to go to the homepage while we solve this issue.]]></Value>
      <Value Culture="es-ni"><![CDATA[Puedes regresar a página de inicio para continuar navegando]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[Go to Homepage]]></Value>
      <Value Culture="es-ni"><![CDATA[Ir a Inicio]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[ Page not found]]></Value>
      <Value Culture="es-ni"><![CDATA[Página no encontrada]]></Value>
    </titulo>
  </Properties>
</Content>