<?xml version="1.0" encoding="utf-8"?>
<Content Key="81cb9ef2-6b3d-4b35-a91a-d7d73592c576" Alias="Establecimiento" Level="2">
  <Info>
    <Parent Key="0320ac25-f4ab-4d21-bf89-fd004da764f8">Servicios</Parent>
    <Path>/Servicios/Establecimiento</Path>
    <Trashed>false</Trashed>
    <ContentType>servicio</ContentType>
    <CreateDate>2023-07-10T16:05:21</CreateDate>
    <NodeName Default="Establecimiento">
      <Name Culture="en-us">Establishment</Name>
      <Name Culture="es-ni">Establecimiento</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[
  {
    "key": "93627c62-72de-49b2-8c2d-cc2907584745",
    "mediaKey": "97607a55-9b97-475e-ab50-68795abfae15"
  }
]]]></Value>
    </banner>
    <botonenlace>
      <Value Culture="en-us"><![CDATA[#]]></Value>
      <Value Culture="es-ni"><![CDATA[#]]></Value>
    </botonenlace>
    <botontexto>
      <Value Culture="en-us"><![CDATA[Contact an Advisor]]></Value>
      <Value Culture="es-ni"><![CDATA[Contacta a un Asesor]]></Value>
    </botontexto>
    <contenido>
      <Value Culture="en-us"><![CDATA[<p>• Guidance and assistance in permit processes and administrative procedures.</p>
<p>• Support in recruitment processes of human talent and search for real estate solutions.</p>
<p>• Facilitation of contacts of suppliers of related goods and services.</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p><strong>• Orientación y asistencia en procesos de permisos y trámites administrativos.</strong></p>
<p><strong>• Soporte en procesos de reclutamiento de talento humano y búsqueda de soluciones inmobiliarias</strong></p>
<p><strong>• Facilitación de contactos de proveedores de bienes y servicios relacionados</strong></p>]]></Value>
    </contenido>
    <nombre>
      <Value Culture="en-us"><![CDATA[Establishment]]></Value>
      <Value Culture="es-ni"><![CDATA[Establecimiento]]></Value>
    </nombre>
  </Properties>
</Content>