<?xml version="1.0" encoding="utf-8"?>
<Content Key="f17c2f48-a7e2-4681-88b2-5c744b47cf8a" Alias="Evaluación y Toma de Decisión" Level="2">
  <Info>
    <Parent Key="0320ac25-f4ab-4d21-bf89-fd004da764f8">Servicios</Parent>
    <Path>/Servicios/EvaluacionYTomaDeDecision</Path>
    <Trashed>false</Trashed>
    <ContentType>servicio</ContentType>
    <CreateDate>2023-07-10T16:00:27</CreateDate>
    <NodeName Default="Evaluación y Toma de Decisión">
      <Name Culture="en-us">Evaluation and Decision Making</Name>
      <Name Culture="es-ni">Evaluación y Toma de Decisión</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[
  {
    "key": "409660d9-3d0e-428f-acf5-5a1f1594f10f",
    "mediaKey": "f3101a0c-a81b-409a-9bec-bc7ff9836dbc"
  }
]]]></Value>
    </banner>
    <botonenlace>
      <Value Culture="en-us"><![CDATA[#]]></Value>
      <Value Culture="es-ni"><![CDATA[#]]></Value>
    </botonenlace>
    <botontexto>
      <Value Culture="en-us"><![CDATA[Contact an Advisor]]></Value>
      <Value Culture="es-ni"><![CDATA[Contacta a un Asesor]]></Value>
    </botontexto>
    <contenido>
      <Value Culture="en-us"><![CDATA[<p>• Preparation of personalized packages with updated and reliable information about the country, including trends in foreign investment at the national, regional and global levels.</p>
<p>• Analysis of comparative models of operating costs in the country.</p>
<p>• Specialized accompaniment in visits to the country to hold meetings with government institutions.</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p><strong>• Elaboración de paquetes personalizados con información actualizada y confiable sobre el país, incluyendo tendencias de la inversión extranjera a nivel nacional, regional y global</strong></p>
<p><strong>• Análisis de modelos comparativos de costos operativos en el país</strong></p>
<p><strong>• Acompañamiento especializado en visitas al país para sostener reuniones con instituciones gubernamentales</strong></p>]]></Value>
    </contenido>
    <nombre>
      <Value Culture="en-us"><![CDATA[Evaluation and Decision Making]]></Value>
      <Value Culture="es-ni"><![CDATA[Evaluación y Toma de Decisión]]></Value>
    </nombre>
  </Properties>
</Content>