<?xml version="1.0" encoding="utf-8"?>
<Content Key="e74ecd22-dd8e-4398-9846-606a74ff0a6e" Alias="Exportaciones del primer semestre registra cifras positivas y en franco crecimiento" Level="2">
  <Info>
    <Parent Key="d38c280c-5d26-4154-949f-e5314a9a64dc">Noticias</Parent>
    <Path>/Noticias/ExportacionesDelPrimerSemestreRegistraCifrasPositivasYEnFrancoCrecimiento</Path>
    <Trashed>false</Trashed>
    <ContentType>noticia</ContentType>
    <CreateDate>2023-08-02T10:02:34</CreateDate>
    <NodeName Default="Exportaciones del primer semestre registra cifras positivas y en franco crecimiento">
      <Name Culture="en-us">Exportaciones del primer semestre registra cifras positivas y en franco crecimiento</Name>
      <Name Culture="es-ni">Exportaciones del primer semestre registra cifras positivas y en franco crecimiento</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="2957f989-7d38-4973-96f6-0343dee18f13">Noticia</Template>
  </Info>
  <Properties>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </btnmodal>
    <contenido>
      <Value Culture="en-us"><![CDATA[<p>The National System of Production, Consumption and Commerce, through the President of the Central Bank of Nicaragua (BCN), Dr. Ovidio Reyes, provided the report on the behavior of the main export items, noting that most show growth levels higher than those registered in the period January to June last year.</p>
<p>At the meeting of all the entities that make up this system, five topics were addressed; the behavior of exports of agricultural products, the progress report on the annual plan of the National Commission for the Transformation and Development of Coffee Farming (Conatradec), the strategy for the promotion and monitoring of animal feed and the progress of the diploma to improve agricultural production carried out by the National Agrarian University.</p>
<p> </p>
<p>"In the case of exports of agricultural goods as of June 2023, we continue to observe that exports maintain a positive growth rate," Reyes stressed.</p>
<p>Total agricultural exports until June 30 reached the figure of 1 thousand 907.9 million dollars, which means a growth of 1.7 percent.</p>
<p> </p>
<p>The president of @BancoCentralNI doctor @OvidioReyesR provided the report on exports in the first half of 2023 of the main products and certified a higher growth in relation to the 2022 period. pic.twitter.com/0ypM83DV7O</p>
<p>– Pedro Ortega (@PedroOrtega_19) July 14, 2023</p>
<p> </p>
<p>If the general export regime is evaluated, these amounted to 2 thousand 199.9 million dollars for a growth of 2.9 percent, while exports from free zones reached a value between January and June of 1 thousand 708 million dollars for a growth of 0.2 percent.</p>
<p>"The trend is for global exports to continue growing," certified the president of the governing body for monetary policies.</p>
<p> </p>
<p>If we analyze the main export products, we see that in non-agricultural goods, the main items were clothing with sales of 847 million dollars, raw gold 530 million dollars, automotive harnesses 454 million dollars, farmed shrimp 57 million, whole fish $29 million, cotton yarn $21 million, fuel oils $20 million, lobsters $16 million, fiber cloth $14 million, and raw silver $13 million.</p>
<p>These products had as main destinations the United States with 2 thousand 45 million, Central America 662 million, Mexico 499 million, European Union 229 million dollars, Canada 143 million, United Kingdom 36 million, Switzerland 33 million, South Korea 32 million, China 29 million and Taipei 25 million.</p>
<p>“When we see only agricultural products, these amounted to 1,735.1 million, this represented a growth of 3.8 percent. In the general regime, 1,475 million in agricultural products were obtained for a growth of 4.3 percent and in free zones, 260.1 million were obtained for a growth of 1.6 percent. In agricultural imports these reached 847.9 million dollars ”, he detailed.</p>
<p> </p>
<p>Among the main agricultural products exported, we have gold coffee with 460 million dollars, bovine meat 331 million dollars, cigars and cigarillos 212 million, cane sugar 172 million dollars, cheese 113 million dollars, beans 88 million, peanuts 69 million , raw oil 46 million, tobacco 16 million, rum 16 million, bananas 15 million and bovine offal 14 million dollars. The main destinations for agricultural products were the United States with 700 million, Central America 433 million, the European Union 213 million, Mexico 112 million dollars, Canada 150 million, the United Kingdom 32 million, South Korea 30 million, Peru 17 million, Taipei- China 16 million, Japan 12 million, the Dominican Republic 11 million and the People's Republic of China 11 million.</p>
<p>In relation to the work of Conatradec, it held the Cup of Excellence 2023 contest in which producers from 28 municipalities integrated into 41 cooperatives participated, presenting 290 coffee samples. A transnational and 8 coffee exporting organizations participated.</p>
<p> </p>
<p>Source: Digital 19</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p>El <strong>Sistema Nacional de Producción, Consumo y Comercio,</strong> a través del <strong>Presidente del Banco Central de Nicaragua (BCN),</strong> <strong>doctor Ovidio Reyes</strong> brindó el informe del comportamiento de los principales rubros de exportaciones, destacando que la mayoría muestra niveles de crecimiento superiores a los registrados en el periodo enero a junio del año pasado.</p>
<p>En la reunión de todas las entidades que integran este sistema, se abordaron cinco temas; el comportamiento de las exportaciones de productos agropecuarios, el informe del avance en el plan anual de la <strong>Comisión Nacional de Transformación y Desarrollo de la Caficultura (Conatradec)</strong> , la estrategia para la promoción y seguimiento de alimentos para animales y los avances del diplomado para mejorar la producción agropecuaria que realiza la <strong>Universidad Nacional Agraria.</strong></p>
<p> </p>
<p><em>“En el caso de las exportaciones de bienes agropecuarios al mes de <strong>junio 2023</strong>, continuamos observando que las exportaciones mantienen un ritmo positivo de crecimiento”,</em> subrayó Reyes.</p>
<p>Las exportaciones agropecuarias totales hasta el 30 de junio alcanzaron la cifra de<strong> 1 mil 907.9 millones de dólares</strong>, lo que significa un crecimiento del 1.7 por ciento.</p>
<p> </p>
<p dir="ltr">El presidente del <a href="https://twitter.com/BancoCentralNI?ref_src=twsrc^tfw">@BancoCentralNI</a> doctor <a href="https://twitter.com/OvidioReyesR?ref_src=twsrc^tfw">@OvidioReyesR</a> brindò el informe de las exportaciones en el primer semestre 2023 de los principales productos y certificó un crecimiento superior en relación al periodo 2022. <a href="https://t.co/0ypM83DV7O">pic.twitter.com/0ypM83DV7O</a></p>
<p>— Pedro Ortega (@PedroOrtega_19)<span> </span><a href="https://twitter.com/PedroOrtega_19/status/1679927813325897735?ref_src=twsrc^tfw">July 14, 2023</a></p>
<p> </p>
<p>Si se evalúa el <strong>régimen general de exportaciones,</strong> estas ascendieron a <strong>2 mil 199.9 millones de dólares</strong> para un crecimiento del 2.9 por ciento, mientras las exportaciones de zonas francas alcanzaron un valor entre enero a junio <strong>1 mil 708 millones de dólares para un crecimiento del 0.2 por ciento.</strong></p>
<p><em>“La tendencia es que las exportaciones globales continúen creciendo”,</em> certificó el presidente del ente rector de las políticas monetarias.</p>
<p> </p>
<p>Si analizamos los principales productos de exportación, vemos que en los bienes no agrícolas, los principales rubros fueron las prendas de vestir con ventas de 847 millones,<strong> oro en bruto 530 millones de dólares</strong>, arneses automotrices 454 millones de dólares, camarones cultivados 57 millones, pescados enteros 29 millones, hilados de algodón 21 millones de dólares, <strong>aceites combustibles 20 millones, langostas 16 millones, tejidos de fibras 14 millones de dólares y plata en bruto 13 millones.</strong></p>
<p>Estos productos tuvieron como principales destinos <strong>Estados Unidos con 2 mil 45 millones</strong>, Centroamérica 662 millones, México 499 millones, <strong>Unión Europea 229 millones de dólares</strong>, Canadá 143 millones, Reino Unido 36 millones, Suiza 33 millones, Corea del Sur 32 millones, China 29 millones y Taipei 25 millones.</p>
<p><em>“Cuando ya vemos solamente los productos agropecuarios estos ascendieron <strong>1 mil 735.1 millones,</strong> esto representó un crecimiento del <strong>3.8 por ciento.</strong> En el régimen general se obtuvieron 1 mil 475 millones en productos agropecuarios para un crecimiento del <strong>4.3 por ciento</strong> y en zonas francas se logró <strong>260.1 millones para un crecimiento del 1.6 por ciento.</strong> En importaciones agrícolas estas alcanzaron los <strong>847.9 millones de dólares</strong>”</em>, detalló.</p>
<p> </p>
<p>Entre los principales productos agrícolas exportados, tenemos <strong>café oro con 460 millones, carne bovina 331 millones de dólares, puros y puritos de tabaco 212 millones,</strong> azúcar de caña 172 millones de dólares, quesos 113 millones de dólares, frijoles 88 millones, maní 69 millones, aceite en bruto 46 millones, tabaco en rama 16 millones, ron 16 millones, banano 15 millones y despojo de bovinos 14 millones de dólares. Los principales destinos de los productos agrícolas fueron <strong>Estados Unidos con 700 millones, Centroamérica 433 millones, Unión Europea 213 millones</strong>, México 112 millones de dólares, Canadá 150 millones, Reino Unido 32 millones, Corea del Sur 30 millones, Perú 17 millones, Taipei-China 16 millones, Japón 12 millones, República Dominicana 11 millones y <strong>República Popular China 11 millones.</strong></p>
<p>En relación al trabajo de la <strong>Conatradec</strong> realizó el certamen de la <strong>Taza de la Excelencia 2023</strong> en el que participaron productores de 28 municipios integrados en 41 cooperativas, que presentaron 290 muestras de café. Participó una trasnacional y 8 organizaciones exportadoras de café.</p>
<p> </p>
<p>Fuente: El 19 Digital</p>]]></Value>
    </contenido>
    <descripcion>
      <Value Culture="en-us"><![CDATA[The National System of Production, Consumption and Commerce, through the President of the Central Bank of Nicaragua (BCN), Dr. Ovidio Reyes, provided the report on the behavior of the main export items, noting that most show growth levels higher than those registered in the period January to June last year.]]></Value>
      <Value Culture="es-ni"><![CDATA[El Sistema Nacional de Producción, Consumo y Comercio, a través del Presidente del Banco Central de Nicaragua (BCN), doctor Ovidio Reyes brindó el informe del comportamiento de los principales rubros de exportaciones, destacando que la mayoría muestra niveles de crecimiento superiores a los registrados en el periodo enero a junio del año pasado]]></Value>
    </descripcion>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "a855b536-18af-48a3-b376-965a7f468b30",
    "mediaKey": "6ff21c96-e9e0-48c0-802d-f688352da6ed"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "5c3dd62f-62f4-49ac-a8ea-e647b7551425",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[Exports in the first semester register positive figures and frank growth]]></Value>
      <Value Culture="es-ni"><![CDATA[Exportaciones del primer semestre registra cifras positivas y en franco crecimiento]]></Value>
    </titulo>
  </Properties>
</Content>