<?xml version="1.0" encoding="utf-8"?>
<Content Key="563ce4d1-0f5d-4054-bc19-223cdd9429e7" Alias="Externalización de servicios" Level="2">
  <Info>
    <Parent Key="78ac5dec-4966-4095-8ae4-48c6ddf91ed0">Sectores</Parent>
    <Path>/Sectores/ExternalizacionDeServicios</Path>
    <Trashed>false</Trashed>
    <ContentType>sectores</ContentType>
    <CreateDate>2023-07-10T10:58:41</CreateDate>
    <NodeName Default="Externalización de servicios">
      <Name Culture="en-us">Externalización de servicios</Name>
      <Name Culture="es-ni">Externalización de servicios</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="4eea100c-d954-4ee2-a712-584fdb1d27b7">Sector</Template>
  </Info>
  <Properties>
    <btndescarga>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "5f5171dd-717e-4afe-bb19-1b80f0cb52ad",
    "mediaKey": "739f40da-d6a2-41ab-8113-4088d123bca1"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "3e874401-ff82-4658-86f8-58e3c2712a7b",
    "mediaKey": "2e26d268-3dd9-400d-a608-1b3c2acbc443"
  }
]]]></Value>
    </btndescarga>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <contacto>
      <Value Culture="en-us"><![CDATA[#]]></Value>
      <Value Culture="es-ni"><![CDATA[#]]></Value>
    </contacto>
    <dato>
      <Value Culture="en-us"><![CDATA[98]]></Value>
      <Value Culture="es-ni"><![CDATA[98]]></Value>
    </dato>
    <dato2>
      <Value Culture="en-us"><![CDATA[31]]></Value>
      <Value Culture="es-ni"><![CDATA[14799]]></Value>
    </dato2>
    <dato3>
      <Value Culture="en-us"><![CDATA[14799]]></Value>
      <Value Culture="es-ni"><![CDATA[224.9]]></Value>
    </dato3>
    <descripcion>
      <Value Culture="en-us"><![CDATA[With a rapidly developing infrastructure, a young and talented workforce and a strategy growth-oriented nation, Nicaragua has become in an ideal investment destination for all.]]></Value>
      <Value Culture="es-ni"><![CDATA[Con una infraestructura de rápido desarrollo, una fuerza laboral joven y talentosa y una estrategia nacional orientada al crecimiento, Nicaragua se ha convertido en un destino de inversiones ideal para todos.]]></Value>
    </descripcion>
    <detalle1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Procesos de negocios (BPO)]]></Value>
    </detalle1>
    <detalle2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Procesos de Tecnología de la Información (ITO)]]></Value>
    </detalle2>
    <detalle3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Procesos de conocimiento (KPO)]]></Value>
    </detalle3>
    <detalle4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Centros de servicios compartidos]]></Value>
    </detalle4>
    <detalleimg1>
      <Value><![CDATA[[
  {
    "key": "c2238d0f-12ca-4e3e-84da-b25bd8ce2086",
    "mediaKey": "3ce70026-5468-4276-867f-747490098a27"
  }
]]]></Value>
    </detalleimg1>
    <detalleimg2>
      <Value><![CDATA[[
  {
    "key": "b00d2cef-3423-4dbb-878d-8acfa99cabb8",
    "mediaKey": "76e43b5f-9f82-4934-b3df-1b41e578c1fa"
  }
]]]></Value>
    </detalleimg2>
    <detalleimg3>
      <Value><![CDATA[[
  {
    "key": "2f32ef93-6f0b-4afe-a3c0-f5409e5e742a",
    "mediaKey": "1648ca1b-6557-4185-8213-50d0acfc79dd"
  }
]]]></Value>
    </detalleimg3>
    <detalleimg4>
      <Value><![CDATA[[
  {
    "key": "8e146e33-3363-4cf7-829b-9666c4518afe",
    "mediaKey": "324c3087-edcd-4c74-a6bc-ed3ceb9b8957"
  }
]]]></Value>
    </detalleimg4>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <icono>
      <Value><![CDATA[[
  {
    "key": "7e855a08-245d-4333-bafb-de62ce4af795",
    "mediaKey": "81800b32-46fe-4304-a0c4-c22daaf5ace6"
  }
]]]></Value>
    </icono>
    <icono2>
      <Value><![CDATA[[
  {
    "key": "ec9a8235-19af-43dd-9d59-449e25034e77",
    "mediaKey": "fae39435-a16a-43e1-aaa1-d3d8d9b88feb"
  }
]]]></Value>
    </icono2>
    <icono3>
      <Value><![CDATA[[
  {
    "key": "10cd4e79-8244-4089-bf27-2d42df80e87c",
    "mediaKey": "fae39435-a16a-43e1-aaa1-d3d8d9b88feb"
  }
]]]></Value>
    </icono3>
    <icono4>
      <Value><![CDATA[[
  {
    "key": "21c2c39b-55a4-437f-882e-d67ecef30838",
    "mediaKey": "fae39435-a16a-43e1-aaa1-d3d8d9b88feb"
  }
]]]></Value>
    </icono4>
    <iconop>
      <Value><![CDATA[[]]]></Value>
    </iconop>
    <iconop2>
      <Value><![CDATA[[]]]></Value>
    </iconop2>
    <iconop3>
      <Value><![CDATA[[]]]></Value>
    </iconop3>
    <iconop4>
      <Value><![CDATA[[]]]></Value>
    </iconop4>
    <imagen>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "71bce508-e4d8-44e8-bbd9-af7f21c15ac1",
    "mediaKey": "aac9d8d3-0eb1-45e2-8d1b-732a84dd3f3e"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "6ccd9d6d-3bd8-4d8e-8863-7cae50f4e76a",
    "mediaKey": "997e7266-a0a9-4429-a60a-1ded42b17056"
  }
]]]></Value>
    </imagen>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "c522f353-2d38-49fa-a251-1b16abb1d177",
    "mediaKey": "5b1f8197-59ac-43f3-bfeb-cb8daa03d621"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "2631889e-86ec-486f-8724-ff83b2445f52",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <massectores>
      <Value Culture="en-us"><![CDATA[Explore other sectors]]></Value>
      <Value Culture="es-ni"><![CDATA[Explora otros sectores]]></Value>
    </massectores>
    <subsector>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Subsectores]]></Value>
    </subsector>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Servicios de excelencia, localmente accesibles]]></Value>
    </subtitulo>
    <subtitulop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulop>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <texto1>
      <Value Culture="en-us"><![CDATA[Competitive and stable salaries]]></Value>
      <Value Culture="es-ni"><![CDATA[Salarios competitivos y estables ]]></Value>
    </texto1>
    <texto2>
      <Value Culture="en-us"><![CDATA[Real-time services to the United States]]></Value>
      <Value Culture="es-ni"><![CDATA[Servicios en tiempo real a Estados Unidos]]></Value>
    </texto2>
    <texto3>
      <Value Culture="en-us"><![CDATA[base salary in a call center has remained at US$550 for three years)]]></Value>
      <Value Culture="es-ni"><![CDATA[salario base en un call center se ha mantenido en US$550 desde hace tres años)]]></Value>
    </texto3>
    <texto4>
      <Value Culture="en-us"><![CDATA[Connection with the world through the Arcos and Maya fiber optic rings]]></Value>
      <Value Culture="es-ni"><![CDATA[Conexión con el mundo mediante los anillos de fibra óptica Arcos y Maya]]></Value>
    </texto4>
    <textop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop>
    <textop2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop2>
    <textop3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop3>
    <textop4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop4>
    <titulo>
      <Value Culture="en-us"><![CDATA[Outsourcing of services]]></Value>
      <Value Culture="es-ni"><![CDATA[Externalización de servicios]]></Value>
    </titulo>
    <titulo1>
      <Value Culture="en-us"><![CDATA[million investment]]></Value>
      <Value Culture="es-ni"><![CDATA[Millones de inversión]]></Value>
    </titulo1>
    <titulo2>
      <Value Culture="en-us"><![CDATA[companies operating under Free Zone Regime]]></Value>
      <Value Culture="es-ni"><![CDATA[Empleos]]></Value>
    </titulo2>
    <titulo3>
      <Value Culture="en-us"><![CDATA[of national employment]]></Value>
      <Value Culture="es-ni"><![CDATA[Millones exportados]]></Value>
    </titulo3>
    <tituloasesor>
      <Value Culture="en-us"><![CDATA[See more]]></Value>
      <Value Culture="es-ni"><![CDATA[Ver mas]]></Value>
    </tituloasesor>
    <titulodescarga>
      <Value Culture="en-us"><![CDATA[Download]]></Value>
      <Value Culture="es-ni"><![CDATA[Descargar]]></Value>
    </titulodescarga>
    <titulomain>
      <Value Culture="en-us"><![CDATA[Industry data]]></Value>
      <Value Culture="es-ni"><![CDATA[Datos del sector]]></Value>
    </titulomain>
    <titulop>
      <Value Culture="en-us"><![CDATA[Learn more about Outsourcing Services]]></Value>
      <Value Culture="es-ni"><![CDATA[Conoce más de Externalización de Servicios]]></Value>
    </titulop>
    <tituloProductos>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </tituloProductos>
  </Properties>
</Content>