<?xml version="1.0" encoding="utf-8"?>
<Content Key="02d1be2d-00af-4cdc-a5ee-a43de9807323" Alias="Forestal" Level="2">
  <Info>
    <Parent Key="78ac5dec-4966-4095-8ae4-48c6ddf91ed0">Sectores</Parent>
    <Path>/Sectores/Forestal</Path>
    <Trashed>false</Trashed>
    <ContentType>sectores</ContentType>
    <CreateDate>2023-07-10T11:00:14</CreateDate>
    <NodeName Default="Forestal">
      <Name Culture="en-us">Forestal</Name>
      <Name Culture="es-ni">Forestal</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="4eea100c-d954-4ee2-a712-584fdb1d27b7">Sector</Template>
  </Info>
  <Properties>
    <btndescarga>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "7542e97f-dea1-4a68-b98d-71b131840d6a",
    "mediaKey": "abd4c7d5-59ec-465c-a5d5-f0266804b92e"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "52770aad-33e8-47d8-8f55-8e6e373c26b2",
    "mediaKey": "ce0eade0-e6c2-4ff0-a833-4750490173ef"
  }
]]]></Value>
    </btndescarga>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <contacto>
      <Value Culture="en-us"><![CDATA[#]]></Value>
      <Value Culture="es-ni"><![CDATA[#]]></Value>
    </contacto>
    <dato>
      <Value Culture="en-us"><![CDATA[23326043]]></Value>
      <Value Culture="es-ni"><![CDATA[103.7]]></Value>
    </dato>
    <dato2>
      <Value Culture="en-us"><![CDATA[15142.9]]></Value>
      <Value Culture="es-ni"><![CDATA[62.8]]></Value>
    </dato2>
    <dato3>
      <Value Culture="en-us"><![CDATA[2.8]]></Value>
      <Value Culture="es-ni"><![CDATA[26]]></Value>
    </dato3>
    <descripcion>
      <Value Culture="en-us"><![CDATA[With a rapidly developing infrastructure, a young and talented workforce and a strategy growth-oriented nation, Nicaragua has become in an ideal investment destination for all.]]></Value>
      <Value Culture="es-ni"><![CDATA[Con una infraestructura de rápido desarrollo, una fuerza laboral joven y talentosa y una estrategia nacional orientada al crecimiento, Nicaragua se ha convertido en un destino de inversiones ideal para todos.]]></Value>
    </descripcion>
    <detalle1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Plantaciones maderables]]></Value>
    </detalle1>
    <detalle2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Sistemas agroforestales]]></Value>
    </detalle2>
    <detalle3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Créditos de carbono]]></Value>
    </detalle3>
    <detalle4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Aprovechamiento de productos forestales no maderables]]></Value>
    </detalle4>
    <detalleimg1>
      <Value><![CDATA[[
  {
    "key": "4e098ef5-4d1d-4499-abf6-78e3c3f69942",
    "mediaKey": "cd41809f-f5de-456e-b767-a9934061b377"
  }
]]]></Value>
    </detalleimg1>
    <detalleimg2>
      <Value><![CDATA[[
  {
    "key": "aecbf8d5-3baf-4d31-b6fd-5e7e190eb610",
    "mediaKey": "54c4bb08-a75b-4741-8a0f-38a02965c26e"
  }
]]]></Value>
    </detalleimg2>
    <detalleimg3>
      <Value><![CDATA[[
  {
    "key": "f7ceaf87-bd93-4cb8-b913-a9159f4bad7a",
    "mediaKey": "04ebf0ba-9eec-4149-9da5-2763dc75a475"
  }
]]]></Value>
    </detalleimg3>
    <detalleimg4>
      <Value><![CDATA[[
  {
    "key": "7ae92277-13a1-4ed7-ac38-d9325699423a",
    "mediaKey": "49a28c86-fb61-4ec5-a11e-7bc942f915da"
  }
]]]></Value>
    </detalleimg4>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <icono>
      <Value><![CDATA[[
  {
    "key": "af7d1f98-ef21-432c-8a23-108ca543a40b",
    "mediaKey": "81800b32-46fe-4304-a0c4-c22daaf5ace6"
  }
]]]></Value>
    </icono>
    <icono2>
      <Value><![CDATA[[
  {
    "key": "a0a4eb20-e59a-4901-991d-92cd91193975",
    "mediaKey": "4e4e4ec5-f460-4af0-8b86-274af9214c2d"
  }
]]]></Value>
    </icono2>
    <icono3>
      <Value><![CDATA[[
  {
    "key": "a2ba0f86-fc10-43c3-b589-5b11798cf5d6",
    "mediaKey": "709bde4b-e5fd-4797-ad20-010c1e176cae"
  }
]]]></Value>
    </icono3>
    <icono4>
      <Value><![CDATA[[
  {
    "key": "937eb792-6184-4deb-ba41-eaa23a32c1e3",
    "mediaKey": "fbee33a9-401c-411b-a867-61f0854aab19"
  }
]]]></Value>
    </icono4>
    <iconop>
      <Value><![CDATA[[
  {
    "key": "945616c7-a5df-4038-9bf5-af2858e48a48",
    "mediaKey": "8fb79aa2-58a6-4e4f-9fda-d10eb6b5ae3e"
  }
]]]></Value>
    </iconop>
    <iconop2>
      <Value><![CDATA[[
  {
    "key": "e327c427-0626-4c7a-b9f7-cfb8e9ab169e",
    "mediaKey": "0a1e1f46-45be-4bf5-b161-52d3fa73f33d"
  }
]]]></Value>
    </iconop2>
    <iconop3>
      <Value><![CDATA[[
  {
    "key": "445b5722-6df0-49fe-a221-f63087373032",
    "mediaKey": "105e3ed1-cf93-4c1e-aac3-2afd37ba335f"
  }
]]]></Value>
    </iconop3>
    <iconop4>
      <Value><![CDATA[[
  {
    "key": "01188978-7e11-4b41-9443-6e0d58eca6a0",
    "mediaKey": "45e86106-f69c-4318-b547-edd78bf48ad7"
  }
]]]></Value>
    </iconop4>
    <imagen>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "75233147-35f3-497e-a0bc-e1cf163d968f",
    "mediaKey": "ffa417b7-f048-47d6-a3fb-b8fbad8f1953"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "78945a94-0041-4598-9d97-20b0808b446b",
    "mediaKey": "8a560e4e-7f62-40cf-bdec-71fdb5c8db02"
  }
]]]></Value>
    </imagen>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "919d2661-3404-4430-b16e-4300703df1ba",
    "mediaKey": "64b0afa2-3081-436b-9c66-eaa176c1715e"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "f815afec-4587-4808-bf33-c65f7e639460",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <massectores>
      <Value Culture="en-us"><![CDATA[Explore other sectors]]></Value>
      <Value Culture="es-ni"><![CDATA[Explora otros sectores]]></Value>
    </massectores>
    <subsector>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Subsectores]]></Value>
    </subsector>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Potencial para el desarrollo de una cadena forestal sostenible]]></Value>
    </subtitulo>
    <subtitulop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulop>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <texto1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto1>
    <texto2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto2>
    <texto3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto3>
    <texto4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto4>
    <textop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Fibras Textiles]]></Value>
    </textop>
    <textop2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Industria Forestal]]></Value>
    </textop2>
    <textop3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Reforestación Con Fines De Conservación]]></Value>
    </textop3>
    <textop4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Resina De Pino]]></Value>
    </textop4>
    <titulo>
      <Value Culture="en-us"><![CDATA[Forest]]></Value>
      <Value Culture="es-ni"><![CDATA[Forestal]]></Value>
    </titulo>
    <titulo1>
      <Value Culture="en-us"><![CDATA[annual production forest plants]]></Value>
      <Value Culture="es-ni"><![CDATA[plantas forestales de producción anual]]></Value>
    </titulo1>
    <titulo2>
      <Value Culture="en-us"><![CDATA[metric tons of wood]]></Value>
      <Value Culture="es-ni"><![CDATA[toneladas métricas de madera]]></Value>
    </titulo2>
    <titulo3>
      <Value Culture="en-us"><![CDATA[million kilograms pine resin]]></Value>
      <Value Culture="es-ni"><![CDATA[millones de kilogramos de resina de pino]]></Value>
    </titulo3>
    <tituloasesor>
      <Value Culture="en-us"><![CDATA[See more]]></Value>
      <Value Culture="es-ni"><![CDATA[Ver mas]]></Value>
    </tituloasesor>
    <titulodescarga>
      <Value Culture="en-us"><![CDATA[Download]]></Value>
      <Value Culture="es-ni"><![CDATA[Descarga]]></Value>
    </titulodescarga>
    <titulomain>
      <Value Culture="en-us"><![CDATA[Industry data]]></Value>
      <Value Culture="es-ni"><![CDATA[Datos del sector]]></Value>
    </titulomain>
    <titulop>
      <Value Culture="en-us"><![CDATA[Learn more about the Forestry sector]]></Value>
      <Value Culture="es-ni"><![CDATA[Conoce más del sector Forestal]]></Value>
    </titulop>
    <tituloProductos>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Productos con potencial de desarrollo]]></Value>
    </tituloProductos>
  </Properties>
</Content>