<?xml version="1.0" encoding="utf-8"?>
<Content Key="5559cda4-7f7c-4faf-801e-f03620b42218" Alias="Inicio" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Inicio</Path>
    <Trashed>false</Trashed>
    <ContentType>inicio</ContentType>
    <CreateDate>2023-07-07T10:23:16</CreateDate>
    <NodeName Default="Inicio">
      <Name Culture="en-us">Inicio</Name>
      <Name Culture="es-ni">Inicio</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="e4a79158-34aa-4108-8e9b-5975e70e74b0">Inicio</Template>
  </Info>
  <Properties>
    <btnguia>
      <Value Culture="en-us"><![CDATA[Download]]></Value>
      <Value Culture="es-ni"><![CDATA[Descargar]]></Value>
    </btnguia>
    <btnmas>
      <Value Culture="en-us"><![CDATA[See more]]></Value>
      <Value Culture="es-ni"><![CDATA[Ver más]]></Value>
    </btnmas>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <btnnoticias>
      <Value Culture="en-us"><![CDATA[Read more]]></Value>
      <Value Culture="es-ni"><![CDATA[Leer más]]></Value>
    </btnnoticias>
    <btnnoticiastodas>
      <Value Culture="en-us"><![CDATA[See all]]></Value>
      <Value Culture="es-ni"><![CDATA[Ver todas]]></Value>
    </btnnoticiastodas>
    <descripcion1>
      <Value Culture="en-us"><![CDATA[Gross Domestic Product (GDP)]]></Value>
      <Value Culture="es-ni"><![CDATA[Producto Interno Bruto (PIB)]]></Value>
    </descripcion1>
    <descripcion2>
      <Value Culture="en-us"><![CDATA[GDP growth]]></Value>
      <Value Culture="es-ni"><![CDATA[Crecimiento PIB]]></Value>
    </descripcion2>
    <descripcion3>
      <Value Culture="en-us"><![CDATA[GDP per capita]]></Value>
      <Value Culture="es-ni"><![CDATA[PIB per cápita]]></Value>
    </descripcion3>
    <descripcion4>
      <Value Culture="en-us"><![CDATA[Exports]]></Value>
      <Value Culture="es-ni"><![CDATA[Exportaciones]]></Value>
    </descripcion4>
    <descripcion5>
      <Value Culture="en-us"><![CDATA[Gross international reserves]]></Value>
      <Value Culture="es-ni"><![CDATA[Reservas internacionales brutas]]></Value>
    </descripcion5>
    <descripcion6>
      <Value Culture="en-us"><![CDATA[Annual inflation]]></Value>
      <Value Culture="es-ni"><![CDATA[para año 2024]]></Value>
    </descripcion6>
    <descripcion7>
      <Value Culture="en-us"><![CDATA[Fixed currency devaluation]]></Value>
      <Value Culture="es-ni"><![CDATA[Devaluación fija de la moneda]]></Value>
    </descripcion7>
    <descripcion8>
      <Value Culture="en-us"><![CDATA[Foreign Direct Investment (FDI)]]></Value>
      <Value Culture="es-ni"><![CDATA[Inversión Extranjera Directa (IED)]]></Value>
    </descripcion8>
    <documento>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "1efdf952-ed75-4f3f-879f-0e7e10dfb34a",
    "mediaKey": "f42d6f68-30d4-433c-9078-6cd3029256ae"
  }
]]]></Value>
    </documento>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "63ec9488-8078-4af5-9ed0-25936f45c866",
    "mediaKey": "a5584d43-0eda-4f18-8b41-98d89ad0fb32"
  }
]]]></Value>
    </imgbanner>
    <imgdato1>
      <Value><![CDATA[[
  {
    "key": "00e4f8a6-4197-4b6c-8f27-9c29fc4991e7",
    "mediaKey": "e07af476-82f7-430f-859c-63eb84025bca"
  }
]]]></Value>
    </imgdato1>
    <imgdato2>
      <Value><![CDATA[[
  {
    "key": "a88700a3-16d3-404b-b7bf-f5efc4a609aa",
    "mediaKey": "ae4b7162-1444-4c3f-a4eb-dc25e7c05fa9"
  }
]]]></Value>
    </imgdato2>
    <imgdato3>
      <Value><![CDATA[[
  {
    "key": "71d31ce2-b644-46b1-8cc8-dca0fff2f225",
    "mediaKey": "2e48295e-3911-4ce8-b719-a6e9c7659168"
  }
]]]></Value>
    </imgdato3>
    <imgdato4>
      <Value><![CDATA[[
  {
    "key": "14ab37e9-3727-484f-bb01-f30c87c5a81f",
    "mediaKey": "dd02fca3-377d-4ced-88ba-37c9df2cb024"
  }
]]]></Value>
    </imgdato4>
    <imgdato5>
      <Value><![CDATA[[
  {
    "key": "9a947e74-1f67-478f-8557-bea34e4bc6e7",
    "mediaKey": "a6a10670-dd63-424b-9194-29e2d9b4bad8"
  }
]]]></Value>
    </imgdato5>
    <imgdato6>
      <Value><![CDATA[[
  {
    "key": "ae9637c4-c3c8-4bba-8206-feafafd65624",
    "mediaKey": "dd5e6f32-22e5-4777-9666-9dce937618b8"
  }
]]]></Value>
    </imgdato6>
    <imgdato7>
      <Value><![CDATA[[
  {
    "key": "3f757c6a-8435-4861-8812-70c6cb238c72",
    "mediaKey": "7aec5718-1244-499f-8a6c-03e713ec2d4e"
  }
]]]></Value>
    </imgdato7>
    <imgdato8>
      <Value><![CDATA[[
  {
    "key": "875e08e0-130a-4616-8b8d-bb709dcb970f",
    "mediaKey": "fc584832-d5c6-4aac-977e-9482c64015ba"
  }
]]]></Value>
    </imgdato8>
    <imgexterno1>
      <Value><![CDATA[[
  {
    "key": "521f6f36-c6b4-4884-bfcc-1290a0a000fc",
    "mediaKey": "1a8cb3dd-f3b4-4395-9022-94ff84d6710c"
  }
]]]></Value>
    </imgexterno1>
    <imgexterno10>
      <Value><![CDATA[[
  {
    "key": "bb505975-28d4-4035-b09b-1083d90112ff",
    "mediaKey": "d43ff5d7-a211-4d9b-8a97-e1c0fe791037"
  }
]]]></Value>
    </imgexterno10>
    <imgexterno11>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "c1dea70d-dfb8-4be2-9793-64499a012512",
    "mediaKey": "97050370-706b-4406-b698-1217545f8bc5"
  }
]]]></Value>
    </imgexterno11>
    <imgexterno2>
      <Value><![CDATA[[
  {
    "key": "a02db4fd-e2bf-45c8-8a8d-c770c08db761",
    "mediaKey": "4034b456-7444-4be9-bb02-e6aaec9f7498"
  }
]]]></Value>
    </imgexterno2>
    <imgexterno3>
      <Value><![CDATA[[
  {
    "key": "3a2be39d-6fee-4c9c-a100-6b307b50a5b8",
    "mediaKey": "febef51c-57df-4a45-9d70-8b23486522ea"
  }
]]]></Value>
    </imgexterno3>
    <imgexterno4>
      <Value><![CDATA[[
  {
    "key": "cf2e8d38-2c1c-42ad-ac33-f659fd73b80e",
    "mediaKey": "c0d66147-2e8f-4c71-9bd7-b6d17151ace9"
  }
]]]></Value>
    </imgexterno4>
    <imgexterno5>
      <Value><![CDATA[[
  {
    "key": "21aab820-8821-4881-8d63-9b2b93f0a32c",
    "mediaKey": "5f865a41-e364-4b34-a4fd-cf99dbfcee1e"
  }
]]]></Value>
    </imgexterno5>
    <imgexterno6>
      <Value><![CDATA[[
  {
    "key": "9a66ba30-1774-4ad7-b94c-da8c39be290f",
    "mediaKey": "b66ecfdb-0822-4ffd-9073-1b922ca4855d"
  }
]]]></Value>
    </imgexterno6>
    <imgexterno7>
      <Value><![CDATA[[
  {
    "key": "0b3a5a08-6ede-4ce9-adff-687ffa4a8e88",
    "mediaKey": "786a313c-87d7-480a-8ed8-04ea270ed75f"
  }
]]]></Value>
    </imgexterno7>
    <imgexterno8>
      <Value><![CDATA[[
  {
    "key": "1938e397-e9de-48f4-9897-ce312cd35a62",
    "mediaKey": "b64fd252-e3bb-404c-a298-5d6f038abb8d"
  }
]]]></Value>
    </imgexterno8>
    <imgexterno9>
      <Value><![CDATA[[
  {
    "key": "88336c71-391a-4007-98ff-60ba34f4ca7c",
    "mediaKey": "2e2e4638-be3b-4ef7-b84f-4b7fd5e1e927"
  }
]]]></Value>
    </imgexterno9>
    <imgguia>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "c2496394-b635-455e-ac02-cbe0af145f19",
    "mediaKey": "48aa9264-902a-486a-83a1-7f973d6d4bef"
  }
]]]></Value>
    </imgguia>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "23bf3f07-3936-4acd-903f-2f74fafb78cb",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[Learn more about our potential sectors]]></Value>
      <Value Culture="es-ni"><![CDATA[Conoce más de nuestros sectores potenciales]]></Value>
    </subtitulo>
    <subtitulo1>
      <Value Culture="en-us"><![CDATA[Strategic tool that provides detailed information on investment opportunities in the different key sectors.]]></Value>
      <Value Culture="es-ni"><![CDATA[Herramienta estratégica que permite conocer información detallada sobre oportunidades de inversión en los diferentes sectores claves.]]></Value>
    </subtitulo1>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[Nicaragua, Land of Opportunities]]></Value>
      <Value Culture="es-ni"><![CDATA[Nicaragua, Tierra de Oportunidades]]></Value>
    </titulo>
    <titulo2>
      <Value Culture="en-us"><![CDATA[Macroeconomic Data]]></Value>
      <Value Culture="es-ni"><![CDATA[Datos Macroeconómicos]]></Value>
    </titulo2>
    <titulo3>
      <Value Culture="en-us"><![CDATA[Investor Guide]]></Value>
      <Value Culture="es-ni"><![CDATA[Guía del Inversionista]]></Value>
    </titulo3>
    <tituloanual>
      <Value><![CDATA[(2022)]]></Value>
    </tituloanual>
    <titulodato1>
      <Value Culture="en-us"><![CDATA[US$15,671.6 million]]></Value>
      <Value Culture="es-ni"><![CDATA[US$15,671.6 millones]]></Value>
    </titulodato1>
    <titulodato2>
      <Value Culture="en-us"><![CDATA[3.8%]]></Value>
      <Value Culture="es-ni"><![CDATA[3.8%]]></Value>
    </titulodato2>
    <titulodato3>
      <Value Culture="en-us"><![CDATA[US$2,327.3]]></Value>
      <Value Culture="es-ni"><![CDATA[US$2,327.3]]></Value>
    </titulodato3>
    <titulodato4>
      <Value Culture="en-us"><![CDATA[US$7,730.8 million]]></Value>
      <Value Culture="es-ni"><![CDATA[US$7,730.8 millones]]></Value>
    </titulodato4>
    <titulodato5>
      <Value Culture="en-us"><![CDATA[US$4,404.4 million]]></Value>
      <Value Culture="es-ni"><![CDATA[US$4,404.4 millones]]></Value>
    </titulodato5>
    <titulodato6>
      <Value Culture="en-us"><![CDATA[11.6%]]></Value>
      <Value Culture="es-ni"><![CDATA[Devaluación fija respecto al dólar]]></Value>
    </titulodato6>
    <titulodato7>
      <Value Culture="en-us"><![CDATA[1% pa vs US dollar]]></Value>
      <Value Culture="es-ni"><![CDATA[1% anual vs dólar de Estados Unidos]]></Value>
    </titulodato7>
    <titulodato8>
      <Value Culture="en-us"><![CDATA[1,843.3 million USD]]></Value>
      <Value Culture="es-ni"><![CDATA[1,843.3 millones USD]]></Value>
    </titulodato8>
    <tituloenlace>
      <Value Culture="en-us"><![CDATA[Links of interest]]></Value>
      <Value Culture="es-ni"><![CDATA[Enlaces de Interés]]></Value>
    </tituloenlace>
    <titulonews>
      <Value Culture="en-us"><![CDATA[News]]></Value>
      <Value Culture="es-ni"><![CDATA[Noticias]]></Value>
    </titulonews>
    <titulosectores>
      <Value Culture="en-us"><![CDATA[Sectors]]></Value>
      <Value Culture="es-ni"><![CDATA[Sectores]]></Value>
    </titulosectores>
    <urlenlace1>
      <Value><![CDATA[https://www.dga.gob.ni/]]></Value>
    </urlenlace1>
    <urlenlace10>
      <Value><![CDATA[https://telcor.gob.ni/]]></Value>
    </urlenlace10>
    <urlenlace11>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[https://www.intur.gob.ni/]]></Value>
    </urlenlace11>
    <urlenlace2>
      <Value><![CDATA[https://www.mem.gob.ni/]]></Value>
    </urlenlace2>
    <urlenlace3>
      <Value><![CDATA[https://www.dgi.gob.ni/]]></Value>
    </urlenlace3>
    <urlenlace4>
      <Value><![CDATA[http://www.ana.gob.ni/]]></Value>
    </urlenlace4>
    <urlenlace5>
      <Value><![CDATA[https://cnzf.gob.ni/es]]></Value>
    </urlenlace5>
    <urlenlace6>
      <Value><![CDATA[https://www.bcn.gob.ni/]]></Value>
    </urlenlace6>
    <urlenlace7>
      <Value><![CDATA[https://www.ipsa.gob.ni/]]></Value>
    </urlenlace7>
    <urlenlace8>
      <Value><![CDATA[https://www.marena.gob.ni/]]></Value>
    </urlenlace8>
    <urlenlace9>
      <Value><![CDATA[https://www.mific.gob.ni/]]></Value>
    </urlenlace9>
  </Properties>
</Content>