<?xml version="1.0" encoding="utf-8"?>
<Content Key="f44e79c1-377c-49db-90d7-f82d96133254" Alias="johan.perez@intelector.net (1)" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/johanperezIntelectornet1</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-07-21T00:06:12</CreateDate>
    <NodeName Default="johan.perez@intelector.net (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[Perez]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[johan.perez@intelector.net]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[Prueba]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[Johan]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[33327319]]></Value>
    </telefono>
  </Properties>
</Content>