<?xml version="1.0" encoding="utf-8"?>
<Content Key="aa6393d9-8400-4b3e-b8f8-037f5bea5661" Alias="johan.perez@intelector.net (8)" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/johanperezIntelectornet8</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-08-14T17:20:46</CreateDate>
    <NodeName Default="johan.perez@intelector.net (8)" />
    <SortOrder>17</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[Perez]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[johan.perez@intelector.net]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[Prueba ignorar]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[Johan]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[33327319]]></Value>
    </telefono>
  </Properties>
</Content>