<?xml version="1.0" encoding="utf-8"?>
<Content Key="66822e8c-767f-4f08-9203-3bb279f2a16a" Alias="jose.guadron@intelector.com" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/joseguadronIntelectorcom</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-08-09T15:19:07</CreateDate>
    <NodeName Default="jose.guadron@intelector.com" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[Guadron]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[jose.guadron@intelector.com]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[Mensaje de prueba]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[Jose]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[2223334455]]></Value>
    </telefono>
  </Properties>
</Content>