<?xml version="1.0" encoding="utf-8"?>
<Content Key="50db8a51-9188-40be-ba28-2960fbd26c8d" Alias="Manufactura Ligera" Level="2">
  <Info>
    <Parent Key="78ac5dec-4966-4095-8ae4-48c6ddf91ed0">Sectores</Parent>
    <Path>/Sectores/ManufacturaLigera</Path>
    <Trashed>false</Trashed>
    <ContentType>sectores</ContentType>
    <CreateDate>2023-07-10T10:59:10</CreateDate>
    <NodeName Default="Manufactura Ligera">
      <Name Culture="en-us">Manufactura Ligera</Name>
      <Name Culture="es-ni">Manufactura Ligera</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="4eea100c-d954-4ee2-a712-584fdb1d27b7">Sector</Template>
  </Info>
  <Properties>
    <btndescarga>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "0ddcd0bb-a1ff-46a8-9737-693c62070767",
    "mediaKey": "312c535e-b4ca-4040-954f-c054f4ab35ad"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "a66ceabf-9eb3-4d8c-9ab8-680727aa91ae",
    "mediaKey": "55e86f43-9963-4ae1-9358-edf8f4aa6c8d"
  }
]]]></Value>
    </btndescarga>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <contacto>
      <Value Culture="en-us"><![CDATA[#]]></Value>
      <Value Culture="es-ni"><![CDATA[#]]></Value>
    </contacto>
    <dato>
      <Value Culture="en-us"><![CDATA[35.5%]]></Value>
      <Value Culture="es-ni"><![CDATA[35.5]]></Value>
    </dato>
    <dato2>
      <Value Culture="en-us"><![CDATA[91,960]]></Value>
      <Value Culture="es-ni"><![CDATA[91960]]></Value>
    </dato2>
    <dato3>
      <Value Culture="en-us"><![CDATA[80]]></Value>
      <Value Culture="es-ni"><![CDATA[80]]></Value>
    </dato3>
    <descripcion>
      <Value Culture="en-us"><![CDATA[With a rapidly developing infrastructure, a young and talented workforce and a strategy growth-oriented nation, Nicaragua has become in an ideal investment destination for all.]]></Value>
      <Value Culture="es-ni"><![CDATA[Con una infraestructura de rápido desarrollo, una fuerza laboral joven y talentosa y una estrategia nacional orientada al crecimiento, Nicaragua se ha convertido en un destino de inversiones ideal para todos.]]></Value>
    </descripcion>
    <detalle1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Téxtil]]></Value>
    </detalle1>
    <detalle2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Arneses automotrices]]></Value>
    </detalle2>
    <detalle3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Dispositivos médicos]]></Value>
    </detalle3>
    <detalle4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Calzado]]></Value>
    </detalle4>
    <detalleimg1>
      <Value><![CDATA[[
  {
    "key": "74567d9d-1e71-41ab-8e60-32915eb340df",
    "mediaKey": "fbee33a9-401c-411b-a867-61f0854aab19"
  }
]]]></Value>
    </detalleimg1>
    <detalleimg2>
      <Value><![CDATA[[
  {
    "key": "c5581558-c320-4745-a107-843d864c183e",
    "mediaKey": "709bde4b-e5fd-4797-ad20-010c1e176cae"
  }
]]]></Value>
    </detalleimg2>
    <detalleimg3>
      <Value><![CDATA[[
  {
    "key": "0474830f-1829-4c29-ace2-5f86a1a1a76c",
    "mediaKey": "fae39435-a16a-43e1-aaa1-d3d8d9b88feb"
  }
]]]></Value>
    </detalleimg3>
    <detalleimg4>
      <Value><![CDATA[[
  {
    "key": "dcf6b371-08fd-49a8-8dce-5408350c2c15",
    "mediaKey": "81800b32-46fe-4304-a0c4-c22daaf5ace6"
  }
]]]></Value>
    </detalleimg4>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <icono>
      <Value><![CDATA[[
  {
    "key": "3620de96-9b5e-4db2-b31d-c255e9b9a9fe",
    "mediaKey": "81800b32-46fe-4304-a0c4-c22daaf5ace6"
  }
]]]></Value>
    </icono>
    <icono2>
      <Value><![CDATA[[
  {
    "key": "14c0fb9b-a307-44f2-b739-4594bae214b5",
    "mediaKey": "4e4e4ec5-f460-4af0-8b86-274af9214c2d"
  }
]]]></Value>
    </icono2>
    <icono3>
      <Value><![CDATA[[
  {
    "key": "a6dddd59-ed75-4dcd-8e07-6ce8e839ac23",
    "mediaKey": "3fa300e2-0e26-4175-a65e-01883d8122a1"
  }
]]]></Value>
    </icono3>
    <icono4>
      <Value><![CDATA[[
  {
    "key": "52d3321b-d463-4552-a7ba-e31a0e21dc05",
    "mediaKey": "203cc752-8e99-4acd-8070-1ea8fe88c5c3"
  }
]]]></Value>
    </icono4>
    <iconop>
      <Value><![CDATA[[]]]></Value>
    </iconop>
    <iconop2>
      <Value><![CDATA[[]]]></Value>
    </iconop2>
    <iconop3>
      <Value><![CDATA[[]]]></Value>
    </iconop3>
    <iconop4>
      <Value><![CDATA[[]]]></Value>
    </iconop4>
    <imagen>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6862b338-97ea-4796-8f3d-bd1c4642ff33",
    "mediaKey": "d9267b31-d57f-4a6f-83d3-788a96259765"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "3e2bfd18-c936-4e26-bbac-6d7e93cc4636",
    "mediaKey": "f552e5f6-09c9-4f7f-ab49-498481739b0b"
  }
]]]></Value>
    </imagen>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "8daec194-31f8-418c-bf3a-46315c65ff3f",
    "mediaKey": "cddbaa40-a9d2-42d8-b0ca-9022f4416529"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "4bf5db58-88d8-4da9-89ef-f4c9f2848408",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <massectores>
      <Value Culture="en-us"><![CDATA[Explore other sectors]]></Value>
      <Value Culture="es-ni"><![CDATA[Explora otros sectores]]></Value>
    </massectores>
    <subsector>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Subsectores]]></Value>
    </subsector>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Una industria sólida y confiable, fundamentada en el talento y la confianza]]></Value>
    </subtitulo>
    <subtitulop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulop>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <texto1>
      <Value Culture="en-us"><![CDATA[Approximately 1,000,000 m2 of industrial space is used by companies in the sector under the Free Zone Regime]]></Value>
      <Value Culture="es-ni"><![CDATA[Aproximadamente 1,000,000 m2 de espacio industrial es utilizado por empresas del sector bajo el Régimen de Zona Franca]]></Value>
    </texto1>
    <texto2>
      <Value Culture="en-us"><![CDATA[#10 supplier of apparel to the United States in the world (by value)]]></Value>
      <Value Culture="es-ni"><![CDATA[Suplidor #10 de prendas de vestir a Estados Unidos en el mundo (en valor)]]></Value>
    </texto2>
    <texto3>
      <Value Culture="en-us"><![CDATA[Nicaragua is the second largest exporter of automotive harnesses in Central America]]></Value>
      <Value Culture="es-ni"><![CDATA[Nicaragua es el segundo mayor exportador de arneses automotrices en Centroamérica]]></Value>
    </texto3>
    <texto4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Nicaragua es el segundo mayor exportador de arneses automotrices en Centroamérica]]></Value>
    </texto4>
    <textop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop>
    <textop2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop2>
    <textop3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop3>
    <textop4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop4>
    <titulo>
      <Value Culture="en-us"><![CDATA[Light Manufacturing]]></Value>
      <Value Culture="es-ni"><![CDATA[Manufactura Ligera]]></Value>
    </titulo>
    <titulo1>
      <Value Culture="en-us"><![CDATA[of total exports]]></Value>
      <Value Culture="es-ni"><![CDATA[de las exportaciones totales]]></Value>
    </titulo1>
    <titulo2>
      <Value Culture="en-us"><![CDATA[jobs under the Regime of Free Zones]]></Value>
      <Value Culture="es-ni"><![CDATA[empleos bajo el Régimen de Zonas Francas]]></Value>
    </titulo2>
    <titulo3>
      <Value Culture="en-us"><![CDATA[companies operating under the Free Zone Regime]]></Value>
      <Value Culture="es-ni"><![CDATA[empresas operando bajo el Régimen de Zonas Francas]]></Value>
    </titulo3>
    <tituloasesor>
      <Value Culture="en-us"><![CDATA[See more]]></Value>
      <Value Culture="es-ni"><![CDATA[Ver mas]]></Value>
    </tituloasesor>
    <titulodescarga>
      <Value Culture="en-us"><![CDATA[Download]]></Value>
      <Value Culture="es-ni"><![CDATA[Descargar]]></Value>
    </titulodescarga>
    <titulomain>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </titulomain>
    <titulop>
      <Value Culture="en-us"><![CDATA[Learn more about Light Manufacturing]]></Value>
      <Value Culture="es-ni"><![CDATA[Conoce más de Manufactura Ligera]]></Value>
    </titulop>
    <tituloProductos>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </tituloProductos>
  </Properties>
</Content>