<?xml version="1.0" encoding="utf-8"?>
<Content Key="50db8a51-9188-40be-ba28-2960fbd26c8d" Alias="Manufactura Ligera" Level="2">
  <Info>
    <Parent Key="78ac5dec-4966-4095-8ae4-48c6ddf91ed0">Sectores</Parent>
    <Path>/Sectores/ManufacturaLigera</Path>
    <Trashed>false</Trashed>
    <ContentType>sectores</ContentType>
    <CreateDate>2023-07-10T10:59:10</CreateDate>
    <NodeName Default="Manufactura Ligera">
      <Name Culture="en-us">Manufactura Ligera</Name>
      <Name Culture="es-ni">Manufactura Ligera</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="4eea100c-d954-4ee2-a712-584fdb1d27b7">Sector</Template>
  </Info>
  <Properties>
    <btndescarga>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "0ddcd0bb-a1ff-46a8-9737-693c62070767",
    "mediaKey": "312c535e-b4ca-4040-954f-c054f4ab35ad"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "38bff478-d782-4007-81aa-2c83e613b894",
    "mediaKey": "b85f91d2-509b-48e9-b593-a7e8873b53d3"
  }
]]]></Value>
    </btndescarga>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <contacto>
      <Value Culture="en-us"><![CDATA[#]]></Value>
      <Value Culture="es-ni"><![CDATA[#]]></Value>
    </contacto>
    <dato>
      <Value Culture="en-us"><![CDATA[35.5%]]></Value>
      <Value Culture="es-ni"><![CDATA[36]]></Value>
    </dato>
    <dato2>
      <Value Culture="en-us"><![CDATA[91,960]]></Value>
      <Value Culture="es-ni"><![CDATA[91960]]></Value>
    </dato2>
    <dato3>
      <Value Culture="en-us"><![CDATA[80]]></Value>
      <Value Culture="es-ni"><![CDATA[80]]></Value>
    </dato3>
    <descripcion>
      <Value Culture="en-us"><![CDATA[With a rapidly developing infrastructure, a young and talented workforce and a strategy growth-oriented nation, Nicaragua has become in an ideal investment destination for all.]]></Value>
      <Value Culture="es-ni"><![CDATA[Con una infraestructura de rápido desarrollo, una fuerza laboral joven y talentosa y una estrategia nacional orientada al crecimiento, Nicaragua se ha convertido en un destino de inversiones ideal para todos]]></Value>
    </descripcion>
    <detalle1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Téxtil]]></Value>
    </detalle1>
    <detalle2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Arneses automotrices]]></Value>
    </detalle2>
    <detalle3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Dispositivos médicos]]></Value>
    </detalle3>
    <detalle4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ Calzado]]></Value>
    </detalle4>
    <detalleimg1>
      <Value><![CDATA[[
  {
    "key": "7990ed20-d788-4dcb-bc2b-a8c0a3e38767",
    "mediaKey": "a8bf7966-f45e-4daf-bebd-f1d0a85f21c1"
  }
]]]></Value>
    </detalleimg1>
    <detalleimg2>
      <Value><![CDATA[[
  {
    "key": "568b0079-a5d2-42dc-a6c8-7bfb8a55550b",
    "mediaKey": "9c6a0209-9e23-459c-8e20-a896e42ed15e"
  }
]]]></Value>
    </detalleimg2>
    <detalleimg3>
      <Value><![CDATA[[
  {
    "key": "a00e917f-a834-44c9-8678-6a2784542ac8",
    "mediaKey": "39e92a2c-0a3f-4648-a79e-9e80dab2b3a6"
  }
]]]></Value>
    </detalleimg3>
    <detalleimg4>
      <Value><![CDATA[[
  {
    "key": "46887678-a360-4618-b364-d3bb86bdff7a",
    "mediaKey": "d86df705-1a3d-4b62-95c0-8ff6b2cc6406"
  }
]]]></Value>
    </detalleimg4>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <icono>
      <Value><![CDATA[[
  {
    "key": "c9abe55f-d639-4adf-965f-ceeee7778a0f",
    "mediaKey": "ac4f10ab-a247-4c51-9cce-1a2ac4b4750a"
  }
]]]></Value>
    </icono>
    <icono2>
      <Value><![CDATA[[
  {
    "key": "84bf4559-d02a-41cc-9fc8-af436936a88e",
    "mediaKey": "ac4f10ab-a247-4c51-9cce-1a2ac4b4750a"
  }
]]]></Value>
    </icono2>
    <icono3>
      <Value><![CDATA[[
  {
    "key": "a6dddd59-ed75-4dcd-8e07-6ce8e839ac23",
    "mediaKey": "3fa300e2-0e26-4175-a65e-01883d8122a1"
  }
]]]></Value>
    </icono3>
    <icono4>
      <Value><![CDATA[[
  {
    "key": "52d3321b-d463-4552-a7ba-e31a0e21dc05",
    "mediaKey": "203cc752-8e99-4acd-8070-1ea8fe88c5c3"
  }
]]]></Value>
    </icono4>
    <iconop>
      <Value><![CDATA[[
  {
    "key": "0d25cfaa-9a06-4c18-b1f2-ca64934b4f0c",
    "mediaKey": "f0b5c7e7-933e-4e84-b220-bc7df381275d"
  }
]]]></Value>
    </iconop>
    <iconop2>
      <Value><![CDATA[[
  {
    "key": "fd8e9e1a-d740-4d96-908c-f04f8ee9d3e0",
    "mediaKey": "edd3733c-c0b5-4b03-ae81-e43881bb802f"
  }
]]]></Value>
    </iconop2>
    <iconop3>
      <Value><![CDATA[[
  {
    "key": "5fa5f283-037c-4f29-89d7-1ee2a09c76a8",
    "mediaKey": "e2e2a849-7192-43a5-9249-5f65f524f250"
  }
]]]></Value>
    </iconop3>
    <iconop4>
      <Value><![CDATA[[
  {
    "key": "f5d5ef94-552d-4a40-9f09-17470f452084",
    "mediaKey": "66faab14-050f-4def-be4b-e62c2d6d061c"
  }
]]]></Value>
    </iconop4>
    <imagen>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6862b338-97ea-4796-8f3d-bd1c4642ff33",
    "mediaKey": "d9267b31-d57f-4a6f-83d3-788a96259765"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "86c3f77a-b500-42f2-b5e5-a4b75313a34c",
    "mediaKey": "c3030b02-1caf-4282-9381-09709703c93f"
  }
]]]></Value>
    </imagen>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "688b5cca-83cb-4cf0-9627-b96cdfbafdb7",
    "mediaKey": "3c69668b-16fe-402d-9925-d46a8a79d24c"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "4bf5db58-88d8-4da9-89ef-f4c9f2848408",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <massectores>
      <Value Culture="en-us"><![CDATA[Explore other sectors]]></Value>
      <Value Culture="es-ni"><![CDATA[Explora otros sectores]]></Value>
    </massectores>
    <subsector>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Subsectores]]></Value>
    </subsector>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Una industria sólida y confiable, fundamentada en el talento y la confianza]]></Value>
    </subtitulo>
    <subtitulop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulop>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <texto1>
      <Value Culture="en-us"><![CDATA[Approximately 1,000,000 m2 of industrial space is used by companies in the sector under the Free Zone Regime]]></Value>
      <Value Culture="es-ni"><![CDATA[Más de 970,000 m2 de espacio industrial ocupado por empresas de Zonas Francas.]]></Value>
    </texto1>
    <texto2>
      <Value Culture="en-us"><![CDATA[#10 supplier of apparel to the United States in the world (by value)]]></Value>
      <Value Culture="es-ni"><![CDATA[Suplidor #10 de prendas de vestir a Estados Unidos en el mundo (en valor)]]></Value>
    </texto2>
    <texto3>
      <Value Culture="en-us"><![CDATA[Nicaragua is the second largest exporter of automotive harnesses in Central America]]></Value>
      <Value Culture="es-ni"><![CDATA[Nicaragua es el segundo mayor exportador de arneses automotrices en Centroamérica]]></Value>
    </texto3>
    <texto4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Nicaragua es el segundo mayor exportador de arneses automotrices en Centroamérica]]></Value>
    </texto4>
    <textop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Arneses Automotrices]]></Value>
    </textop>
    <textop2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Calzado ]]></Value>
    </textop2>
    <textop3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Dispositivos Médicos]]></Value>
    </textop3>
    <textop4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Textil ]]></Value>
    </textop4>
    <titulo>
      <Value Culture="en-us"><![CDATA[Light Manufacturing]]></Value>
      <Value Culture="es-ni"><![CDATA[Manufactura Ligera]]></Value>
    </titulo>
    <titulo1>
      <Value Culture="en-us"><![CDATA[of total exports]]></Value>
      <Value Culture="es-ni"><![CDATA[por ciento de las exportaciones ]]></Value>
    </titulo1>
    <titulo2>
      <Value Culture="en-us"><![CDATA[jobs under the Regime of Free Zones]]></Value>
      <Value Culture="es-ni"><![CDATA[empleos bajo el Régimen de Zonas Francas]]></Value>
    </titulo2>
    <titulo3>
      <Value Culture="en-us"><![CDATA[companies operating under the Free Zone Regime]]></Value>
      <Value Culture="es-ni"><![CDATA[empresas operando bajo el Régimen de Zonas Francas]]></Value>
    </titulo3>
    <tituloasesor>
      <Value Culture="en-us"><![CDATA[See more]]></Value>
      <Value Culture="es-ni"><![CDATA[Ver mas]]></Value>
    </tituloasesor>
    <titulodescarga>
      <Value Culture="en-us"><![CDATA[Download]]></Value>
      <Value Culture="es-ni"><![CDATA[Descargar]]></Value>
    </titulodescarga>
    <titulomain>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Datos del sector]]></Value>
    </titulomain>
    <titulop>
      <Value Culture="en-us"><![CDATA[Learn more about Light Manufacturing]]></Value>
      <Value Culture="es-ni"><![CDATA[Conoce más de Manufactura Ligera]]></Value>
    </titulop>
    <tituloProductos>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Productos con potencial de desarrollo]]></Value>
    </tituloProductos>
  </Properties>
</Content>