<?xml version="1.0" encoding="utf-8"?>
<Content Key="de3670bd-2af5-46cd-b833-7af2e8cb8784" Alias="Nicaragua: Sector pesquero con aumentos en volumen y valor" Level="2">
  <Info>
    <Parent Key="d38c280c-5d26-4154-949f-e5314a9a64dc">Noticias</Parent>
    <Path>/Noticias/NicaraguaSectorPesqueroConAumentosEnVolumenYValor</Path>
    <Trashed>false</Trashed>
    <ContentType>noticia</ContentType>
    <CreateDate>2023-07-10T16:13:08</CreateDate>
    <NodeName Default="Nicaragua: Sector pesquero con aumentos en volumen y valor">
      <Name Culture="en-us">Nicaragua: Sector pesquero con aumentos en volumen y valor</Name>
      <Name Culture="es-ni">Nicaragua: Sector pesquero con aumentos en volumen y valor</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="2957f989-7d38-4973-96f6-0343dee18f13">Noticia</Template>
  </Info>
  <Properties>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </btnmodal>
    <contenido>
      <Value Culture="en-us"><![CDATA[<p>The fishing sector in Nicaragua has shown positive numbers, which denotes the recovery of this sector in the country. According to the report presented this Friday, July 21, by the Minister of Finance and Public Credit, Iván Acosta, the production volume reached for the month of June was 86 million pounds, which represents an increase of 15% compared to the goal established at the beginning of the year, which was 74.9 million pounds.</p>
<p>He highlighted that the volume of catch destined for export showed an increase of 9%, reaching 55.4%, compared to the 50.8% that was the goal to date.</p>
<p>Acosta explained that in terms of value, exports from the fishing sector amounted to 135.2 million dollars, approaching 99% of the annual goal established at 136.3 million dollars.</p>
<p>"Therefore, the result of the fishing sector, January-June 2023 gives us positive numbers, results that show the recovery of sectors, in production volumes of this important sector, mainly for exports and that has an impact on the economy in general" , said.</p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/21Jul/NOTAS/hacienda.jpg" alt="pesca"></p>
<p> </p>
<p>Among the most outstanding fish products, it was observed that box fish contributed 18.1 million pounds, an increase of 28% compared to the goal, while conch and sea cucumber also showed a positive performance.</p>
<p>The Minister pointed out the relevance of the lobster product, projecting a good year for the fishing sector.</p>
<p>"We are going to work in coordination with the productive sector to improve the evolution of these sectors, mainly the lobster that begins its most important cycle, which is from July to November," he mentioned.</p>
<p>The report also highlighted other productive sectors, such as the meat industry, the livestock sector, and the agricultural sector, which have contributed significantly to the growth of the Nicaraguan economy.</p>
<p>He explained in this regard that an advance of 40.2% of the achievement of the goal of the meat industry, 38.8% of the livestock sector and 35.6% in the fishing sector stands out.</p>
<p>"Of the annual goal of 2 thousand 965 million dollars, 1 thousand 666.9 million has been reached. Agricultural products that contribute 61%, have reached 885 million dollars in exports between January and June," he highlighted.</p>
<p>Acosta added that compared to June of last year, it is growing 3.1% in terms of volume, while 3.2% in value. The products that have the greatest impact on the export basket are coffee, tobacco, beans and plantains.</p>
<p>Regarding the financial support given to Nicaraguan families within the framework of the Adelante program, he mentioned that, until the end of this week, a total of 6,152 protagonists have been attended, with an amount of 410.9 million dollars.</p>
<p> </p>
<p>Source: Digital 19</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p>El sector pesquero en <strong>Nicaragua</strong> ha demostrado números positivos, lo que denota la recuperación de este sector en el país. De acuerdo al informe presentado este viernes 21 de julio por el <strong>Ministro de Hacienda y Crédito Público, Iván Acosta,</strong> el volumen de producción alcanzado para el mes de junio fue de 86 millones de libras, lo que representa un aumento del 15% en comparación con la meta establecida al inicio del año, que era de 74.9 millones de libras.</p>
<p>Resaltó que el volumen de captura destinado a la <strong>exportación mostró un incremento del 9%, alcanzando un 55.4%, frente al 50.8% que era la meta a esta fecha.</strong></p>
<p>Acosta detalló que en términos de valor, las exportaciones del <strong>sector pesquero ascendieron a 135.2 millones de dólares,</strong> aproximándose al 99% de la meta anual establecida en 136.3 millones de dólares.</p>
<p><em>"Por tanto, el resultado del sector pesquero, <strong>enero-junio 2023 nos da unos números positivos,</strong> resultados que muestran la recuperación de sectores, en volúmenes de producción de este sector importante para fundamentalmente la exportación y que tiene impacto en la economía en general",</em> dijo.</p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/21Jul/NOTAS/hacienda.jpg" alt="pesca"></p>
<p> </p>
<p>Dentro de los productos pesqueros más destacados, se observó que el pescado caja contribuyó con 18.1 millones de libras, un incremento del 28% respecto a la meta, mientras que el caracol y el pepino de mar también mostraron un desempeño positivo.</p>
<p>El Ministro señaló <strong>la relevancia del producto langosta,</strong> proyectando un buen año para el sector pesquero.</p>
<p><em>"Vamos a trabajar coordinadamente sector productivo para ir mejorando la evolución de estos sectores, fundamentalmente la langosta que inicia su ciclo más importante, que <strong>es de julio a noviembre</strong>",</em> mencionó.</p>
<p>El informe también resaltó otros <strong>sectores productivos,</strong> como la industria cárnica, el sector pecuario y el sector agrícola, que han contribuido significativamente al crecimiento de la economía nicaragüense.</p>
<p>Detalló al respecto que se destaca un avance del 40.2% del cumplimiento de la meta de la industria cárnica, 38.8% del sector pecuario y 35.6% en el sector pesca.</p>
<p><em>"De la meta anual de 2 mil 965 millones de dólares,<strong> se ha alcanzado 1 mil 666.9 millones.</strong> Los productos agrícolas que aportan 61%, han alcanzado entre enero a junio 885 millones de dólares de exportación</em>", resaltó.</p>
<p>Acosta añadió que en comparación a junio del año pasado, se está creciendo el 3.1% en cuanto a volumen, mientras que 3.2% en valor. Los productos que tienen más impacto en la<strong> canasta exportadora son el café, tabaco, frijoles y plátano.</strong></p>
<p>En cuanto al respaldo financiero entregado a las familias nicaragüenses en el marco del programa adelante, mencionó que se han atendido, hasta el cierre de esta semana, un total 6 mil 152 protagonistas, con un monto de 410.9 millones de dólares.</p>
<p> </p>
<p>Fuente: El 19 Digital</p>]]></Value>
    </contenido>
    <descripcion>
      <Value Culture="en-us"><![CDATA[The fishing sector in Nicaragua has shown positive numbers, which denotes the recovery of this sector in the country. According to the report presented this Friday, July 21, by the Minister of Finance and Public Credit, Iván Acosta, the production volume reached for the month of June was 86 million pounds, which represents an increase of 15% compared to the goal established at the beginning of the year, which was 74.9 million pounds.]]></Value>
      <Value Culture="es-ni"><![CDATA[El sector pesquero en Nicaragua ha demostrado números positivos, lo que denota la recuperación de este sector en el país. De acuerdo al informe presentado este viernes 21 de julio por el Ministro de Hacienda y Crédito Público, Iván Acosta, el volumen de producción alcanzado para el mes de junio fue de 86 millones de libras, lo que representa un aumento del 15% en comparación con la meta establecida al inicio del año, que era de 74.9 millones de libras.]]></Value>
    </descripcion>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "97c196f6-16eb-4ef2-9c47-6f048432180b",
    "mediaKey": "c26fd022-8274-42a6-9aac-ccb38c38494b"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "de336dc0-1d16-4c6b-bcea-77b1ad3f1178",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[Nicaragua: Fishing Sector with Increases in Volume and Value]]></Value>
      <Value Culture="es-ni"><![CDATA[Nicaragua: Sector pesquero con aumentos en volumen y valor]]></Value>
    </titulo>
  </Properties>
</Content>