<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7590713-a2ec-46f3-b9e8-ecec76e348b9" Alias="Nicaragua" Level="2">
  <Info>
    <Parent Key="8c93ef89-c666-4e79-8468-c99f5576c836">Mapa</Parent>
    <Path>/Mapa/Nicaragua</Path>
    <Trashed>false</Trashed>
    <ContentType>pais</ContentType>
    <CreateDate>2023-07-26T13:54:46</CreateDate>
    <NodeName Default="Nicaragua" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <color>
      <Value><![CDATA[#06D8A5]]></Value>
    </color>
    <nombre>
      <Value><![CDATA[Nicaragua]]></Value>
    </nombre>
    <tratado>
      <Value><![CDATA[Mercado Comun Centroamericano]]></Value>
    </tratado>
  </Properties>
</Content>