<?xml version="1.0" encoding="utf-8"?>
<Content Key="d5f1a9a6-f883-442c-926e-652852895991" Alias="Nicaragua y China anuncian la conclusión sustancial de las negociaciones del TLC" Level="2">
  <Info>
    <Parent Key="d38c280c-5d26-4154-949f-e5314a9a64dc">Noticias</Parent>
    <Path>/Noticias/NicaraguaYChinaAnuncianLaConclusionSustancialDeLasNegociacionesDelTLC</Path>
    <Trashed>false</Trashed>
    <ContentType>noticia</ContentType>
    <CreateDate>2023-07-10T16:12:08</CreateDate>
    <NodeName Default="Nicaragua y China anuncian la conclusión sustancial de las negociaciones del TLC">
      <Name Culture="en-us">Nicaragua y China anuncian la conclusión sustancial de las negociaciones del TLC</Name>
      <Name Culture="es-ni">Nicaragua y China anuncian la conclusión sustancial de las negociaciones del TLC</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="2957f989-7d38-4973-96f6-0343dee18f13">Noticia</Template>
  </Info>
  <Properties>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </btnmodal>
    <contenido>
      <Value Culture="en-us"><![CDATA[<p><img src="https://www.el19digital.com/files/articulos/365667.jpg" alt="Nicaragua y China anuncian la conclusión sustancial de las negociaciones del TLC"></p>
<p>Nicaragua and the People's Republic of China made this Monday, July 24, the Official Announcement of the Substantial Conclusion of the Free Trade Agreement (FTA) Negotiations.</p>
<p>Through a videoconference, the announcement was made by China's Minister of Commerce Wang Wentao and by Nicaragua, Jesús Bermúdez Carvajal, Minister of Development, Industry and Commerce (Mific).</p>
<p>On behalf of Nicaragua, the Minister of Finance and Public Credit, Iván Acosta, and Laureano Ortega Murillo, Presidential Advisor for the Promotion of Investment, Trade and International Cooperation of the Government of Nicaragua, were also present.</p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(1).jpg" alt=""></p>
<p> </p>
<p>Comrade Laureano Ortega Murillo, Presidential Advisor for the Promotion of Investment, Trade and International Cooperation of the Government of Nicaragua, expressed that this is great news for both peoples.</p>
<p>"We are happy, happy, we thank God for the good news that we have achieved the Substantial Conclusion of the Free Trade Agreement (FTA) Negotiations between the Republic of Nicaragua and the People's Republic of China and we are especially grateful on behalf of the Commander President Daniel Ortega and our Vice President Rosario Murillo to President Comrade Xi Jinping, to the Communist Party of China, to your Government for the high priority, the great attention they give to this brotherly relationship between Nicaragua and China”, he highlighted.</p>
<p>Comrade Laureano Ortega recalled that this was a great challenge assumed in negotiating this FTA in one year "and we have achieved it and it is thanks to that relationship of brotherhood that exists between our governments and our peoples and here is our Sandinista Government, complying with the Nicaraguan people to open markets, strengthen ties of brotherhood and cooperation with the peoples of the world and especially with the sister People's Republic of China, which opens its doors for Nicaraguan products and we open the doors for the products of this great country with the objective of generating mutual benefit, of complementing each other and in Nicaragua following the example that China has set to eradicate extreme poverty”.</p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(2).jpg" alt=""></p>
<p> </p>
<p>The Minister of Finance and Public Credit, Iván Acosta, said that the FTA opens possibilities and opportunities to the entire sector of the economy.</p>
<p>"This is an extraordinary moment for the people of Nicaragua, for the economic agents, protagonists, the official completion of the negotiation of the Free Trade Agreement between the People's Republic of China and the Republic of Nicaragua," he mentioned.</p>
<p>The signing is expected to take place in August and the entry into force in January 2024.</p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(3).jpg" alt=""></p>
<p> </p>
<p>Comrade Acosta stressed that this is an opportunity that may be unrepeatable for the economic history of the country, "since the country with the highest growth is opening up very quickly and it is quickly positioning itself as the first world economy in the next 10 years, that is very relevant and guarantees that we have more foreign direct investment and more national investment”.</p>
<p>He pointed out that greater trade attracts greater investment, "private investment, in this case foreign direct investment and at the same time, mobilizes large amounts of financing that is vital for the development of the country."</p>
<p>"The Government of Nicaragua, Commander Daniel Ortega and Compañera Rosario Murillo have instructed the entire public sector to mobilize sufficient public investment, to increase the country's competitiveness that guarantees foreign investment, that is, more logistics, the entire logistics channel of the country that has to do with airports, ports, highways, telecommunications, strategic investments in the economy, which guarantee to attract that investment given the greater competitiveness”, he said.</p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(4).jpg" alt=""></p>
<p> </p>
<p>The Minister of Finance, valued this news as extraordinary, because it opens the possibilities that the country's growth is from 3.4 to 3.5, scheduled from 2023 to 2026, could be multiplied by 2 additional points, "relevant for the creation of jobs, creation of opportunities and, above all, fulfill the most important mission, which is the reduction of poverty and extreme poverty, generating more and better jobs for all Nicaraguans”.</p>
<p>For his part, Chinese Commerce Minister Wang Wentao, recognized that Nicaragua is an important and influential country in Central America.</p>
<p>“Since the resumption of diplomatic relations between China and Nicaragua, under the personal attention of President Xi Jinping and President Daniel Ortega, the two countries have managed to resolve fruitful agreements in various fields of cooperation, and economic and trade cooperation has gotten off to a good start. and it has entered a good stage of development", he stressed.</p>
<p>In his words, he stressed that China always considers long-term and strategic bilateral relations and considers the Nicaraguan side as a trustworthy partner, "and we are willing to be a model of friendship and cooperation for the relationship between the two countries."</p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(5).jpg" alt=""></p>
<p>Nicaragua: FTA will give new impetus to bilateral trade</p>
<p>In the announcement via videoconference, by Nicaragua, Jesús Bermúdez Carvajal, Minister of Development, Industry and Commerce (Mific), expressed that the negotiation with China represents for Nicaragua the fulfillment of a strategic objective, which is expected to allow it to become the medium and long term the structure of the productive, commercial and investment relations that the country has with the world.</p>
<p>"The Government of Nicaragua sees the People's Republic of China as a strategic partner, a partner that will come to help in the efforts that our Government is making today to eradicate poverty, increase the standard of living of our population and make our country one of the most prosperous economies in Central America, Latin America and the Caribbean”, he stated.</p>
<p>The FTA represents an important opportunity for Nicaragua to increase and diversify the exportable supply and investments, develop the service sector aimed at production and tourism and increase the supply of raw materials, inputs and capital goods for production and also the supply of consumer goods.</p>
<p>In the reading, he pointed out, "we are sure that the FTA will give a new and renewed impetus to bilateral trade and will be the beginning of a path full of opportunities for both countries and brotherly peoples."</p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(6).jpg" alt=""></p>
<p> </p>
<p>Negotiation based on WTO rules</p>
<p>The head of Mific, Jesús Bermúdez, representing Nicaragua, recalled that the negotiations were made based on the rules of the World Trade Organization (WTO).</p>
<p>"I have the honor to announce that the Republic of Nicaragua and the People's Republic of China have achieved the substantial conclusion of the FTA negotiations between our countries, which has been negotiated based on the rules of the World Trade Organization, following the principle of mutual benefit and where the great protagonists will be our brother peoples”, he affirmed.</p>
<p>He mentioned that this agreement was a great challenge for both countries, since it was negotiated in a difficult context due to the sanitary conditions that persisted due to Covid-19.</p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(7).jpg" alt=""></p>
<p>“This led us to negotiate almost 80% of the agreement virtually, however, the openness, reliability, cooperation and flexibility in which the FTA was negotiated allowed the negotiation teams of both parties to carry out an agile work, effective and legally consistent in record time, achieving a reliable instrument for the development of our bilateral relations", pointed out the head of Mific.</p>
<p>He recalled that there is still work ahead, such as concluding the legal review, signing and completing the internal approval processes, to finally put it into effect in January 2024, for which there is already a defined work route and that it is expected comply in time and form.</p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(8).jpg" alt=""></p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(9).jpg" alt=""></p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(10).jpg" alt=""></p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(12).jpg" alt=""></p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(13).jpg" alt=""></p>
<p>Source: Digital 19</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p> </p>
<p><img src="https://www.el19digital.com/files/articulos/365667.jpg" alt="Nicaragua y China anuncian la conclusión sustancial de las negociaciones del TLC"></p>
<p><strong>Nicaragua y la República Popular China</strong> hicieron este lunes 24 de julio el anuncio <strong>Oficial de la</strong> <strong>Conclusión Sustancial de las Negociaciones del Tratado de Libre Comercio (TLC).</strong></p>
<p>A través de una videoconferencia, el anuncio por China lo hizo el Ministro de Comercio compañero Wang Wentao y por parte de Nicaragua, el <strong>compañero Jesús Bermúdez Carvajal, Ministro de Fomento Industria y Comercio (Mific).</strong></p>
<p>Por parte de Nicaragua también estuvieron presentes el <strong>Ministro de Hacienda y Crédito Público, Iván Acosta y Laureano Ortega Murillo, Asesor Presidencial para la Promoción de Inversiones, Comercio y Cooperación Internacional del Gobierno de Nicaragua</strong>.</p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(1).jpg" alt=""></p>
<p> </p>
<p><strong>El compañero Laureano Ortega Murillo, Asesor Presidencial para la Promoción de Inversiones, Comercio y Cooperación Internacional</strong> del Gobierno de Nicaragua, expresó que esta es una gran noticia para ambos pueblos.</p>
<p><em>“Estamos felices, contentos, damos gracias a Dios, las buenas noticias de que hemos logrado la Conclusión Sustancial de las Negociaciones del Tratado de Libre Comercio (TLC) entre la República de Nicaragua y la República Popular China y agradecemos especialmente en nombre del <strong>Presidente Comandante Daniel Ortega y nuestra Vicepresidenta Rosario Murillo al Presidente camarada Xi Jinping,</strong> al Partido Comunista de China, a su Gobierno por la alta prioridad, la gran atención que le dan a esta relación de hermandad entre Nicaragua y China”</em>, resaltó.</p>
<p>El compañero Laureano Ortega, recordó que este fue un gran reto asumido en negociar este TLC en un año<em> “y lo hemos logrado y es gracias a esa relación de hermandad que existe entre nuestros gobiernos y nuestros pueblos y aquí está nuestro Gobierno Sandinista, cumpliéndole al pueblo nicaragüense para abrir mercados, fortalecer los lazos de hermandad y de cooperación con los pueblos de mundo y especialmente con la hermana República Popular China, que nos abre sus puertas para los productos nicaragüenses y nosotros abrimos las puertas para los productos de este gran país con el objetivo de generar beneficio mutuo, de complementarnos y en <strong>Nicaragua seguir ese ejemplo que ha dado China de erradicar la pobreza extrema”</strong></em><strong>.​</strong></p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(2).jpg" alt=""></p>
<p> </p>
<p>El <strong>Ministro de Hacienda y Crédito Público, Iván Acosta</strong>, expresó que el TLC abre las posibilidades y oportunidades a todo el sector de la economía.</p>
<p><em>“Este es un momento extraordinario para el pueblo de Nicaragua, para los agentes económicos, protagonistas, la finalización oficial de la negociación del <strong>Tratado de Libre Comercio entre la República Popular China y la República de Nicaragua</strong>”</em>, mencionó.</p>
<p>Se espera que la firma se realice en el mes de agosto y la entrada en vigencia en enero del año 2024.</p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(3).jpg" alt=""></p>
<p> </p>
<p>El compañero Acosta, destacó que esta es una oportunidad que puede ser irrepetible para la historia económica del país, “<em>dado que se está abriendo de una manera muy rápida al país de mayor crecimiento y que <strong>se está posicionando rápidamente</strong> en ser la primera economía mundial en los próximos 10 años, eso es muy relevante y garantiza que tengamos mayor inversión extranjera directa y mayor inversión nacional”.</em></p>
<p>Apuntó que mayor comercio atrae mayor inversión, “<em>inversión privada, en este caso inversión extranjera directa y al mismo tiempo, moviliza grandes cantidades de financiamiento que es vital para el desarrollo del país”.</em></p>
<p><em>“El <strong>Gobierno de Nicaragua, el Comandante Daniel Ortega y la Compañera Rosario Murillo</strong> han instruido a todo el sector público a movilizar inversión pública suficiente, para aumentar la competitividad del país que garantiza la inversión extranjera, es decir más logística, todo el canal logístico del país que tiene que ver con aeropuertos, puertos, carreteras, telecomunicaciones, inversiones estratégicas en la economía, que garanticen atraer esa inversión dado a la mayor competitividad”,</em> dijo.</p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(4).jpg" alt=""></p>
<p>El <strong>Ministro de Hacienda,</strong> valoró esta noticia de extraordinaria, porque abre las posibilidades de que el crecimiento del país sea de 3.4 a 3.5, programado del 2023 al 2026, podría multiplicarse en 2 puntos adicionales, “<em>relevante para la creación de empleos, creación de oportunidades y sobre todo, cumplir con la misión más importante que es la reducción de la pobreza y la extrema pobreza, generando más y mejores empleos para todos los nicaragüenses”.</em></p>
<p>Por su parte, el <strong>Ministro de Comercio de China compañero Wang Wentao</strong>, reconoció que Nicaragua es un país importante e influyente en Centroamérica.</p>
<p>“<em>Desde la reanudación de las relaciones diplomáticas entre <strong>China y Nicaragua, bajo la atención personal del Presidente Xi Jinping y del Presidente Daniel Ortega</strong>, los dos países han logrado resolver fructíferos en diversos campos de cooperación y la cooperación económica y comercial ha logrado un buen inicio y ha entrado en una buena etapa de desarrollo”,</em> subrayó.</p>
<p>En sus palabras, destacó que <strong>China</strong> siempre considera las relaciones bilaterales estratégicas y a largo plazo y considera a la parte nicaragüense como un socio digno de confianza, “<em>y estamos dispuestos a ser de la relación entre los dos países un modelo de amistad y cooperación”.</em></p>
<p> </p>
<p><em><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(5).jpg" alt=""></em></p>
<p> </p>
<h3>Nicaragua: TLC dará un nuevo impulso al comercio bilateral</h3>
<p>En el anunció a través de videoconferencia, por <strong>Nicaragua, el compañero Jesús Bermúdez Carvajal, Ministro de Fomento Industria y Comercio (Mific),</strong> expresó que la negociación con China, representa para Nicaragua el cumplimiento de un objetivo estratégico, que se espera permita transformar en el mediano y largo plazo la estructura de las relaciones productivas, comerciales y de inversión que el país tiene con el mundo.</p>
<p><em>“El <strong>Gobierno de Nicaragua ve a la República Popular China</strong> como un socio estratégico, un socio que vendrá a coadyuvar en los esfuerzos que hoy en día nuestro Gobierno realiza para erradicar la pobreza, incrementar el nivel de vida de nuestra población y hacer de nuestro país una de las economías más prósperas de Centroamérica, Latinoamérica y el Caribe”,</em> afirmó.</p>
<p>El <strong>TLC representa para Nicaragua</strong> una oportunidad importante para incrementar y diversificar la oferta exportable y las inversiones, desarrollar el sector servicio dirigido a la producción y el turismo e incrementar la oferta de materia prima, insumos y bienes de capital para la producción y también la oferta de bienes de consumo.</p>
<p>En la lectura, apuntó, “<em>estamos seguros de que el TLC dará un nuevo y renovado impulso al comercio bilateral y será el comienzo de un camino lleno de oportunidades para ambos países y pueblos hermanos”.</em></p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(6).jpg" alt=""></p>
<p> </p>
<h3>Negociación en base a las normas de la OMC</h3>
<p><strong>El titular de Mific, Jesús Bermúdez, en representación de Nicaragua</strong>, recordó que las negociaciones se hicieron en base a las normas de la <strong>Organización Mundial de Comercio (OMC).</strong></p>
<p><em>“Tengo el honor de anunciar que la <strong>República de Nicaragua y la República Popular China</strong> hemos logrado la conclusión sustancial de las negociaciones de TLC entre nuestros países, el cual ha sido negociado con base en las normas de la Organización Mundial de Comercio, atendiendo el principio del beneficio mutuo y donde los grandes protagonistas serán nuestros pueblos hermanos</em>”, afirmó.</p>
<p>Mencionó que este acuerdo fue un gran reto para ambos países, ya que se negoció en un contexto difícil por las condiciones sanitarias que persistían por la Covid-19.</p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(7).jpg" alt=""></p>
<p> </p>
<p><em>“Esto nos llevó a negociar de manera virtual casi el 80% del acuerdo, sin embargo, la franqueza, confiabilidad, cooperación y flexibilidad en la que se negoció el TLC, <strong>permitió que los equipos de negociación de ambas partes, realizaran un trabajo ágil,</strong> efectivo y jurídicamente consistente en un tiempo récord, logrando un instrumento de confiabilidad para el desarrollo de nuestras relaciones bilaterales”,</em> apuntó el titular de Mific.</p>
<p>Recordó que aún queda trabajo por delante, como es concluir la revisión legal, la firma y completar los procesos de aprobación interno, para finalmente ponerlo en vigencia en enero 2024, para lo cual ya se cuenta con una ruta de trabajo definida y que se espera cumplir en tiempo y forma.</p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(8).jpg" alt=""></p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(9).jpg" alt=""></p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(10).jpg" alt=""></p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(12).jpg" alt=""></p>
<p> </p>
<p> </p>
<p><img src="https://www.el19digital.com/app/webroot/tinymce/source/2023/JULIO/24Jul/CHINA/CHINA-(13).jpg" alt=""></p>
<p> </p>
<p>Fuente: El 19 Digital</p>]]></Value>
    </contenido>
    <descripcion>
      <Value Culture="en-us"><![CDATA[Nicaragua and the People's Republic of China made this Monday, July 24, the Official Announcement of the Substantial Conclusion of the Free Trade Agreement (FTA) Negotiations.]]></Value>
      <Value Culture="es-ni"><![CDATA[Nicaragua y la República Popular China hicieron este lunes 24 de julio el anuncio Oficial de la Conclusión Sustancial de las Negociaciones del Tratado de Libre Comercio (TLC).]]></Value>
    </descripcion>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "aded52b6-12f0-4325-9834-5246e1ef21ee",
    "mediaKey": "6c8202a4-2847-4de0-bf08-34b75bd7fa99"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "08168edb-0cdd-4b08-99b4-3eddecb51521",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[Nicaragua and China announce the substantial conclusion of the FTA negotiations]]></Value>
      <Value Culture="es-ni"><![CDATA[Nicaragua y China anuncian la conclusión sustancial de las negociaciones del TLC]]></Value>
    </titulo>
  </Properties>
</Content>