<?xml version="1.0" encoding="utf-8"?>
<Content Key="d38c280c-5d26-4154-949f-e5314a9a64dc" Alias="Noticias" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Noticias</Path>
    <Trashed>false</Trashed>
    <ContentType>noticias</ContentType>
    <CreateDate>2023-07-10T16:08:37</CreateDate>
    <NodeName Default="Noticias">
      <Name Culture="en-us">Noticias</Name>
      <Name Culture="es-ni">Noticias</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="10ab6ee9-9ce7-4edc-8dde-aba711468e18">Noticias</Template>
  </Info>
  <Properties>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "1a221f54-a829-4289-971b-ffa9b091cd28",
    "mediaKey": "7baa847b-263c-404f-be6d-091359e060fe"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "4730fa7f-880e-4385-be2d-2a8ad4c61bd4",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[News]]></Value>
      <Value Culture="es-ni"><![CDATA[Noticias]]></Value>
    </titulo>
    <vernoticias>
      <Value Culture="en-us"><![CDATA[See more]]></Value>
      <Value Culture="es-ni"><![CDATA[Ver más]]></Value>
    </vernoticias>
  </Properties>
</Content>