<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bedf445-7f17-4614-a08c-016c8000f60e" Alias="Pesca y Acuicultura" Level="2">
  <Info>
    <Parent Key="78ac5dec-4966-4095-8ae4-48c6ddf91ed0">Sectores</Parent>
    <Path>/Sectores/PescaYAcuicultura</Path>
    <Trashed>false</Trashed>
    <ContentType>sectores</ContentType>
    <CreateDate>2023-07-10T10:59:42</CreateDate>
    <NodeName Default="Pesca y Acuicultura">
      <Name Culture="en-us">Pesca y Acuicultura</Name>
      <Name Culture="es-ni">Pesca y Acuicultura</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="4eea100c-d954-4ee2-a712-584fdb1d27b7">Sector</Template>
  </Info>
  <Properties>
    <btndescarga>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ff0e131b-75dc-496d-9829-3df5dec725d3",
    "mediaKey": "df902bc2-9c7e-4179-9bde-201da12d2608"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "c7ee0571-c5f8-44c1-8ee1-51171badfd67",
    "mediaKey": "5a5031bb-2df0-4f45-b081-8778e25fa203"
  }
]]]></Value>
    </btndescarga>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <contacto>
      <Value Culture="en-us"><![CDATA[#]]></Value>
      <Value Culture="es-ni"><![CDATA[#]]></Value>
    </contacto>
    <dato>
      <Value Culture="en-us"><![CDATA[3.3%]]></Value>
      <Value Culture="es-ni"><![CDATA[103.7]]></Value>
    </dato>
    <dato2>
      <Value Culture="en-us"><![CDATA[118.1]]></Value>
      <Value Culture="es-ni"><![CDATA[62.8]]></Value>
    </dato2>
    <dato3>
      <Value Culture="en-us"><![CDATA[334.7]]></Value>
      <Value Culture="es-ni"><![CDATA[26]]></Value>
    </dato3>
    <descripcion>
      <Value Culture="en-us"><![CDATA[With a rapidly developing infrastructure, a young and talented workforce and a strategy growth-oriented nation, Nicaragua has become in an ideal investment destination for all.]]></Value>
      <Value Culture="es-ni"><![CDATA[Con una infraestructura de rápido desarrollo, una fuerza laboral joven y talentosa y una estrategia nacional orientada al crecimiento, Nicaragua se ha convertido en un destino de inversiones ideal para todos.]]></Value>
    </descripcion>
    <detalle1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[90% de Incremento en producción y exportación en la última década]]></Value>
    </detalle1>
    <detalle2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ + de 17,000 ectareas en producción]]></Value>
    </detalle2>
    <detalle3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[+ de 137 millones de libras exportadas]]></Value>
    </detalle3>
    <detalle4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[+ de 137 millones de libras exportadas]]></Value>
    </detalle4>
    <detalleimg1>
      <Value><![CDATA[[
  {
    "key": "ea629e4c-6ac6-4696-b731-99710ce634fd",
    "mediaKey": "fae39435-a16a-43e1-aaa1-d3d8d9b88feb"
  }
]]]></Value>
    </detalleimg1>
    <detalleimg2>
      <Value><![CDATA[[
  {
    "key": "fc8900be-85de-47be-9913-26d968961e21",
    "mediaKey": "4e4e4ec5-f460-4af0-8b86-274af9214c2d"
  }
]]]></Value>
    </detalleimg2>
    <detalleimg3>
      <Value><![CDATA[[
  {
    "key": "30407499-a3bf-47a2-901d-7b208c1a427f",
    "mediaKey": "4e4e4ec5-f460-4af0-8b86-274af9214c2d"
  }
]]]></Value>
    </detalleimg3>
    <detalleimg4>
      <Value><![CDATA[[
  {
    "key": "e86bab5e-2b3a-46b3-b1f9-38116c3b1352",
    "mediaKey": "fae39435-a16a-43e1-aaa1-d3d8d9b88feb"
  }
]]]></Value>
    </detalleimg4>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <icono>
      <Value><![CDATA[[
  {
    "key": "07cc3fe7-2fc9-4b0e-bb60-577b1229d0e3",
    "mediaKey": "fae39435-a16a-43e1-aaa1-d3d8d9b88feb"
  }
]]]></Value>
    </icono>
    <icono2>
      <Value><![CDATA[[
  {
    "key": "0ccc8b8c-f175-4b2e-a981-b0e77eadb0ee",
    "mediaKey": "866660ca-75d9-4282-aedf-1d0d811acf15"
  }
]]]></Value>
    </icono2>
    <icono3>
      <Value><![CDATA[[
  {
    "key": "af8367e2-1e6d-454d-96d7-d0a6b3defe6c",
    "mediaKey": "ba03dced-b7c8-4b65-b2ee-ec012dac1c77"
  }
]]]></Value>
    </icono3>
    <icono4>
      <Value><![CDATA[[
  {
    "key": "485e0ec8-9476-4374-868a-5a03d3ad4862",
    "mediaKey": "3fa300e2-0e26-4175-a65e-01883d8122a1"
  }
]]]></Value>
    </icono4>
    <iconop>
      <Value><![CDATA[[]]]></Value>
    </iconop>
    <iconop2>
      <Value><![CDATA[[]]]></Value>
    </iconop2>
    <iconop3>
      <Value><![CDATA[[]]]></Value>
    </iconop3>
    <iconop4>
      <Value><![CDATA[[]]]></Value>
    </iconop4>
    <imagen>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "8122c7da-d256-4b4b-8d2c-d06dfadbfbf5",
    "mediaKey": "f4f9dde3-32d8-4f14-959a-0b48f58b74c0"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "977cdf92-1707-4aa7-971d-5c8255461591",
    "mediaKey": "73aea8e9-cee4-4217-a55d-765ed5454b51"
  }
]]]></Value>
    </imagen>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "7e2f5027-95ed-4cfc-b2e8-927fb44ce2de",
    "mediaKey": "8983db0e-6491-4971-96fb-c0cd8a4542c5"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "6c575a7a-4954-484a-972f-71f18654af8d",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <massectores>
      <Value Culture="en-us"><![CDATA[Explore other sectors]]></Value>
      <Value Culture="es-ni"><![CDATA[Explora otros sectores]]></Value>
    </massectores>
    <subsector>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Subsectores]]></Value>
    </subsector>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Un sector en constante evolución y con crecimiento sostenido]]></Value>
    </subtitulo>
    <subtitulop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulop>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <texto1>
      <Value Culture="en-us"><![CDATA[35 processing plants]]></Value>
      <Value Culture="es-ni"><![CDATA[35 plantas procesadoras]]></Value>
    </texto1>
    <texto2>
      <Value Culture="en-us"><![CDATA[97 stockpiles (20 on the Caribbean coast, 73 on the Pacific coast)]]></Value>
      <Value Culture="es-ni"><![CDATA[97 acopios (20 en el litoral Caribe, 73 en el litoral Pacífico)]]></Value>
    </texto2>
    <texto3>
      <Value Culture="en-us"><![CDATA[6,985 metric tons of installed capacity]]></Value>
      <Value Culture="es-ni"><![CDATA[6,985 toneladas métricas de capacidad instalada]]></Value>
    </texto3>
    <texto4>
      <Value Culture="en-us"><![CDATA[More than 30 countries as export destinations]]></Value>
      <Value Culture="es-ni"><![CDATA[Más de 30 países como destinos de exportación]]></Value>
    </texto4>
    <textop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop>
    <textop2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop2>
    <textop3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop3>
    <textop4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop4>
    <titulo>
      <Value Culture="en-us"><![CDATA[Fisheries and Aquaculture]]></Value>
      <Value Culture="es-ni"><![CDATA[Pesca y Acuicultura]]></Value>
    </titulo>
    <titulo1>
      <Value Culture="en-us"><![CDATA[of sectoral participation in primary activity]]></Value>
      <Value Culture="es-ni"><![CDATA[Incremento productivo (2006-2022)]]></Value>
    </titulo1>
    <titulo2>
      <Value Culture="en-us"><![CDATA[million pounds of export]]></Value>
      <Value Culture="es-ni"><![CDATA[de las exportaciones totales]]></Value>
    </titulo2>
    <titulo3>
      <Value Culture="en-us"><![CDATA[million pounds of export]]></Value>
      <Value Culture="es-ni"><![CDATA[de empleo nacional]]></Value>
    </titulo3>
    <tituloasesor>
      <Value Culture="en-us"><![CDATA[See more]]></Value>
      <Value Culture="es-ni"><![CDATA[Ver mas]]></Value>
    </tituloasesor>
    <titulodescarga>
      <Value Culture="en-us"><![CDATA[Download]]></Value>
      <Value Culture="es-ni"><![CDATA[Descarga]]></Value>
    </titulodescarga>
    <titulomain>
      <Value Culture="en-us"><![CDATA[Industry data]]></Value>
      <Value Culture="es-ni"><![CDATA[Datos del sector]]></Value>
    </titulomain>
    <titulop>
      <Value Culture="en-us"><![CDATA[Learn more about Agribusiness]]></Value>
      <Value Culture="es-ni"><![CDATA[Conoce más de Agronegocios ]]></Value>
    </titulop>
    <tituloProductos>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </tituloProductos>
  </Properties>
</Content>