<?xml version="1.0" encoding="utf-8"?>
<Content Key="1bedf445-7f17-4614-a08c-016c8000f60e" Alias="Pesca y Acuicultura" Level="2">
  <Info>
    <Parent Key="78ac5dec-4966-4095-8ae4-48c6ddf91ed0">Sectores</Parent>
    <Path>/Sectores/PescaYAcuicultura</Path>
    <Trashed>false</Trashed>
    <ContentType>sectores</ContentType>
    <CreateDate>2023-07-10T10:59:42</CreateDate>
    <NodeName Default="Pesca y Acuicultura">
      <Name Culture="en-us">Pesca y Acuicultura</Name>
      <Name Culture="es-ni">Pesca y Acuicultura</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="4eea100c-d954-4ee2-a712-584fdb1d27b7">Sector</Template>
  </Info>
  <Properties>
    <btndescarga>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "ff0e131b-75dc-496d-9829-3df5dec725d3",
    "mediaKey": "df902bc2-9c7e-4179-9bde-201da12d2608"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "8a254653-0f50-4271-a949-2ff3ac9fa038",
    "mediaKey": "5991d747-c38c-41f7-a8da-fee99c76b25b"
  }
]]]></Value>
    </btndescarga>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <contacto>
      <Value Culture="en-us"><![CDATA[#]]></Value>
      <Value Culture="es-ni"><![CDATA[#]]></Value>
    </contacto>
    <dato>
      <Value Culture="en-us"><![CDATA[3.3%]]></Value>
      <Value Culture="es-ni"><![CDATA[335]]></Value>
    </dato>
    <dato2>
      <Value Culture="en-us"><![CDATA[118.1]]></Value>
      <Value Culture="es-ni"><![CDATA[35]]></Value>
    </dato2>
    <dato3>
      <Value Culture="en-us"><![CDATA[334.7]]></Value>
      <Value Culture="es-ni"><![CDATA[35]]></Value>
    </dato3>
    <descripcion>
      <Value Culture="en-us"><![CDATA[With a rapidly developing infrastructure, a young and talented workforce and a strategy growth-oriented nation, Nicaragua has become in an ideal investment destination for all.]]></Value>
      <Value Culture="es-ni"><![CDATA[Con una infraestructura de rápido desarrollo, una fuerza laboral joven y talentosa y una estrategia nacional orientada al crecimiento, Nicaragua se ha convertido en un destino de inversiones ideal para todos.]]></Value>
    </descripcion>
    <detalle1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[90% de Incremento en producción y exportación en la última década]]></Value>
    </detalle1>
    <detalle2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[ + de 17,000 ectareas en producción]]></Value>
    </detalle2>
    <detalle3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[+ de 137 millones de libras exportadas]]></Value>
    </detalle3>
    <detalle4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[+ de 137 millones de libras exportadas]]></Value>
    </detalle4>
    <detalleimg1>
      <Value><![CDATA[[
  {
    "key": "f3ac0b69-faa8-46cf-906a-eda4b3020ff9",
    "mediaKey": "8f5fcab6-eb73-4a20-b3cf-c5a5f216b015"
  }
]]]></Value>
    </detalleimg1>
    <detalleimg2>
      <Value><![CDATA[[
  {
    "key": "d1d6b522-2bbc-4ebe-949c-51643bff36c1",
    "mediaKey": "8f5fcab6-eb73-4a20-b3cf-c5a5f216b015"
  }
]]]></Value>
    </detalleimg2>
    <detalleimg3>
      <Value><![CDATA[[
  {
    "key": "069c9aae-460d-4f9b-a225-25c8e4976b16",
    "mediaKey": "c2162523-cf63-4035-b531-333acc1b43d3"
  }
]]]></Value>
    </detalleimg3>
    <detalleimg4>
      <Value><![CDATA[[
  {
    "key": "21f50bd2-ac93-4649-b999-612d1435b6f0",
    "mediaKey": "3a067c1c-116e-433a-9d3f-ba44e14fcc4d"
  }
]]]></Value>
    </detalleimg4>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <icono>
      <Value><![CDATA[[
  {
    "key": "e91abcd0-8bf9-47d8-bd0c-e5e3bddab26d",
    "mediaKey": "36376872-f5f7-4b54-9e9f-32c22ce718ba"
  }
]]]></Value>
    </icono>
    <icono2>
      <Value><![CDATA[[
  {
    "key": "bdc139aa-7655-490c-ac9a-a95a5da9cabc",
    "mediaKey": "f09e90fe-7803-440c-b1e5-4398b9b412fd"
  }
]]]></Value>
    </icono2>
    <icono3>
      <Value><![CDATA[[
  {
    "key": "2b4b6071-d68a-4ddb-95f4-402efceb736d",
    "mediaKey": "bacbc4ed-5853-49e1-b2d4-f7237c1796a0"
  }
]]]></Value>
    </icono3>
    <icono4>
      <Value><![CDATA[[
  {
    "key": "485e0ec8-9476-4374-868a-5a03d3ad4862",
    "mediaKey": "3fa300e2-0e26-4175-a65e-01883d8122a1"
  }
]]]></Value>
    </icono4>
    <iconop>
      <Value><![CDATA[[
  {
    "key": "a6c8bb7d-c524-4329-99c1-ece77085da16",
    "mediaKey": "5b697d6f-678f-4805-87af-b870325fc516"
  }
]]]></Value>
    </iconop>
    <iconop2>
      <Value><![CDATA[[
  {
    "key": "9cb5aa0a-cb7e-4eaa-8352-7264d1fbd1d5",
    "mediaKey": "14248d88-0324-463f-8195-5c1fbe653b30"
  }
]]]></Value>
    </iconop2>
    <iconop3>
      <Value><![CDATA[[
  {
    "key": "988c88c5-ce31-40db-a0b9-32797d8ffe7b",
    "mediaKey": "fe71d261-0908-41ea-bf07-1aa76629fdb3"
  }
]]]></Value>
    </iconop3>
    <iconop4>
      <Value><![CDATA[[
  {
    "key": "fcf2d3cc-563a-4f5c-9ff7-c0397666e846",
    "mediaKey": "4dbe59ce-dd62-4e5e-86de-6d71d689a5d4"
  }
]]]></Value>
    </iconop4>
    <imagen>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "8122c7da-d256-4b4b-8d2c-d06dfadbfbf5",
    "mediaKey": "f4f9dde3-32d8-4f14-959a-0b48f58b74c0"
  }
]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "977cdf92-1707-4aa7-971d-5c8255461591",
    "mediaKey": "73aea8e9-cee4-4217-a55d-765ed5454b51"
  }
]]]></Value>
    </imagen>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "ddf60c79-39db-4b13-b79d-945f8ba4664d",
    "mediaKey": "66f9e3c3-28c7-4081-92da-fece824c10ec"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "6c575a7a-4954-484a-972f-71f18654af8d",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <massectores>
      <Value Culture="en-us"><![CDATA[Explore other sectors]]></Value>
      <Value Culture="es-ni"><![CDATA[Explora otros sectores]]></Value>
    </massectores>
    <subsector>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Subsectores]]></Value>
    </subsector>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Un sector en constante evolución y con crecimiento sostenido]]></Value>
    </subtitulo>
    <subtitulop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulop>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <texto1>
      <Value Culture="en-us"><![CDATA[35 processing plants]]></Value>
      <Value Culture="es-ni"><![CDATA[Mayor exportador de crustáceos hacia Europa en Centroamérica (#5 en América Latina)​]]></Value>
    </texto1>
    <texto2>
      <Value Culture="en-us"><![CDATA[97 stockpiles (20 on the Caribbean coast, 73 on the Pacific coast)]]></Value>
      <Value Culture="es-ni"><![CDATA[Mayor proveedor de Langosta para el mercado norteamericano]]></Value>
    </texto2>
    <texto3>
      <Value Culture="en-us"><![CDATA[6,985 metric tons of installed capacity]]></Value>
      <Value Culture="es-ni"><![CDATA[Acceso a los mercados de Estados Unidos, Canadá y Europa]]></Value>
    </texto3>
    <texto4>
      <Value Culture="en-us"><![CDATA[More than 30 countries as export destinations]]></Value>
      <Value Culture="es-ni"><![CDATA[Más de 30 países como destinos de exportación]]></Value>
    </texto4>
    <textop>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop>
    <textop2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop2>
    <textop3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop3>
    <textop4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </textop4>
    <titulo>
      <Value Culture="en-us"><![CDATA[Fisheries and Aquaculture]]></Value>
      <Value Culture="es-ni"><![CDATA[Pesca y Acuicultura]]></Value>
    </titulo>
    <titulo1>
      <Value Culture="en-us"><![CDATA[of sectoral participation in primary activity]]></Value>
      <Value Culture="es-ni"><![CDATA[millones de dólares en exportación ]]></Value>
    </titulo1>
    <titulo2>
      <Value Culture="en-us"><![CDATA[million pounds of export]]></Value>
      <Value Culture="es-ni"><![CDATA[plantas procesadoras a nivel nacional]]></Value>
    </titulo2>
    <titulo3>
      <Value Culture="en-us"><![CDATA[million pounds of export]]></Value>
      <Value Culture="es-ni"><![CDATA[países como destinos de exportación ]]></Value>
    </titulo3>
    <tituloasesor>
      <Value Culture="en-us"><![CDATA[See more]]></Value>
      <Value Culture="es-ni"><![CDATA[Ver mas]]></Value>
    </tituloasesor>
    <titulodescarga>
      <Value Culture="en-us"><![CDATA[Download]]></Value>
      <Value Culture="es-ni"><![CDATA[Descarga]]></Value>
    </titulodescarga>
    <titulomain>
      <Value Culture="en-us"><![CDATA[Industry data]]></Value>
      <Value Culture="es-ni"><![CDATA[Datos del sector]]></Value>
    </titulomain>
    <titulop>
      <Value Culture="en-us"><![CDATA[Learn more about Agribusiness]]></Value>
      <Value Culture="es-ni"><![CDATA[Conoce más de Pesca y Acuicultura]]></Value>
    </titulop>
    <tituloProductos>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Productos con potencial de desarrollo]]></Value>
    </tituloProductos>
  </Properties>
</Content>