<?xml version="1.0" encoding="utf-8"?>
<Content Key="d61903a2-dedf-4298-8940-9dd466582798" Alias="Por qué Nicaragua" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PorQueNicaragua</Path>
    <Trashed>false</Trashed>
    <ContentType>porQueNicaragua</ContentType>
    <CreateDate>2023-07-10T10:04:28</CreateDate>
    <NodeName Default="Por qué Nicaragua">
      <Name Culture="en-us">Por que Nicaragua</Name>
      <Name Culture="es-ni">Por qué Nicaragua</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="3ba225fe-5422-452b-abb2-4edfea014cf8">PorQueNicaragua</Template>
  </Info>
  <Properties>
    <alba>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "c7f148a7-aa9c-46dc-af35-9dfc4ca74a26",
    "mediaKey": "848a5eef-4e39-4517-9462-fd19fe1baef2"
  }
]]]></Value>
    </alba>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <descripcion1>
      <Value Culture="en-us"><![CDATA[Lower organized crime rate]]></Value>
      <Value Culture="es-ni"><![CDATA[Menor tasa de crimen organizado]]></Value>
    </descripcion1>
    <descripcion2>
      <Value Culture="en-us"><![CDATA[Lower murder rate]]></Value>
      <Value Culture="es-ni"><![CDATA[Menor tasa de homicidios]]></Value>
    </descripcion2>
    <descripcion3>
      <Value Culture="en-us"><![CDATA[Better road quality]]></Value>
      <Value Culture="es-ni"><![CDATA[Mejor calidad de carreteras]]></Value>
    </descripcion3>
    <descripcion4>
      <Value Culture="en-us"><![CDATA[Lower cost for export management]]></Value>
      <Value Culture="es-ni"><![CDATA[Menor costo para la gestión de exportar]]></Value>
    </descripcion4>
    <descripcion5>
      <Value Culture="en-us"><![CDATA[Less time to open a company]]></Value>
      <Value Culture="es-ni"><![CDATA[Menor tiempo para abrir una empresa]]></Value>
    </descripcion5>
    <descripcion6>
      <Value Culture="en-us"><![CDATA[Economic growth is greater than 3% in the last 10 years]]></Value>
      <Value Culture="es-ni"><![CDATA[Crecimiento económico mayor al 3% en los últimos 10 años]]></Value>
    </descripcion6>
    <descripcion7>
      <Value Culture="en-us"><![CDATA[Crecimiento económico sostenido y sostenible]]></Value>
      <Value Culture="es-ni"><![CDATA[Política económica sostenida y sostenible]]></Value>
    </descripcion7>
    <descripcion8>
      <Value Culture="en-us"><![CDATA[Text 8]]></Value>
      <Value Culture="es-ni"><![CDATA[País con más equidad de género de toda América y número 7 a nivel mundial]]></Value>
    </descripcion8>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <img_nic>
      <Value><![CDATA[[
  {
    "key": "52c7fb3c-7626-45e3-9749-f72208797571",
    "mediaKey": "bb7a3ad1-467a-4ebc-a3c4-dfcfecf18ea2"
  }
]]]></Value>
    </img_nic>
    <img_nic2>
      <Value><![CDATA[[
  {
    "key": "7b2eb385-d7c8-47cc-a4b0-3ceb4833b22a",
    "mediaKey": "2e48295e-3911-4ce8-b719-a6e9c7659168"
  }
]]]></Value>
    </img_nic2>
    <img_nic3>
      <Value><![CDATA[[
  {
    "key": "cae3d14c-9569-4ab8-bf37-dcc1f0f2842e",
    "mediaKey": "6c142628-2897-4b50-902f-1e711f8fda70"
  }
]]]></Value>
    </img_nic3>
    <img_nic4>
      <Value><![CDATA[[
  {
    "key": "77866b46-fb57-42f5-a223-08c5916bc553",
    "mediaKey": "048a2b14-6cd4-4639-82ad-718464fd0b50"
  }
]]]></Value>
    </img_nic4>
    <img_nic5>
      <Value><![CDATA[[
  {
    "key": "b910d0c0-3030-41f4-808f-21874af6a848",
    "mediaKey": "1447c2ff-aa1c-416f-bd9f-cd5b4aa5fe51"
  }
]]]></Value>
    </img_nic5>
    <img_nic6>
      <Value><![CDATA[[
  {
    "key": "1fd59d46-5322-4a5e-bed2-ad299897cb02",
    "mediaKey": "055ad064-f25f-435d-a19a-80735439d6bc"
  }
]]]></Value>
    </img_nic6>
    <img_nic7>
      <Value><![CDATA[[
  {
    "key": "6b14163a-595a-4b32-bef3-f9c84eebd40c",
    "mediaKey": "8b2d141b-23bc-48c2-b509-87d1ed72e801"
  }
]]]></Value>
    </img_nic7>
    <img_nic8>
      <Value><![CDATA[[
  {
    "key": "3735d3be-bb53-4ba1-8153-2b02c091f69e",
    "mediaKey": "9bd2e063-3d77-4f3e-867f-3cd95f2b0ec1"
  }
]]]></Value>
    </img_nic8>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "cf468763-0bac-4fb7-9eb1-4b0942eaa028",
    "mediaKey": "d56b77d9-8c0e-4e6c-8ebd-59d256ce12bf"
  }
]]]></Value>
    </imgbanner>
    <imgexportacion1>
      <Value><![CDATA[[
  {
    "key": "947c71bc-01a6-4330-869a-dcd000997d3c",
    "mediaKey": "a788927d-16e8-4fbc-9c69-91cb7de6f424"
  }
]]]></Value>
    </imgexportacion1>
    <imgexportacion2>
      <Value><![CDATA[[
  {
    "key": "6d23611b-9d8d-4ba8-b632-40d86f918c9a",
    "mediaKey": "386cc420-fbcc-4ef7-b2a3-0f1ee8697db0"
  }
]]]></Value>
    </imgexportacion2>
    <imgexportacion3>
      <Value><![CDATA[[
  {
    "key": "aae355b3-9566-4fa4-add8-95908fbb5356",
    "mediaKey": "940421e2-99e7-4fb6-af69-b648802c09f2"
  }
]]]></Value>
    </imgexportacion3>
    <imgexportacion4>
      <Value><![CDATA[[
  {
    "key": "b4e1e438-79fb-4172-aff3-067dbd8f2646",
    "mediaKey": "1d92c5f6-401a-4510-9196-b381b684a622"
  }
]]]></Value>
    </imgexportacion4>
    <imgexportacion5>
      <Value><![CDATA[[
  {
    "key": "bbacaae4-2bb5-415f-95a8-4477fc451131",
    "mediaKey": "08f470d7-d877-410d-b0f2-6d5e2ef998f7"
  }
]]]></Value>
    </imgexportacion5>
    <imgexportacion6>
      <Value><![CDATA[[
  {
    "key": "efd3a37f-abcc-4ef1-bc18-9a10b44ea7c2",
    "mediaKey": "a77c89fb-9a0b-441a-bffa-1e0ee7362bbf"
  }
]]]></Value>
    </imgexportacion6>
    <imgimportacion1>
      <Value><![CDATA[[
  {
    "key": "3d3ba26a-707a-46b9-87db-49aa0ae43060",
    "mediaKey": "a788927d-16e8-4fbc-9c69-91cb7de6f424"
  }
]]]></Value>
    </imgimportacion1>
    <imgimportacion2>
      <Value><![CDATA[[
  {
    "key": "8831fd82-ff4c-42e8-aca6-762710bb41b2",
    "mediaKey": "386cc420-fbcc-4ef7-b2a3-0f1ee8697db0"
  }
]]]></Value>
    </imgimportacion2>
    <imgimportacion3>
      <Value><![CDATA[[
  {
    "key": "8b886bc7-24c8-4a92-8371-2441000ec77f",
    "mediaKey": "08f470d7-d877-410d-b0f2-6d5e2ef998f7"
  }
]]]></Value>
    </imgimportacion3>
    <imgimportacion4>
      <Value><![CDATA[[
  {
    "key": "e4527ade-c047-481f-ae25-24ee949f53ce",
    "mediaKey": "940421e2-99e7-4fb6-af69-b648802c09f2"
  }
]]]></Value>
    </imgimportacion4>
    <imgimportacion5>
      <Value><![CDATA[[
  {
    "key": "d795d32c-a0a7-400a-acf5-2faf2afa09a4",
    "mediaKey": "1d92c5f6-401a-4510-9196-b381b684a622"
  }
]]]></Value>
    </imgimportacion5>
    <imgimportacion6>
      <Value><![CDATA[[
  {
    "key": "a2e54097-0843-4cdd-a6bd-c5c3f19447c5",
    "mediaKey": "d2ce2662-3410-426e-9800-7298844eb8e1"
  }
]]]></Value>
    </imgimportacion6>
    <info_1>
      <Value Culture="en-us"><![CDATA[10.5]]></Value>
      <Value Culture="es-ni"><![CDATA[10.5]]></Value>
    </info_1>
    <info_10>
      <Value Culture="en-us"><![CDATA[10.3]]></Value>
      <Value Culture="es-ni"><![CDATA[10.3]]></Value>
    </info_10>
    <info_11>
      <Value Culture="en-us"><![CDATA[11.8]]></Value>
      <Value Culture="es-ni"><![CDATA[11.8]]></Value>
    </info_11>
    <info_12>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </info_12>
    <info_13>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </info_13>
    <info_14>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </info_14>
    <info_15>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </info_15>
    <info_2>
      <Value Culture="en-us"><![CDATA[12.5]]></Value>
      <Value Culture="es-ni"><![CDATA[12.5]]></Value>
    </info_2>
    <info_3>
      <Value Culture="en-us"><![CDATA[13.4]]></Value>
      <Value Culture="es-ni"><![CDATA[13.4]]></Value>
    </info_3>
    <info_4>
      <Value Culture="en-us"><![CDATA[10.2]]></Value>
      <Value Culture="es-ni"><![CDATA[10.2]]></Value>
    </info_4>
    <info_5>
      <Value Culture="en-us"><![CDATA[11.6]]></Value>
      <Value Culture="es-ni"><![CDATA[11.6]]></Value>
    </info_5>
    <info_6>
      <Value Culture="en-us"><![CDATA[12.7]]></Value>
      <Value Culture="es-ni"><![CDATA[12.1]]></Value>
    </info_6>
    <info_7>
      <Value Culture="en-us"><![CDATA[9.1]]></Value>
      <Value Culture="es-ni"><![CDATA[9.1]]></Value>
    </info_7>
    <info_8>
      <Value Culture="en-us"><![CDATA[6.4]]></Value>
      <Value Culture="es-ni"><![CDATA[6.4]]></Value>
    </info_8>
    <info_9>
      <Value Culture="en-us"><![CDATA[7.6]]></Value>
      <Value Culture="es-ni"><![CDATA[7.6]]></Value>
    </info_9>
    <info1>
      <Value Culture="en-us"><![CDATA[1111]]></Value>
      <Value Culture="es-ni"><![CDATA[1111]]></Value>
    </info1>
    <info10>
      <Value Culture="en-us"><![CDATA[1470]]></Value>
      <Value Culture="es-ni"><![CDATA[1470]]></Value>
    </info10>
    <info11>
      <Value Culture="en-us"><![CDATA[1842]]></Value>
      <Value Culture="es-ni"><![CDATA[1842]]></Value>
    </info11>
    <info12>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </info12>
    <info13>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </info13>
    <info14>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </info14>
    <info15>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </info15>
    <info2>
      <Value Culture="en-us"><![CDATA[1374]]></Value>
      <Value Culture="es-ni"><![CDATA[1374]]></Value>
    </info2>
    <info3>
      <Value Culture="en-us"><![CDATA[1587]]></Value>
      <Value Culture="es-ni"><![CDATA[1587]]></Value>
    </info3>
    <info4>
      <Value Culture="en-us"><![CDATA[1300]]></Value>
      <Value Culture="es-ni"><![CDATA[1300]]></Value>
    </info4>
    <info5>
      <Value Culture="en-us"><![CDATA[1539]]></Value>
      <Value Culture="es-ni"><![CDATA[1539]]></Value>
    </info5>
    <info6>
      <Value Culture="en-us"><![CDATA[1670]]></Value>
      <Value Culture="es-ni"><![CDATA[1670]]></Value>
    </info6>
    <info7>
      <Value Culture="en-us"><![CDATA[1180]]></Value>
      <Value Culture="es-ni"><![CDATA[1180]]></Value>
    </info7>
    <info8>
      <Value Culture="en-us"><![CDATA[808]]></Value>
      <Value Culture="es-ni"><![CDATA[808]]></Value>
    </info8>
    <info9>
      <Value Culture="en-us"><![CDATA[963]]></Value>
      <Value Culture="es-ni"><![CDATA[963]]></Value>
    </info9>
    <infoexportacion1>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>United States 52.3%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>Estados Unidos 52.3%</strong></p>]]></Value>
    </infoexportacion1>
    <infoexportacion2>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>Central America 20.2%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>Centroamérica 20.2%</strong></p>]]></Value>
    </infoexportacion2>
    <infoexportacion3>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>Mexico 12.9%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>México 12.9%</strong></p>]]></Value>
    </infoexportacion3>
    <infoexportacion4>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>UE-27 6.0%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>UE-27 6.0%</strong></p>]]></Value>
    </infoexportacion4>
    <infoexportacion5>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>China 1.4%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>Taipéi 1.4%</strong></p>]]></Value>
    </infoexportacion5>
    <infoexportacion6>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>United Kingdom 0.9%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>Reino Unido 0.9%</strong></p>]]></Value>
    </infoexportacion6>
    <infoimportacion1>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>United States 26.9%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>Estados Unidos 26.9%</strong></p>]]></Value>
    </infoimportacion1>
    <infoimportacion2>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>Central America 25.7%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>Centroamérica 25.7%</strong></p>]]></Value>
    </infoimportacion2>
    <infoimportacion3>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>China 12.4%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>China 12.4%</strong></p>]]></Value>
    </infoimportacion3>
    <infoimportacion4>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>Mexico 8.9%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>México 8.9%</strong></p>]]></Value>
    </infoimportacion4>
    <infoimportacion5>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>UE-27 5.9%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>UE-27 5.9%</strong></p>]]></Value>
    </infoimportacion5>
    <infoimportacion6>
      <Value Culture="en-us"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>India 4.5%</strong></p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p style="text-align: center; color: #000000; font-size: 1.2rem;" class="py-3"><strong>India 4.5%</strong></p>]]></Value>
    </infoimportacion6>
    <infos_1>
      <Value Culture="en-us"><![CDATA[1.2]]></Value>
      <Value Culture="es-ni"><![CDATA[1.2]]></Value>
    </infos_1>
    <infos_10>
      <Value Culture="en-us"><![CDATA[2.2]]></Value>
      <Value Culture="es-ni"><![CDATA[2.2]]></Value>
    </infos_10>
    <infos_11>
      <Value Culture="en-us"><![CDATA[2.3]]></Value>
      <Value Culture="es-ni"><![CDATA[2.3]]></Value>
    </infos_11>
    <infos_12>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </infos_12>
    <infos_13>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </infos_13>
    <infos_14>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </infos_14>
    <infos_15>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </infos_15>
    <infos_16>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </infos_16>
    <infos_2>
      <Value Culture="en-us"><![CDATA[1.3]]></Value>
      <Value Culture="es-ni"><![CDATA[1.3]]></Value>
    </infos_2>
    <infos_3>
      <Value Culture="en-us"><![CDATA[1.4]]></Value>
      <Value Culture="es-ni"><![CDATA[1.4]]></Value>
    </infos_3>
    <infos_4>
      <Value Culture="en-us"><![CDATA[1.5]]></Value>
      <Value Culture="es-ni"><![CDATA[1.5]]></Value>
    </infos_4>
    <infos_5>
      <Value Culture="en-us"><![CDATA[1.6]]></Value>
      <Value Culture="es-ni"><![CDATA[1.6]]></Value>
    </infos_5>
    <infos_6>
      <Value Culture="en-us"><![CDATA[1.7]]></Value>
      <Value Culture="es-ni"><![CDATA[1.7]]></Value>
    </infos_6>
    <infos_7>
      <Value Culture="en-us"><![CDATA[1.8]]></Value>
      <Value Culture="es-ni"><![CDATA[1.8]]></Value>
    </infos_7>
    <infos_8>
      <Value Culture="en-us"><![CDATA[2.0]]></Value>
      <Value Culture="es-ni"><![CDATA[2.0]]></Value>
    </infos_8>
    <infos_9>
      <Value Culture="en-us"><![CDATA[2.1]]></Value>
      <Value Culture="es-ni"><![CDATA[2.1]]></Value>
    </infos_9>
    <infos1>
      <Value Culture="en-us"><![CDATA[10]]></Value>
      <Value Culture="es-ni"><![CDATA[10]]></Value>
    </infos1>
    <infos10>
      <Value Culture="en-us"><![CDATA[35]]></Value>
      <Value Culture="es-ni"><![CDATA[35]]></Value>
    </infos10>
    <infos11>
      <Value Culture="en-us"><![CDATA[36]]></Value>
      <Value Culture="es-ni"><![CDATA[36]]></Value>
    </infos11>
    <infos12>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </infos12>
    <infos13>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </infos13>
    <infos14>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </infos14>
    <infos15>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </infos15>
    <infos16>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </infos16>
    <infos2>
      <Value Culture="en-us"><![CDATA[20]]></Value>
      <Value Culture="es-ni"><![CDATA[20]]></Value>
    </infos2>
    <infos3>
      <Value Culture="en-us"><![CDATA[20]]></Value>
      <Value Culture="es-ni"><![CDATA[20]]></Value>
    </infos3>
    <infos4>
      <Value Culture="en-us"><![CDATA[30]]></Value>
      <Value Culture="es-ni"><![CDATA[30]]></Value>
    </infos4>
    <infos5>
      <Value Culture="en-us"><![CDATA[30]]></Value>
      <Value Culture="es-ni"><![CDATA[30]]></Value>
    </infos5>
    <infos6>
      <Value Culture="en-us"><![CDATA[25]]></Value>
      <Value Culture="es-ni"><![CDATA[25]]></Value>
    </infos6>
    <infos7>
      <Value Culture="en-us"><![CDATA[15]]></Value>
      <Value Culture="es-ni"><![CDATA[15]]></Value>
    </infos7>
    <infos8>
      <Value Culture="en-us"><![CDATA[10]]></Value>
      <Value Culture="es-ni"><![CDATA[10]]></Value>
    </infos8>
    <infos9>
      <Value Culture="en-us"><![CDATA[30]]></Value>
      <Value Culture="es-ni"><![CDATA[30]]></Value>
    </infos9>
    <label1>
      <Value Culture="en-us"><![CDATA[2012]]></Value>
      <Value Culture="es-ni"><![CDATA[2012]]></Value>
    </label1>
    <label10>
      <Value Culture="en-us"><![CDATA[2021]]></Value>
      <Value Culture="es-ni"><![CDATA[2021]]></Value>
    </label10>
    <label11>
      <Value Culture="en-us"><![CDATA[2022]]></Value>
      <Value Culture="es-ni"><![CDATA[2022]]></Value>
    </label11>
    <label12>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </label12>
    <label13>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </label13>
    <label14>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </label14>
    <label15>
      <Value Culture="en-us"><![CDATA[1]]></Value>
      <Value Culture="es-ni"><![CDATA[1]]></Value>
    </label15>
    <label2>
      <Value Culture="en-us"><![CDATA[2013]]></Value>
      <Value Culture="es-ni"><![CDATA[2013]]></Value>
    </label2>
    <label3>
      <Value Culture="en-us"><![CDATA[2014]]></Value>
      <Value Culture="es-ni"><![CDATA[2014]]></Value>
    </label3>
    <label4>
      <Value Culture="en-us"><![CDATA[2015]]></Value>
      <Value Culture="es-ni"><![CDATA[2015]]></Value>
    </label4>
    <label5>
      <Value Culture="en-us"><![CDATA[2016]]></Value>
      <Value Culture="es-ni"><![CDATA[2016]]></Value>
    </label5>
    <label6>
      <Value Culture="en-us"><![CDATA[2017]]></Value>
      <Value Culture="es-ni"><![CDATA[2017]]></Value>
    </label6>
    <label7>
      <Value Culture="en-us"><![CDATA[2018]]></Value>
      <Value Culture="es-ni"><![CDATA[2018]]></Value>
    </label7>
    <label8>
      <Value Culture="en-us"><![CDATA[2019]]></Value>
      <Value Culture="es-ni"><![CDATA[2019]]></Value>
    </label8>
    <label9>
      <Value Culture="en-us"><![CDATA[2020]]></Value>
      <Value Culture="es-ni"><![CDATA[2020]]></Value>
    </label9>
    <labels1>
      <Value Culture="en-us"><![CDATA[2012]]></Value>
      <Value Culture="es-ni"><![CDATA[2012]]></Value>
    </labels1>
    <labels10>
      <Value Culture="en-us"><![CDATA[2021]]></Value>
      <Value Culture="es-ni"><![CDATA[2021]]></Value>
    </labels10>
    <labels11>
      <Value Culture="en-us"><![CDATA[2022]]></Value>
      <Value Culture="es-ni"><![CDATA[2022]]></Value>
    </labels11>
    <labels12>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </labels12>
    <labels13>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </labels13>
    <labels14>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </labels14>
    <labels15>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </labels15>
    <labels16>
      <Value Culture="en-us"><![CDATA[0]]></Value>
      <Value Culture="es-ni"><![CDATA[0]]></Value>
    </labels16>
    <labels2>
      <Value Culture="en-us"><![CDATA[2013]]></Value>
      <Value Culture="es-ni"><![CDATA[2013]]></Value>
    </labels2>
    <labels3>
      <Value Culture="en-us"><![CDATA[2014]]></Value>
      <Value Culture="es-ni"><![CDATA[2014]]></Value>
    </labels3>
    <labels4>
      <Value Culture="en-us"><![CDATA[2015]]></Value>
      <Value Culture="es-ni"><![CDATA[2015]]></Value>
    </labels4>
    <labels5>
      <Value Culture="en-us"><![CDATA[2016]]></Value>
      <Value Culture="es-ni"><![CDATA[2016]]></Value>
    </labels5>
    <labels6>
      <Value Culture="en-us"><![CDATA[2017]]></Value>
      <Value Culture="es-ni"><![CDATA[2017]]></Value>
    </labels6>
    <labels7>
      <Value Culture="en-us"><![CDATA[2018]]></Value>
      <Value Culture="es-ni"><![CDATA[2018]]></Value>
    </labels7>
    <labels8>
      <Value Culture="en-us"><![CDATA[2019]]></Value>
      <Value Culture="es-ni"><![CDATA[2019]]></Value>
    </labels8>
    <labels9>
      <Value Culture="en-us"><![CDATA[2020]]></Value>
      <Value Culture="es-ni"><![CDATA[2020]]></Value>
    </labels9>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "8b88ab6a-9b86-400a-aa3f-ff0f507621fe",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[Why Nicaragua?]]></Value>
      <Value Culture="es-ni"><![CDATA[¿Por qué Nicaragua?]]></Value>
    </titulo>
    <titulocentroamerica>
      <Value Culture="en-us"><![CDATA[#1 in Central America]]></Value>
      <Value Culture="es-ni"><![CDATA[#1 en Centroamérica]]></Value>
    </titulocentroamerica>
    <titulocomercio>
      <Value Culture="en-us"><![CDATA[<h1 class="spiex-section-title">Destinations and origins <br>of foreign trade</h1>]]></Value>
      <Value Culture="es-ni"><![CDATA[<h1 class="spiex-section-title">Comercio Exterior</h1>]]></Value>
    </titulocomercio>
    <tituloexportacion>
      <Value Culture="en-us"><![CDATA[<h1 class="spiex-lead mb-5">Main export destinations</h1>]]></Value>
      <Value Culture="es-ni"><![CDATA[<h1 class="spiex-lead pt-0 mb-5">Principales destinos de exportación</h1>]]></Value>
    </tituloexportacion>
    <titulografica>
      <Value Culture="en-us"><![CDATA[<h1 class="spiex-section-title">FDI income <br><span>in the last 10 years</span></h1>]]></Value>
      <Value Culture="es-ni"><![CDATA[<h1 class="spiex-section-title py-5">Ingresos IED <br><span id="impop">En los últimos 10 años</span></h1>]]></Value>
    </titulografica>
    <tituloimportacion>
      <Value Culture="en-us"><![CDATA[<h1 class="spiex-lead mb-5">Main import sources</h1>]]></Value>
      <Value Culture="es-ni"><![CDATA[<h1 class="spiex-lead mb-5">Principales orígenes de importación</h1>]]></Value>
    </tituloimportacion>
    <titulolabel1>
      <Value Culture="en-us"><![CDATA[% of GDP]]></Value>
      <Value Culture="es-ni"><![CDATA[Como % del PIB]]></Value>
    </titulolabel1>
    <titulolabel2>
      <Value Culture="en-us"><![CDATA[FDI (US$ Millions)]]></Value>
      <Value Culture="es-ni"><![CDATA[IED (US$ Millones)]]></Value>
    </titulolabel2>
    <titulolabel3>
      <Value Culture="en-us"><![CDATA[% of GDP]]></Value>
      <Value Culture="es-ni"><![CDATA[% del PIB]]></Value>
    </titulolabel3>
    <titulolabel4>
      <Value Culture="en-us"><![CDATA[Exports (US$ millions)]]></Value>
      <Value Culture="es-ni"><![CDATA[Exportaciones (millones US$)]]></Value>
    </titulolabel4>
    <titulomapa>
      <Value Culture="en-us"><![CDATA[Trade agreements]]></Value>
      <Value Culture="es-ni"><![CDATA[Tratados Comerciales]]></Value>
    </titulomapa>
    <tituloMapa2>
      <Value Culture="en-us"><![CDATA[Exports]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </tituloMapa2>
    <tituloTratado1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Tratado 1]]></Value>
    </tituloTratado1>
    <tituloTratado2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Tratado 2]]></Value>
    </tituloTratado2>
    <tituloTratado3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Tratado 3]]></Value>
    </tituloTratado3>
    <tituloTratado4>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Tratado 4]]></Value>
    </tituloTratado4>
    <tituloTratado5>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Tratado 5]]></Value>
    </tituloTratado5>
    <tituloTratado6>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Tratado 6]]></Value>
    </tituloTratado6>
    <tituloTratado7>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </tituloTratado7>
    <titulovideo>
      <Value Culture="en-us"><![CDATA[Nicaragua, Ideal Destination for Investments]]></Value>
      <Value Culture="es-ni"><![CDATA[Nicaragua, Destino ideal para las inversiones]]></Value>
    </titulovideo>
    <tLC>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "b719f297-2f51-4849-a4d0-7830a3b0a8df",
    "mediaKey": "7baa847b-263c-404f-be6d-091359e060fe"
  }
]]]></Value>
    </tLC>
    <tLM>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "c2e42d66-90f1-4d2b-913f-fdf80a78e500",
    "mediaKey": "7f18e179-5503-433a-9de1-3f1a2752c78c"
  }
]]]></Value>
    </tLM>
    <tratado4>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "08856587-b4e8-4a9a-b26c-412dd3e66e05",
    "mediaKey": "f31677a8-4e63-44a5-b1f3-e842966e3af8"
  }
]]]></Value>
    </tratado4>
    <tratado5>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "80bdf042-1c8e-48c3-94fd-5e925db46777",
    "mediaKey": "160a84f3-1397-4b89-be72-74e31cbb7ed2"
  }
]]]></Value>
    </tratado5>
    <tratado6>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "55dcd5e8-cef9-4633-9d3b-1a7d7c466be8",
    "mediaKey": "7f18e179-5503-433a-9de1-3f1a2752c78c"
  }
]]]></Value>
    </tratado6>
    <tratado7>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "561fa265-a52f-4337-a057-37aeee7babe5",
    "mediaKey": "dd69404f-7cab-4e7d-bce9-db2255a21316"
  }
]]]></Value>
    </tratado7>
    <video1>
      <Value><![CDATA[<p><iframe width="100%" height="400" src="https://www.youtube.com/embed/xN_h02JRSBM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen="allowfullscreen"></iframe></p>]]></Value>
    </video1>
  </Properties>
</Content>