<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e89c9da-42b8-47e2-a3f1-e6ec2c6fb068" Alias="¿Pregunta 3?" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Pregunta3</Path>
    <Trashed Parent="b6c072e4-d4b2-4931-beaa-359f5345a4a0">true</Trashed>
    <ContentType>pYR</ContentType>
    <CreateDate>2023-07-11T16:27:01</CreateDate>
    <NodeName Default="¿Pregunta 3?">
      <Name Culture="es-ni">¿Pregunta 3?</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta>
      <Value Culture="es-ni"><![CDATA[¿Pregunta 3?]]></Value>
    </pregunta>
    <respuesta>
      <Value Culture="es-ni"><![CDATA[<p>Respuesta 3</p>]]></Value>
    </respuesta>
  </Properties>
</Content>