<?xml version="1.0" encoding="utf-8"?>
<Content Key="714254b8-8326-4c45-a2f9-e2acc0a9ec6c" Alias="¿Pregunta 4?" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Pregunta4</Path>
    <Trashed Parent="b6c072e4-d4b2-4931-beaa-359f5345a4a0">true</Trashed>
    <ContentType>pYR</ContentType>
    <CreateDate>2023-07-12T10:17:11</CreateDate>
    <NodeName Default="¿Pregunta 4?">
      <Name Culture="es-ni">¿Pregunta 4?</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta>
      <Value Culture="es-ni"><![CDATA[¿Pregunta 4?]]></Value>
    </pregunta>
    <respuesta>
      <Value Culture="es-ni"><![CDATA[<p>Respuesta 4</p>]]></Value>
    </respuesta>
  </Properties>
</Content>