<?xml version="1.0" encoding="utf-8"?>
<Content Key="e9d86aab-9ae4-45d6-be78-d26a51e36530" Alias="Presentacion 1" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Presentacion1</Path>
    <Trashed Parent="64abb70c-0e61-497b-99c3-8d70848c8a55">true</Trashed>
    <ContentType>presentacion</ContentType>
    <CreateDate>2023-07-10T15:42:55</CreateDate>
    <NodeName Default="Presentacion 1">
      <Name Culture="en-us">presentacion 1</Name>
      <Name Culture="es-ni">Presentacion 1</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="ca5508fc-dd83-46e6-88e7-ec5987f51bbb">Presentacion</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[
  {
    "key": "740fdc03-2682-42ef-af26-8e95148b083e",
    "mediaKey": "81994278-a40f-450f-a2b7-33c51365464c"
  }
]]]></Value>
    </banner>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <descargable>
      <Value><![CDATA[[
  {
    "key": "afcd5a8b-0352-49fb-9491-92896d4f5fc4",
    "mediaKey": "06907aef-f479-4ffb-90a0-3f0fe8bc1be3"
  }
]]]></Value>
    </descargable>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "011b2875-19bb-4ab4-b834-021547756165",
    "mediaKey": "f31677a8-4e63-44a5-b1f3-e842966e3af8"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "bb4d5314-1375-42a0-bd84-fcd40143f598",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <nombre>
      <Value Culture="en-us"><![CDATA[presentation 1]]></Value>
      <Value Culture="es-ni"><![CDATA[Presentacion 1]]></Value>
    </nombre>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Presentacion 1]]></Value>
    </titulo>
  </Properties>
</Content>