<?xml version="1.0" encoding="utf-8"?>
<Content Key="39fca0cb-47a7-46dd-b42d-81c0ce635d60" Alias="Presentacion 3" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Presentacion3</Path>
    <Trashed Parent="64abb70c-0e61-497b-99c3-8d70848c8a55">true</Trashed>
    <ContentType>presentacion</ContentType>
    <CreateDate>2023-07-10T15:43:57</CreateDate>
    <NodeName Default="Presentacion 3">
      <Name Culture="en-us">Presentacion 3</Name>
      <Name Culture="es-ni">Presentacion 3</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="ca5508fc-dd83-46e6-88e7-ec5987f51bbb">Presentacion</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[
  {
    "key": "c8cc8d18-4d5c-451c-ab5e-85e7123425e6",
    "mediaKey": "81994278-a40f-450f-a2b7-33c51365464c"
  }
]]]></Value>
    </banner>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <descargable>
      <Value><![CDATA[[
  {
    "key": "661ecc52-2bf2-4931-b96e-5f646d1eb10a",
    "mediaKey": "06907aef-f479-4ffb-90a0-3f0fe8bc1be3"
  }
]]]></Value>
    </descargable>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "e35b8128-1de9-4efa-b567-972c49bf4706",
    "mediaKey": "7f18e179-5503-433a-9de1-3f1a2752c78c"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "627f4e8d-2ae3-4a3b-8573-eb9d22c7b4cb",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <nombre>
      <Value Culture="en-us"><![CDATA[Presentation 3]]></Value>
      <Value Culture="es-ni"><![CDATA[Presentacion 3]]></Value>
    </nombre>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Presentacion 3]]></Value>
    </titulo>
  </Properties>
</Content>