<?xml version="1.0" encoding="utf-8"?>
<Content Key="b097b4af-38c7-4cfe-bb8a-feae9a22fb4e" Alias="¿Qué es SPIEX?" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/QueEsSPIEX</Path>
    <Trashed Parent="b6c072e4-d4b2-4931-beaa-359f5345a4a0">true</Trashed>
    <ContentType>pYR</ContentType>
    <CreateDate>2023-07-11T16:26:20</CreateDate>
    <NodeName Default="¿Qué es SPIEX?" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta>
      <Value><![CDATA[¿Qué es SPIEX?]]></Value>
    </pregunta>
    <respuesta>
      <Value><![CDATA[<p>SPIEX es la Secretaría de Promoción de Inversiones y Exportaciones de la Presidencia de la República de Nicaragua que ofrece servicios a empresas que deseen explorar oportunidades de negocio o expandir sus operaciones en Nicaragua.</p>]]></Value>
    </respuesta>
  </Properties>
</Content>