<?xml version="1.0" encoding="utf-8"?>
<Content Key="0899dceb-f5cb-4c94-b2e2-260d5f6d2ea5" Alias="¿Qué incentivos fiscales ofrece el país para el inversionista?" Level="2">
  <Info>
    <Parent Key="9a628330-ee37-4956-8eac-b2f1808a5600">Contacto</Parent>
    <Path>/Contacto/QueIncentivosFiscalesOfreceElPaisParaElInversionista</Path>
    <Trashed>false</Trashed>
    <ContentType>pregunta</ContentType>
    <CreateDate>2023-07-07T10:47:24</CreateDate>
    <NodeName Default="¿Qué incentivos fiscales ofrece el país para el inversionista?">
      <Name Culture="en-us">What tax incentives does the country offer to the investor?</Name>
      <Name Culture="es-ni">¿Qué incentivos fiscales ofrece el país para el inversionista?</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta1>
      <Value Culture="en-us"><![CDATA[What tax incentives does the country offer to the investor?]]></Value>
      <Value Culture="es-ni"><![CDATA[¿Qué incentivos fiscales ofrece el país para el inversionista?]]></Value>
    </pregunta1>
    <respuesta>
      <Value Culture="en-us"><![CDATA[<p>The national customs regime in Nicaragua offers various tax benefits for companies engaged in the import and export of goods. Some of these benefits include exemption from income taxes and VAT for companies that are exclusively dedicated to exporting. There are also tax and tariff exemptions for companies operating in Free Zones. In addition, the temporary admission regime for inward processing and export facilitation offers reductions and exemptions of customs duties and taxes.</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p>El régimen nacional aduanero en Nicaragua ofrece varios beneficios fiscales para las empresas que se dedican a la importación y exportación de bienes. Algunos de estos beneficios incluyen la exención de impuestos sobre la renta y el IVA para las empresas que se dedican exclusivamente a la exportación. También hay exenciones de impuestos y aranceles para las empresas que operan en Zonas Francas. Además, el régimen de admisión temporal para perfeccionamiento activo y de facilitación de las exportaciones ofrece reducciones y exenciones de derechos arancelarios e impuestos.</p>]]></Value>
    </respuesta>
  </Properties>
</Content>