<?xml version="1.0" encoding="utf-8"?>
<Content Key="993e1fe8-54f4-4dc4-8e78-adb0c7d7491f" Alias="¿Qué sectores para inversión promueve la SPIEX?" Level="2">
  <Info>
    <Parent Key="9a628330-ee37-4956-8eac-b2f1808a5600">Contacto</Parent>
    <Path>/Contacto/QueSectoresParaInversionPromueveLaSPIEX</Path>
    <Trashed>false</Trashed>
    <ContentType>pregunta</ContentType>
    <CreateDate>2023-07-07T10:46:13</CreateDate>
    <NodeName Default="¿Qué sectores para inversión promueve la SPIEX?">
      <Name Culture="en-us">What investment sectors does SPIEX promote?</Name>
      <Name Culture="es-ni">¿Qué sectores para inversión promueve la SPIEX?</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta1>
      <Value Culture="en-us"><![CDATA[What investment sectors does SPIEX promote?]]></Value>
      <Value Culture="es-ni"><![CDATA[¿Qué sectores para inversión promueve la SPIEX?]]></Value>
    </pregunta1>
    <respuesta>
      <Value Culture="en-us"><![CDATA[<p>The following sectors are promoted: Agribusiness, Agroforestry, Light Manufacturing, Textile Outsourced services (BPO, KPO, ITO and SSC) Fishing</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p>Se promueven los siguientes sectores: Agroindustria, Agroforestal,  Manufactura Ligera,  Textil Servicios tercerizados (BPO, KPO, ITO y SSC) Pesca </p>]]></Value>
    </respuesta>
  </Properties>
</Content>