<?xml version="1.0" encoding="utf-8"?>
<Content Key="85950d74-0ef0-46c1-a227-4765600249cb" Alias="¿Qué es SPIEX?" Level="2">
  <Info>
    <Parent Key="9a628330-ee37-4956-8eac-b2f1808a5600">Contacto</Parent>
    <Path>/Contacto/QueEsSPIEX</Path>
    <Trashed>false</Trashed>
    <ContentType>pregunta</ContentType>
    <CreateDate>2023-07-07T10:45:03</CreateDate>
    <NodeName Default="¿Qué es SPIEX?">
      <Name Culture="en-us">What is Spiex?</Name>
      <Name Culture="es-ni">¿Qué es SPIEX?</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta1>
      <Value Culture="en-us"><![CDATA[What is Spiex?]]></Value>
      <Value Culture="es-ni"><![CDATA[¿Qué es SPIEX?]]></Value>
    </pregunta1>
    <respuesta>
      <Value Culture="en-us"><![CDATA[<p>SPIEX is the Secretariat for the Promotion of Investments and Exports of the Presidency of the Republic of Nicaragua that offers services to companies that wish to explore business opportunities or expand their operations in Nicaragua.</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p>SPIEX es la Secretaría de Promoción de Inversiones y Exportaciones de la Presidencia de la República de Nicaragua que ofrece servicios a empresas que deseen explorar oportunidades de negocio o expandir sus operaciones en Nicaragua.</p>]]></Value>
    </respuesta>
  </Properties>
</Content>