<?xml version="1.0" encoding="utf-8"?>
<Content Key="f692cb1c-b0b1-42e1-a023-52ed353600db" Alias="¿Qué es SPIEX?" Level="2">
  <Info>
    <Parent Key="b6c072e4-d4b2-4931-beaa-359f5345a4a0">Chatbot</Parent>
    <Path>/Chatbot/QueEsSPIEX</Path>
    <Trashed>false</Trashed>
    <ContentType>pYR</ContentType>
    <CreateDate>2023-08-21T14:28:50</CreateDate>
    <NodeName Default="¿Qué es SPIEX?" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta>
      <Value><![CDATA[¿Qué es SPIEX?]]></Value>
    </pregunta>
    <respuesta>
      <Value><![CDATA[<p>SPIEX es la Secretaría de Promoción de Inversiones y Exportaciones de la Presidencia de la República de Nicaragua que ofrece servicios a empresas que deseen explorar oportunidades de negocio o expandir sus operaciones en Nicaragua.</p>]]></Value>
    </respuesta>
  </Properties>
</Content>