<?xml version="1.0" encoding="utf-8"?>
<Content Key="64abb70c-0e61-497b-99c3-8d70848c8a55" Alias="Recursos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Recursos</Path>
    <Trashed>false</Trashed>
    <ContentType>recursos</ContentType>
    <CreateDate>2023-07-10T11:01:31</CreateDate>
    <NodeName Default="Recursos">
      <Name Culture="en-us">Recursos</Name>
      <Name Culture="es-ni">Recursos</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="dc922b1a-584f-49b0-9019-12b6b98ed249">Recursos</Template>
  </Info>
  <Properties>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "6f1b3647-13cc-4abe-9364-f3320b8f9f2a",
    "mediaKey": "fc3af703-7ad2-4e48-af91-f5c36d61778a"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "4ffb6320-c1d8-4bac-8f82-f6947ecdd965",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <textodescarga>
      <Value Culture="en-us"><![CDATA[Download]]></Value>
      <Value Culture="es-ni"><![CDATA[Descargar]]></Value>
    </textodescarga>
    <textover>
      <Value Culture="en-us"><![CDATA[See more]]></Value>
      <Value Culture="es-ni"><![CDATA[Ver más]]></Value>
    </textover>
    <titulo>
      <Value Culture="en-us"><![CDATA[Resources]]></Value>
      <Value Culture="es-ni"><![CDATA[Recursos]]></Value>
    </titulo>
    <titulo1>
      <Value Culture="en-us"><![CDATA[Documents]]></Value>
      <Value Culture="es-ni"><![CDATA[Documentos]]></Value>
    </titulo1>
    <titulo2>
      <Value Culture="en-us"><![CDATA[Presentations]]></Value>
      <Value Culture="es-ni"><![CDATA[Presentaciones]]></Value>
    </titulo2>
  </Properties>
</Content>