<?xml version="1.0" encoding="utf-8"?>
<Content Key="68ab7e6b-c328-4e5e-ad12-e296fcf07f34" Alias="Recurso 2" Level="2">
  <Info>
    <Parent Key="64abb70c-0e61-497b-99c3-8d70848c8a55">Recursos</Parent>
    <Path>/Recursos/Recurso2</Path>
    <Trashed>false</Trashed>
    <ContentType>recurso</ContentType>
    <CreateDate>2023-07-10T15:41:50</CreateDate>
    <NodeName Default="Recurso 2">
      <Name Culture="en-us">Recurso 2</Name>
      <Name Culture="es-ni">Recurso 2</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="bce0fe6e-d972-4056-a9c5-93700715d097">Recurso</Template>
  </Info>
  <Properties>
    <banner>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "6529f892-14c9-40a1-a21c-ec5d05b089d9",
    "mediaKey": "62375947-1c4a-4911-afbf-761336a01c35"
  }
]]]></Value>
    </banner>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <descargable>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "03ecd791-2bf3-4294-8451-02773870e9ea",
    "mediaKey": "7b515699-4595-4513-8495-84f6c23b90bf"
  }
]]]></Value>
    </descargable>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "19535017-87ac-435a-aac2-87356a20581b",
    "mediaKey": "62375947-1c4a-4911-afbf-761336a01c35"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "80db3ed3-c4ed-45e5-95fd-020062d76e35",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <nombre>
      <Value Culture="en-us"><![CDATA[Resource 2]]></Value>
      <Value Culture="es-ni"><![CDATA[Recurso 2]]></Value>
    </nombre>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Recurso 2]]></Value>
    </titulo>
  </Properties>
</Content>