<?xml version="1.0" encoding="utf-8"?>
<Content Key="b4b453c9-f09c-4fa2-8385-ca0f712ecbfa" Alias="Recurso 1" Level="2">
  <Info>
    <Parent Key="64abb70c-0e61-497b-99c3-8d70848c8a55">Recursos</Parent>
    <Path>/Recursos/Recurso1</Path>
    <Trashed>false</Trashed>
    <ContentType>recurso</ContentType>
    <CreateDate>2023-07-10T15:41:21</CreateDate>
    <NodeName Default="Recurso 1">
      <Name Culture="en-us">Recurso 1</Name>
      <Name Culture="es-ni">Recurso 1</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="bce0fe6e-d972-4056-a9c5-93700715d097">Recurso</Template>
  </Info>
  <Properties>
    <banner>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "413283e8-b419-48ba-91ad-132ed87cada7",
    "mediaKey": "48aa9264-902a-486a-83a1-7f973d6d4bef"
  }
]]]></Value>
    </banner>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <descargable>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "a6e637c8-ea71-4eac-9afa-9628f2184f76",
    "mediaKey": "c5b3a2a7-d7ae-43ed-b938-24a202daa965"
  }
]]]></Value>
    </descargable>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "f4de1eda-7d40-4521-93a0-cab4f92a9f1f",
    "mediaKey": "160a84f3-1397-4b89-be72-74e31cbb7ed2"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "cb735ad1-93e0-4a1d-b12a-e3f7bfed17bf",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <nombre>
      <Value Culture="en-us"><![CDATA[Resource 1]]></Value>
      <Value Culture="es-ni"><![CDATA[Recurso 1]]></Value>
    </nombre>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Recurso 1]]></Value>
    </titulo>
  </Properties>
</Content>