<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f07e1bc-6338-4b12-ad59-0828a1da9e59" Alias="Recurso 3" Level="2">
  <Info>
    <Parent Key="64abb70c-0e61-497b-99c3-8d70848c8a55">Recursos</Parent>
    <Path>/Recursos/Recurso3</Path>
    <Trashed>false</Trashed>
    <ContentType>recurso</ContentType>
    <CreateDate>2023-07-10T15:42:12</CreateDate>
    <NodeName Default="Recurso 3">
      <Name Culture="en-us">Recurso 3</Name>
      <Name Culture="es-ni">Recurso 3</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="bce0fe6e-d972-4056-a9c5-93700715d097">Recurso</Template>
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[
  {
    "key": "1020e78f-7489-4b74-a6f4-1ea3783ca764",
    "mediaKey": "62375947-1c4a-4911-afbf-761336a01c35"
  }
]]]></Value>
    </banner>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </btnmodal>
    <descargable>
      <Value><![CDATA[[
  {
    "key": "d4d85e0f-1627-40f8-a24b-7ebdf4aa88c2",
    "mediaKey": "06907aef-f479-4ffb-90a0-3f0fe8bc1be3"
  }
]]]></Value>
    </descargable>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "e21c71fe-3ed1-46f8-ac83-58ae1c1c9f29",
    "mediaKey": "62375947-1c4a-4911-afbf-761336a01c35"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "a89f40b2-3e47-4cea-9ca7-8045c5cf47af",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <nombre>
      <Value Culture="en-us"><![CDATA[Resource 3]]></Value>
      <Value Culture="es-ni"><![CDATA[Recurso 3]]></Value>
    </nombre>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Recurso 3]]></Value>
    </titulo>
  </Properties>
</Content>