<?xml version="1.0" encoding="utf-8"?>
<Content Key="5933c3e3-ad04-40cc-b1ef-6540c0a61df4" Alias="Requests" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Requests</Path>
    <Trashed>false</Trashed>
    <ContentType>requests</ContentType>
    <CreateDate>2023-08-23T14:36:15</CreateDate>
    <NodeName Default="Requests" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8068087f-d13c-454a-9fac-9fa1efdeef01">Requests</Template>
  </Info>
  <Properties />
</Content>