<?xml version="1.0" encoding="utf-8"?>
<Content Key="55d3299e-4c91-455b-b4f5-3db2673bf68f" Alias="Retención y Expansión" Level="2">
  <Info>
    <Parent Key="0320ac25-f4ab-4d21-bf89-fd004da764f8">Servicios</Parent>
    <Path>/Servicios/RetencionYExpansion</Path>
    <Trashed>false</Trashed>
    <ContentType>servicio</ContentType>
    <CreateDate>2023-08-02T11:38:50</CreateDate>
    <NodeName Default="Retención y Expansión">
      <Name Culture="en-us">Retention and Expansion</Name>
      <Name Culture="es-ni">Retención y Expansión</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <banner>
      <Value><![CDATA[[
  {
    "key": "c69d9360-e0ff-4ccb-b748-caa7c46e021d",
    "mediaKey": "97607a55-9b97-475e-ab50-68795abfae15"
  }
]]]></Value>
    </banner>
    <botonenlace>
      <Value Culture="en-us"><![CDATA[#]]></Value>
      <Value Culture="es-ni"><![CDATA[#]]></Value>
    </botonenlace>
    <botontexto>
      <Value Culture="en-us"><![CDATA[Contact Advisor]]></Value>
      <Value Culture="es-ni"><![CDATA[Contactar a Asesor]]></Value>
    </botontexto>
    <contenido>
      <Value Culture="en-us"><![CDATA[<p>• Advice on investment opportunities to expand, diversify and add value to the local operations of companies.</p>
<p>• Approach with established companies, trade associations and academia for the development of initiatives that strengthen the value chains of the business ecosystem.</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p><strong>• Asesoramiento sobre oportunidades de inversión para expandir, diversificar y agregar valor a las operaciones locales de las empresas</strong></p>
<p><strong>• Acercamiento con empresas establecidas, asociaciones gremiales y la academia para el desarrollo de iniciativas que fortalezcan las cadenas de valor del ecosistema de negocios</strong></p>]]></Value>
    </contenido>
    <nombre>
      <Value Culture="en-us"><![CDATA[Retention and Expansion]]></Value>
      <Value Culture="es-ni"><![CDATA[Retención y Expansión]]></Value>
    </nombre>
  </Properties>
</Content>