<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a356a3d-f29e-4849-9b2b-a5e019d185a6" Alias="sadasada (1)" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/sadasada1</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-08-14T14:21:54</CreateDate>
    <NodeName Default="sadasada (1)" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[Perez]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[sadasada]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[Prueba ignorar]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[Johan]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[33327319]]></Value>
    </telefono>
  </Properties>
</Content>