<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a59c783-ab96-4c4a-818e-4fae1564c0f0" Alias="sadasada" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/sadasada</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-07-21T11:41:37</CreateDate>
    <NodeName Default="sadasada" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[sadasada]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[]]></Value>
    </telefono>
  </Properties>
</Content>