<?xml version="1.0" encoding="utf-8"?>
<Content Key="b59830d3-98fe-4728-8bac-3d0e29ceb0ac" Alias="sales@gmail.com" Level="2">
  <Info>
    <Parent Key="5933c3e3-ad04-40cc-b1ef-6540c0a61df4">Requests</Parent>
    <Path>/Requests/salesGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>request</ContentType>
    <CreateDate>2023-08-23T14:40:39</CreateDate>
    <NodeName Default="sales@gmail.com" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="22ab0c69-babd-479d-ba17-28fa07fcca64">Request</Template>
  </Info>
  <Properties>
    <company>
      <Value><![CDATA[Intel]]></Value>
    </company>
    <email>
      <Value><![CDATA[sales@gmail.com]]></Value>
    </email>
    <job>
      <Value><![CDATA[Sales]]></Value>
    </job>
    <lastName>
      <Value><![CDATA[Test]]></Value>
    </lastName>
    <message>
      <Value><![CDATA[Lorem]]></Value>
    </message>
    <name1>
      <Value><![CDATA[Test]]></Value>
    </name1>
    <origin>
      <Value><![CDATA[]]></Value>
    </origin>
    <phone>
      <Value><![CDATA[123456]]></Value>
    </phone>
  </Properties>
</Content>