<?xml version="1.0" encoding="utf-8"?>
<Content Key="48b1469b-4f03-4265-98ed-60cad3c597ff" Alias="¿Se involucra SPIEX en todos los procesos de inversión en el país?" Level="2">
  <Info>
    <Parent Key="9a628330-ee37-4956-8eac-b2f1808a5600">Contacto</Parent>
    <Path>/Contacto/SeInvolucraSPIEXEnTodosLosProcesosDeInversionEnElPais</Path>
    <Trashed>false</Trashed>
    <ContentType>pregunta</ContentType>
    <CreateDate>2023-07-07T10:46:32</CreateDate>
    <NodeName Default="¿Se involucra SPIEX en todos los procesos de inversión en el país?">
      <Name Culture="en-us">Is SPIEX involved in all investment processes in the country?</Name>
      <Name Culture="es-ni">¿Se involucra SPIEX en todos los procesos de inversión en el país?</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta1>
      <Value Culture="en-us"><![CDATA[Is SPIEX involved in all investment processes in the country?]]></Value>
      <Value Culture="es-ni"><![CDATA[¿Se involucra SPIEX en todos los procesos de inversión en el país?]]></Value>
    </pregunta1>
    <respuesta>
      <Value Culture="en-us"><![CDATA[<p>The SPIEX attends New Investments and Re-Investment of companies already established in the country. They are given guidance in the processes of establishing their investment project, as well as support in coordinating meetings with relevant institutions for the development of their operations.</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p>La SPIEX atiende Nuevas Inversiones y Re-Inversión de empresas ya establecidas en el país. Se les brinda orientación en los procesos de establecimiento de su proyecto de inversión, así como también, apoyo en la coordinación de reuniones con instituciones pertinentes para el desarrollo de sus operaciones.</p>]]></Value>
    </respuesta>
  </Properties>
</Content>