<?xml version="1.0" encoding="utf-8"?>
<Content Key="78ac5dec-4966-4095-8ae4-48c6ddf91ed0" Alias="Sectores" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sectores</Path>
    <Trashed>false</Trashed>
    <ContentType>sector</ContentType>
    <CreateDate>2023-07-10T10:53:42</CreateDate>
    <NodeName Default="Sectores">
      <Name Culture="en-us">Sectores</Name>
      <Name Culture="es-ni">Sectores</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="a3c06ab6-9588-4664-9968-cac82a4a4bb7">Sectores</Template>
  </Info>
  <Properties>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "01d1d890-6463-46f5-b83d-c7553a0c7143",
    "mediaKey": "4f054167-01b7-40d5-a7b2-48d7dd827d35"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "0d2e892d-2832-4d95-9837-9f185c68ebb0",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[The sectors of Nicaragua]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[Sectors]]></Value>
      <Value Culture="es-ni"><![CDATA[Sectores]]></Value>
    </titulo>
  </Properties>
</Content>