<?xml version="1.0" encoding="utf-8"?>
<Content Key="0320ac25-f4ab-4d21-bf89-fd004da764f8" Alias="Servicios" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Servicios</Path>
    <Trashed>false</Trashed>
    <ContentType>servicios</ContentType>
    <CreateDate>2023-07-10T15:59:09</CreateDate>
    <NodeName Default="Servicios">
      <Name Culture="en-us">Servicios</Name>
      <Name Culture="es-ni">Servicios</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template Key="adb515fd-84d6-47ef-b75f-8ff8332660d2">Servicios</Template>
  </Info>
  <Properties>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[Contact Us]]></Value>
      <Value Culture="es-ni"><![CDATA[Contáctanos]]></Value>
    </btnmodal>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <icono1>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "b3c1ba8e-53e5-45de-959b-7bcfdcfd43e0",
    "mediaKey": "3fa300e2-0e26-4175-a65e-01883d8122a1"
  }
]]]></Value>
    </icono1>
    <icono2>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "f47eb32b-2049-4ee3-8ea4-2b3ff555af22",
    "mediaKey": "3fa300e2-0e26-4175-a65e-01883d8122a1"
  }
]]]></Value>
    </icono2>
    <icono3>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
      <Value Culture="es-ni"><![CDATA[[
  {
    "key": "f82f1c55-d493-497c-adfd-c12e9b55649b",
    "mediaKey": "3fa300e2-0e26-4175-a65e-01883d8122a1"
  }
]]]></Value>
    </icono3>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "a5ea0b7f-da43-40c2-b441-d26e447945bc",
    "mediaKey": "b930a0a6-9df1-40c8-9dd4-9603697b3fc5"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "96e4469f-f4e7-452f-9cd7-9a833079426a",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <texto1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[SPIEX en el Plan Nacional de Lucha Contra la Pobreza y para el Desarrollo Humano (PNLCP-DH 22-26) Promover, facilitar y atraer más inversión nacional y extranjera directa en las áreas prioritarias y de actividades económicas en el futuro mediato. La Secretaría de Promoción de Inversiones y Exportaciones (SPIEX) es creada por la Ley 1134, dentro de la estructura de la Presidencia de la República.]]></Value>
    </texto1>
    <texto2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[El objetivo fundamental de la SPIEX es atraer la inversión privada, impulsando el comercio exterior y las exportaciones nacionales de bienes y servicios, fomentando un clima favorable a las inversiones, al comercio exterior. Así mismo, contribuir a los esfuerzos gubernamentales en materia de políticas de inversión, exportación y de facilitación, todo en coordinación plena con las demás instancias del sector público y privado.]]></Value>
    </texto2>
    <texto3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[La visión estratégica de SPIEX es promover, acompañar y retener proyectos de inversión de calidad y alto impacto. SPIEX brindará los servicios requeridos en el establecimiento de proyectos: Nueva inversión (greenfield) Expansiones Compra total o parcial de una infraestructura existente en el país para el desarrollo de una expansión (brownfield). ]]></Value>
    </texto3>
    <titulo>
      <Value Culture="en-us"><![CDATA[Services]]></Value>
      <Value Culture="es-ni"><![CDATA[Servicios]]></Value>
    </titulo>
    <titulo1>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Política Pública]]></Value>
    </titulo1>
    <titulo2>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Objetivo]]></Value>
    </titulo2>
    <titulo3>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Visión]]></Value>
    </titulo3>
    <tituloEtapa>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Servicios por etapa de Inversión]]></Value>
    </tituloEtapa>
    <tituloPrincipal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Datos del sector]]></Value>
    </tituloPrincipal>
    <titulotestimonios>
      <Value Culture="en-us"><![CDATA[Testimonials]]></Value>
      <Value Culture="es-ni"><![CDATA[Testimonios]]></Value>
    </titulotestimonios>
  </Properties>
</Content>