<?xml version="1.0" encoding="utf-8"?>
<Content Key="22528928-9b94-40ca-a219-a603f62ccb6d" Alias="test@intelector.net (3)" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/testIntelectornet3</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-08-15T15:50:54</CreateDate>
    <NodeName Default="test@intelector.net (3)" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[Test]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[Consultor]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[test@intelector.net]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[TestSA]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[Prueba Ignorar]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[Test]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[5555555555]]></Value>
    </telefono>
  </Properties>
</Content>