<?xml version="1.0" encoding="utf-8"?>
<Content Key="24321831-756b-4992-84b2-634076eb3999" Alias="test@intelector.net (4)" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/testIntelectornet4</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-08-15T15:52:24</CreateDate>
    <NodeName Default="test@intelector.net (4)" />
    <SortOrder>22</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[test]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[Vendedor]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[test@intelector.net]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[Intel]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[Ventas]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[Test2]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[33327319]]></Value>
    </telefono>
  </Properties>
</Content>