<?xml version="1.0" encoding="utf-8"?>
<Content Key="2e51fefb-159a-4683-99f7-2835e57b44e2" Alias="test@intelector.net" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/testIntelectornet</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-07-18T09:21:11</CreateDate>
    <NodeName Default="test@intelector.net" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[Test]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[test@intelector.net]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[Test]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[Test]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[2223334455]]></Value>
    </telefono>
  </Properties>
</Content>