<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2e784f7-db1f-42fd-a5d9-ae1f22b70271" Alias="test@test.net" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/testTestnet</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-08-21T11:28:26</CreateDate>
    <NodeName Default="test@test.net" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[test]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[test]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[test@test.net]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[test]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[test]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[test]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[555555555]]></Value>
    </telefono>
  </Properties>
</Content>