<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b4208e8-e824-4c2f-9a05-6599f9fca776" Alias="TEST@intelector.net (5)" Level="2">
  <Info>
    <Parent Key="7e25a96e-7f10-4804-b451-214a9263a673">Solicitudes</Parent>
    <Path>/Solicitudes/TESTIntelectornet5</Path>
    <Trashed>false</Trashed>
    <ContentType>solicitud</ContentType>
    <CreateDate>2023-08-16T14:09:50</CreateDate>
    <NodeName Default="TEST@intelector.net (5)" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <apellido>
      <Value><![CDATA[test]]></Value>
    </apellido>
    <cargo>
      <Value><![CDATA[fdfd]]></Value>
    </cargo>
    <correo>
      <Value><![CDATA[TEST@intelector.net]]></Value>
    </correo>
    <empresa>
      <Value><![CDATA[tesd]]></Value>
    </empresa>
    <mensaje>
      <Value><![CDATA[dsfdsafdsaf]]></Value>
    </mensaje>
    <nombre>
      <Value><![CDATA[Test]]></Value>
    </nombre>
    <origen>
      <Value><![CDATA[General]]></Value>
    </origen>
    <telefono>
      <Value><![CDATA[5555555]]></Value>
    </telefono>
  </Properties>
</Content>