<?xml version="1.0" encoding="utf-8"?>
<Content Key="69e3d338-83d1-4f08-be82-99895e4fd00c" Alias="Testimonio 1 (1)" Level="2">
  <Info>
    <Parent Key="62342875-9312-4c84-9959-8b9055b3c298">Testimonios</Parent>
    <Path>/Testimonios/Testimonio11</Path>
    <Trashed>false</Trashed>
    <ContentType>testimonio</ContentType>
    <CreateDate>2023-07-14T15:36:45</CreateDate>
    <NodeName Default="Testimonio 1 (1)">
      <Name Culture="en-us">Testimonio 2</Name>
      <Name Culture="es-ni">Testimonio 1 (1)</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cargo>
      <Value Culture="en-us"><![CDATA[Post]]></Value>
      <Value Culture="es-ni"><![CDATA[Cargo]]></Value>
    </cargo>
    <contenido>
      <Value Culture="en-us"><![CDATA[<p>uat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p>uat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget</p>]]></Value>
    </contenido>
    <empresa>
      <Value Culture="en-us"><![CDATA[Company]]></Value>
      <Value Culture="es-ni"><![CDATA[Empresa]]></Value>
    </empresa>
    <nombre>
      <Value Culture="en-us"><![CDATA[Name]]></Value>
      <Value Culture="es-ni"><![CDATA[Nombre]]></Value>
    </nombre>
  </Properties>
</Content>