<?xml version="1.0" encoding="utf-8"?>
<Content Key="62342875-9312-4c84-9959-8b9055b3c298" Alias="Testimonios" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Testimonios</Path>
    <Trashed>false</Trashed>
    <ContentType>testimonios</ContentType>
    <CreateDate>2023-07-10T15:51:50</CreateDate>
    <NodeName Default="Testimonios">
      <Name Culture="en-us">Testimonios</Name>
      <Name Culture="es-ni">Testimonios</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <btnmodal>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </btnmodal>
    <enlace>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </enlace>
    <imgbanner>
      <Value><![CDATA[[
  {
    "key": "fe69bd12-846b-4d79-bccf-93f859d1f130",
    "mediaKey": "81994278-a40f-450f-a2b7-33c51365464c"
  }
]]]></Value>
    </imgbanner>
    <logoinicio>
      <Value><![CDATA[[
  {
    "key": "7e64bf74-29a0-45cd-869b-b688bed4f3a4",
    "mediaKey": "2ef84e5f-bf08-4646-86fc-91d9b38a9143"
  }
]]]></Value>
    </logoinicio>
    <subtitulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </subtitulo>
    <texto>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[]]></Value>
    </texto>
    <titulo>
      <Value Culture="en-us"><![CDATA[]]></Value>
      <Value Culture="es-ni"><![CDATA[Testimonios]]></Value>
    </titulo>
  </Properties>
</Content>