<?xml version="1.0" encoding="utf-8"?>
<Content Key="c51f16b3-5ebc-451d-ae45-cc945a874d1e" Alias="¿Tienen algún costo monetario los servicios de la SPIEX?" Level="2">
  <Info>
    <Parent Key="9a628330-ee37-4956-8eac-b2f1808a5600">Contacto</Parent>
    <Path>/Contacto/TienenAlgunCostoMonetarioLosServiciosDeLaSPIEX</Path>
    <Trashed>false</Trashed>
    <ContentType>pregunta</ContentType>
    <CreateDate>2023-07-07T10:45:23</CreateDate>
    <NodeName Default="¿Tienen algún costo monetario los servicios de la SPIEX?">
      <Name Culture="en-us">Do the SPIEX services have any monetary cost?</Name>
      <Name Culture="es-ni">¿Tienen algún costo monetario los servicios de la SPIEX?</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es-ni">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta1>
      <Value Culture="en-us"><![CDATA[Do the SPIEX services have any monetary cost?]]></Value>
      <Value Culture="es-ni"><![CDATA[¿Tienen algún costo monetario los servicios de la SPIEX?]]></Value>
    </pregunta1>
    <respuesta>
      <Value Culture="en-us"><![CDATA[<p>The services offered by SPIEX are completely free.</p>]]></Value>
      <Value Culture="es-ni"><![CDATA[<p> Los servicios que ofrece la SPIEX son completamente gratuitos.</p>]]></Value>
    </respuesta>
  </Properties>
</Content>