<?xml version="1.0" encoding="utf-8"?>
<Content Key="14acaf58-4079-4ad5-8fa9-2eb65fa022a4" Alias="¿Tienen algún costo monetario los servicios de la SPIEX?" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/TienenAlgunCostoMonetarioLosServiciosDeLaSPIEX</Path>
    <Trashed Parent="b6c072e4-d4b2-4931-beaa-359f5345a4a0">true</Trashed>
    <ContentType>pYR</ContentType>
    <CreateDate>2023-07-11T16:26:42</CreateDate>
    <NodeName Default="¿Tienen algún costo monetario los servicios de la SPIEX?" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pregunta>
      <Value><![CDATA[¿Tienen algún costo monetario los servicios de la SPIEX?]]></Value>
    </pregunta>
    <respuesta>
      <Value><![CDATA[<p>Los servicios que ofrece la SPIEX son completamente gratuitos.</p>]]></Value>
    </respuesta>
  </Properties>
</Content>